/* 모든페이지의 레이아웃 요소(header/footer/서브레이아웃)
메뉴명, sub_wisual 이미지스타일, 탭메뉴 */

header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 140px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255,255, 0.2);
}
header .header_top {
    display: block;
    padding: 12px;
    height: 40px;
    border-bottom: 1px solid rgba(255, 255,255, 0.2);
    font-size: 15px;
}
header .header_top .wrapper{
    display: flex;
    justify-content: space-between;
}
header .header_top .tnb01 span a {
    margin-right: 30px;
    position: relative;
}
header .header_top .tnb01 span a::after {
    position: absolute;
    right: -18px;
    top: 6px;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: #fff;
    content: "";
}
header .header_top .tnb01 span:last-child a::after{
    display: none;
}
header .header_top .tnb02 span {
    margin-left: 20px;
}
header .header_top .tnb02 span a strong {
    font-weight: 500;
    position: relative;
    padding-right: 20px;
}
header .header_top .tnb02 span a strong::after{
    position: absolute;
    right: 0;
    top: 4px;
    width: 13px;
    height: 7px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.48653 7C6.35975 7 6.24256 6.97565 6.13497 6.92694C6.0274 6.87822 5.93169 6.81124 5.84783 6.726L0.250002 1.28832C0.0772984 1.12437 -0.00592669 0.953724 0.000327894 0.776363C0.00660285 0.599023 0.0982824 0.424343 0.275367 0.252326C0.448539 0.0841087 0.624452 0 0.803105 0C0.981758 0 1.15862 0.0831291 1.33369 0.249387L6.48959 5.29315L11.6819 0.249387C11.8452 0.0907484 12.0182 0.0144672 12.2008 0.0205428C12.3833 0.0266382 12.5632 0.113794 12.7402 0.282011C12.9134 0.454029 13 0.626808 13 0.800349C13 0.97389 12.9117 1.14589 12.7351 1.31634L7.13721 6.726C7.0413 6.81124 6.94057 6.87822 6.83504 6.92694C6.72948 6.97565 6.61332 7 6.48653 7Z' fill='white'/%3E%3C/svg%3E%0A");
    content: "";
}
header .header_top .tnb02 span.icon1 {
    position: relative;
    font-size: 0;
    line-height: 0;
}
header .header_top .tnb02 span.icon1::after {
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.50234 2.96352C9.34988 2.96352 9.21859 2.90974 9.10847 2.80218C8.99835 2.69463 8.94329 2.56426 8.94329 2.41107V0.565042C8.94329 0.411867 8.99683 0.279398 9.1039 0.167639C9.21097 0.0558798 9.34073 0 9.4932 0C9.64566 0 9.7777 0.0545259 9.8893 0.163577C10.0009 0.272612 10.0567 0.403718 10.0567 0.556893V2.40294C10.0567 2.55612 10.0024 2.68784 9.89387 2.79811C9.78532 2.90839 9.65481 2.96352 9.50234 2.96352ZM14.1284 4.87165C14.0028 4.76851 13.9426 4.64198 13.948 4.49205C13.9533 4.34211 14.0164 4.21252 14.1373 4.10326L15.4118 2.79259C15.5236 2.67558 15.6529 2.61708 15.7999 2.61708C15.9469 2.61708 16.0815 2.67814 16.2036 2.80027C16.3339 2.92578 16.3978 3.05639 16.3954 3.1921C16.393 3.32782 16.3284 3.45907 16.2017 3.58586L14.8927 4.87165C14.7659 4.99844 14.6385 5.06183 14.5105 5.06183C14.3825 5.06183 14.2551 4.99844 14.1284 4.87165ZM16.5971 10.0567C16.4439 10.0567 16.3122 10.0032 16.2019 9.8961C16.0916 9.78903 16.0365 9.65927 16.0365 9.5068C16.0365 9.35434 16.0903 9.22231 16.1978 9.1107C16.3054 8.9991 16.4357 8.94329 16.5889 8.94329H18.435C18.5881 8.94329 18.7206 8.99757 18.8324 9.10613C18.9441 9.21468 19 9.34519 19 9.49766C19 9.65012 18.9455 9.78141 18.8364 9.89153C18.7274 10.0016 18.5963 10.0567 18.4431 10.0567H16.5971ZM9.50234 19C9.34988 19 9.21859 18.9462 9.10847 18.8387C8.99835 18.7311 8.94329 18.6007 8.94329 18.4476V16.6105C8.94329 16.4573 8.99683 16.3248 9.1039 16.213C9.21097 16.1013 9.34073 16.0454 9.4932 16.0454C9.64566 16.0454 9.7777 16.0999 9.8893 16.209C10.0009 16.318 10.0567 16.4491 10.0567 16.6023V18.4394C10.0567 18.5926 10.0024 18.7243 9.89387 18.8346C9.78532 18.9449 9.65481 19 9.50234 19ZM4.10772 4.87165L2.78813 3.58041C2.67112 3.47289 2.61262 3.34855 2.61262 3.2074C2.61262 3.06625 2.67304 2.9299 2.79389 2.79835C2.92544 2.69298 3.05987 2.63643 3.19716 2.62869C3.33448 2.62095 3.46256 2.6775 3.5814 2.79835L4.87613 4.11626C4.99696 4.23513 5.05931 4.36053 5.06318 4.49247C5.06705 4.62441 5.00916 4.75081 4.88952 4.87165C4.77462 4.99725 4.64485 5.06004 4.5002 5.06004C4.35555 5.06004 4.22473 4.99725 4.10772 4.87165ZM15.4231 16.2133L14.1373 14.9043C14.0164 14.7864 13.9545 14.6586 13.9516 14.5208C13.9486 14.383 14.0069 14.2537 14.1266 14.1328C14.2462 14.012 14.3755 13.9516 14.5145 13.9516C14.6535 13.9516 14.7796 14.015 14.8927 14.1417L16.2183 15.431C16.3298 15.534 16.3863 15.6588 16.3878 15.8052C16.3893 15.9516 16.33 16.0853 16.21 16.2061C16.0914 16.327 15.9602 16.3886 15.8167 16.391C15.6731 16.3933 15.5419 16.3341 15.4231 16.2133ZM0.560584 10.0567C0.407408 10.0567 0.275684 10.0032 0.16541 9.8961C0.0551367 9.78903 0 9.65927 0 9.5068C0 9.35434 0.0537824 9.22231 0.161347 9.1107C0.268912 8.9991 0.399275 8.94329 0.552435 8.94329H2.39848C2.55166 8.94329 2.68413 8.99757 2.79588 9.10613C2.90764 9.21468 2.96352 9.34519 2.96352 9.49766C2.96352 9.65012 2.909 9.78141 2.79995 9.89153C2.69091 10.0016 2.5598 10.0567 2.40661 10.0567H0.560584ZM2.8028 16.2022C2.67721 16.078 2.61292 15.9478 2.60995 15.8115C2.60698 15.6752 2.66829 15.5442 2.79389 15.4186L4.09395 14.1417C4.22074 14.0304 4.35298 13.9748 4.49066 13.9748C4.62833 13.9748 4.74842 14.0301 4.85094 14.1408C4.96118 14.2623 5.0163 14.39 5.0163 14.5239C5.0163 14.6578 4.96362 14.7852 4.85825 14.906L3.57595 16.2075C3.45874 16.3274 3.3303 16.3874 3.19062 16.3874C3.05094 16.3874 2.92167 16.3256 2.8028 16.2022ZM9.49988 14.5605C8.09425 14.5605 6.89944 14.0692 5.91546 13.0866C4.9315 12.1041 4.43952 10.91 4.43952 9.50434C4.43952 8.09871 4.9308 6.90316 5.91337 5.91769C6.89594 4.93223 8.09004 4.43949 9.49566 4.43949C10.9013 4.43949 12.0968 4.93153 13.0823 5.9156C14.0678 6.89966 14.5605 8.0945 14.5605 9.50012C14.5605 10.9058 14.0685 12.1006 13.0844 13.0845C12.1003 14.0685 10.9055 14.5605 9.49988 14.5605ZM9.49777 13.4471C10.6014 13.4471 11.5355 13.0655 12.3002 12.3024C13.0648 11.5392 13.4471 10.6059 13.4471 9.50223C13.4471 8.3986 13.0648 7.46447 12.3002 6.69984C11.5355 5.93524 10.6014 5.55293 9.49777 5.55293C8.39414 5.55293 7.46076 5.93524 6.69764 6.69984C5.9345 7.46447 5.55293 8.3986 5.55293 9.50223C5.55293 10.6059 5.9345 11.5392 6.69764 12.3024C7.46076 13.0655 8.39414 13.4471 9.49777 13.4471Z' fill='white'/%3E%3C/svg%3E%0A");
    content: "";
}
header .header_top .tnb02 span.icon2 {
    position: relative;
    font-size: 0;
    line-height: 0;
}
header .header_top .tnb02 span.icon2::after {
    position: absolute;
    right: 2px;
    bottom: -3px;
    width: 15px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.1493 6.56227C10.446 6.56227 10.6982 6.45844 10.906 6.25077C11.1137 6.04308 11.2176 5.79089 11.2176 5.4942C11.2176 5.19752 11.1137 4.9453 10.9061 4.73754C10.6984 4.5298 10.4462 4.42593 10.1495 4.42593C9.8528 4.42593 9.60058 4.52977 9.39284 4.73746C9.1851 4.94513 9.08122 5.19731 9.08122 5.49401C9.08122 5.7907 9.18507 6.04292 9.39275 6.25066C9.60042 6.4584 9.85261 6.56227 10.1493 6.56227ZM4.85051 6.56227C5.1472 6.56227 5.39942 6.45844 5.60716 6.25077C5.8149 6.04308 5.91878 5.79089 5.91878 5.4942C5.91878 5.19752 5.81493 4.9453 5.60725 4.73754C5.39957 4.5298 5.14739 4.42593 4.8507 4.42593C4.554 4.42593 4.30178 4.52977 4.09404 4.73746C3.8863 4.94513 3.78243 5.19731 3.78243 5.49401C3.78243 5.7907 3.88627 6.04292 4.09394 6.25066C4.30162 6.4584 4.55381 6.56227 4.85051 6.56227ZM7.50773 15C6.47623 15 5.50452 14.8046 4.59261 14.4137C3.68069 14.0228 2.8824 13.4848 2.19773 12.7997C1.51306 12.1145 0.9756 11.3172 0.58536 10.4077C0.19512 9.49818 0 8.52637 0 7.49227C0 6.45703 0.195443 5.48696 0.586329 4.58207C0.977201 3.67718 1.51521 2.8824 2.20034 2.19773C2.88546 1.51306 3.68278 0.9756 4.59229 0.58536C5.50182 0.19512 6.47363 0 7.50773 0C8.54297 0 9.51304 0.195443 10.4179 0.58633C11.3228 0.977202 12.1176 1.51521 12.8023 2.20034C13.4869 2.88546 14.0244 3.68114 14.4146 4.58738C14.8049 5.49361 15 6.4619 15 7.49227C15 8.52377 14.8046 9.49548 14.4137 10.4074C14.0228 11.3193 13.4848 12.1176 12.7997 12.8023C12.1145 13.4869 11.3189 14.0244 10.4126 14.4146C9.50639 14.8049 8.5381 15 7.50773 15ZM7.49973 13.9894C9.29644 13.9894 10.8272 13.357 12.0921 12.0924C13.3569 10.8277 13.9894 9.29697 13.9894 7.50027C13.9894 5.70356 13.357 4.17278 12.0924 2.90792C10.8277 1.64305 9.29697 1.01062 7.50027 1.01062C5.70356 1.01062 4.17277 1.64296 2.90792 2.90765C1.64305 4.17233 1.01061 5.70303 1.01061 7.49973C1.01061 9.29644 1.64296 10.8272 2.90765 12.0921C4.17233 13.3569 5.70303 13.9894 7.49973 13.9894ZM7.48759 11.1843C8.13123 11.1843 8.73248 11.0496 9.29133 10.7801C9.85021 10.5105 10.3332 10.1341 10.7404 9.6507C10.8219 9.52984 10.8318 9.40877 10.7701 9.28748C10.7085 9.16617 10.6106 9.10552 10.4765 9.10552H4.52535C4.38991 9.10552 4.2914 9.16617 4.22981 9.28748C4.16821 9.40877 4.17865 9.52858 4.26114 9.6469C4.65304 10.1326 5.13062 10.5103 5.69387 10.7799C6.25713 11.0495 6.85503 11.1843 7.48759 11.1843Z' fill='white'/%3E%3C/svg%3E%0A");
    content: "";
}

header .header_sub .logo {
    margin: 35px 0 0 0;
}
header .header_sub .logo a {
    display: block;
    width: 186px;
    height: 36px;
    font-size: 0;
    line-height: 0;
    background: url(../imges/common/logo_w.png) no-repeat left center / contain;
}
header .header_sub .gnb .gnb_open,
header .header_sub .gnb .gnb_close {
    display: none; /* 모바일 */
}
header .header_sub .wrapper{
    display: flex;
    justify-content: space-between;
}
header .header_sub .gnb ul.depth1 {
    display: flex;
    text-align: center;
}
header .header_sub .gnb ul.depth1>li {
    width: 160px;
}
header .header_sub .gnb ul.depth1>li>a {
    display: block;
    font-size: 18px;
    line-height: 100px;
}
header .header_sub .gnb ul.depth2>li>a {
    font-size: 16px;
    line-height: 50px;
}
header .header_sub .gnb ul.depth2 {
    display: none; /* 마우스 오버*/
}
header .header_sub .tnb03 {
    display: flex;
}
header .header_sub .tnb03 a {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 37px 0 0 10px;
}
header .header_sub .tnb03 a.search {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7834 14.3911L20 18.6076L18.6076 20L14.3911 15.7834C12.875 16.9964 10.9522 17.722 8.86102 17.722C3.96973 17.722 0 13.7523 0 8.86102C0 3.96973 3.96973 0 8.86102 0C13.7523 0 17.722 3.96973 17.722 8.86102C17.722 10.9522 16.9964 12.875 15.7834 14.3911ZM13.8081 13.6605C15.012 12.4198 15.7529 10.7273 15.7529 8.86102C15.7529 5.05324 12.6688 1.96911 8.86102 1.96911C5.05324 1.96911 1.96911 5.05324 1.96911 8.86102C1.96911 12.6688 5.05324 15.7529 8.86102 15.7529C10.7273 15.7529 12.4198 15.012 13.6605 13.8081L13.8081 13.6605Z' fill='white'/%3E%3C/svg%3E%0A");
    margin-left: 0;
}
header .header_sub .tnb03 a.lang {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99329 20C8.61457 20 7.31854 19.7404 6.10519 19.2213C4.89183 18.7022 3.83053 17.988 2.92129 17.0787C2.01202 16.1695 1.29783 15.1082 0.77871 13.8948C0.25957 12.6815 0 11.3854 0 10.0067C0 8.61328 0.25957 7.31253 0.77871 6.10446C1.29783 4.89638 2.01202 3.83697 2.92129 2.9262C3.83053 2.01544 4.89183 1.30005 6.10519 0.78003C7.31854 0.26001 8.61457 0 9.99329 0C11.3867 0 12.6875 0.260076 13.8955 0.780228C15.1036 1.30038 16.163 2.01597 17.0738 2.92699C17.9846 3.83799 18.6999 4.89769 19.22 6.10608C19.74 7.31448 20 8.61245 20 10C20 11.3832 19.74 12.6815 19.22 13.8948C18.6999 15.1082 17.9846 16.1695 17.0738 17.0787C16.163 17.988 15.1036 18.7022 13.8955 19.2213C12.6875 19.7404 11.3867 20 9.99329 20ZM10 18.6687C10.4163 18.2563 10.804 17.5849 11.1632 16.6547C11.5224 15.7245 11.7989 14.6945 11.9927 13.5649H8.01274C8.21372 14.727 8.492 15.7713 8.84758 16.6979C9.20317 17.6245 9.58731 18.2815 10 18.6687ZM8.32508 18.5055C7.95406 17.9191 7.61998 17.198 7.32281 16.3421C7.02563 15.4863 6.79981 14.5606 6.64536 13.5649H2.11041C2.70402 14.8876 3.54889 15.9764 4.64501 16.8311C5.74113 17.6859 6.96782 18.244 8.32508 18.5055ZM11.6749 18.5055C13.0286 18.2476 14.2544 17.6904 15.3523 16.8338C16.4502 15.9773 17.2978 14.8876 17.895 13.5649H13.36C13.166 14.5678 12.9203 15.4971 12.6232 16.3529C12.326 17.2088 12.0099 17.9263 11.6749 18.5055ZM1.66846 12.2175H6.51179C6.45993 11.8126 6.42751 11.418 6.41455 11.0336C6.40157 10.6493 6.39508 10.286 6.39508 9.94381C6.39508 9.60162 6.40157 9.24771 6.41455 8.88209C6.42751 8.51648 6.45993 8.14997 6.51179 7.78255H1.66846C1.55101 8.15501 1.46816 8.52703 1.41989 8.89861C1.37162 9.27017 1.34749 9.6373 1.34749 10C1.34749 10.3627 1.37162 10.7298 1.41989 11.1014C1.46816 11.473 1.55101 11.845 1.66846 12.2175ZM7.90142 12.2175H12.104C12.158 11.7938 12.1924 11.4044 12.2072 11.049C12.2219 10.6936 12.2293 10.344 12.2293 10C12.2293 9.65603 12.2219 9.30168 12.2072 8.93696C12.1924 8.57223 12.158 8.18743 12.104 7.78255H7.90142C7.84379 8.18743 7.80759 8.57223 7.79283 8.93696C7.77805 9.30168 7.77066 9.65603 7.77066 10C7.77066 10.344 7.77805 10.6983 7.79283 11.063C7.80759 11.4278 7.84379 11.8126 7.90142 12.2175ZM13.4882 12.2175H18.337C18.4508 11.845 18.5318 11.473 18.5801 11.1014C18.6284 10.7298 18.6525 10.3627 18.6525 10C18.6525 9.6373 18.6284 9.26549 18.5801 8.88456C18.5318 8.50361 18.4508 8.13628 18.337 7.78255H13.4882C13.5401 8.18743 13.5725 8.58204 13.5854 8.96637C13.5984 9.35073 13.6049 9.714 13.6049 10.0562C13.6049 10.3984 13.5984 10.7523 13.5854 11.1179C13.5725 11.4835 13.5401 11.85 13.4882 12.2175ZM13.36 6.43506H17.895C17.2942 5.10157 16.4538 4.01284 15.3739 3.16887C14.294 2.3249 13.061 1.76316 11.6749 1.48364C12.0459 2.10608 12.3773 2.83983 12.6691 3.68488C12.9609 4.52993 13.1912 5.44666 13.36 6.43506ZM8.01274 6.43506H11.9927C11.7881 5.28384 11.5026 4.23501 11.1362 3.28859C10.7698 2.34214 10.3911 1.68971 10 1.33127C9.60892 1.68971 9.23019 2.34214 8.8638 3.28859C8.49741 4.23501 8.21372 5.28384 8.01274 6.43506ZM2.11041 6.43506H6.64536C6.81062 5.44666 7.03914 4.52993 7.3309 3.68488C7.62267 2.83983 7.95406 2.10608 8.32508 1.48364C6.9354 1.76675 5.7015 2.3303 4.6234 3.17426C3.5453 4.01823 2.70763 5.10516 2.11041 6.43506Z' fill='white'/%3E%3C/svg%3E%0A");
}

/*마우스 오버*/
@media screen and (min-width:1025px) {
    header .header_sub .gnb ul.depth1 > li {
        position: relative;
    }
    header .header_sub .gnb ul.depth1 > li.on::before {
        position: absolute;
        left: 0;
        top: 100px;
        z-index: -1;
        width: 160px;
        height: 410px;
        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4px) brightness(70%);
        content: "";
    }
    header .header_sub .gnb ul.depth1 > li.on:hover > a {
        font-weight: 500;
    }
    header .header_sub .gnb ul.depth1 > li.on ul.depth2 {
        display: block;
    }
    header .header_sub .gnb  ul.depth1 > li.on ul.depth2 > li > a:hover {
        font-weight: 500;
        border-bottom: 0.5px solid #fff
    }
}

@media screen and (max-width:1320px){
    header .header_sub .logo a {
        width: 180px;
        height: 30px;
    }
    header .header_sub .gnb ul.depth1>li {
        width: 140px;
    }
    header .header_sub .gnb ul.depth1>li>a {
        font-size: 16px;
    }
}
@media screen and (max-width:1024px) {
    header {
        height: 120px;
    }
    header .header_top .tnb02 span a strong {
        display: none;
    }
    header .header_sub .logo {
        margin: 25px 0 0 0;
    }
    header .header_sub .gnb .gnb_open {
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='23.9999' height='1.45454' fill='white'/%3E%3Crect x='5.09131' y='5.81812' width='18.909' height='1.45454' fill='white'/%3E%3Crect y='11.6362' width='23.9999' height='1.45454' fill='white'/%3E%3C/svg%3E%0A");
    }
    header .header_sub .gnb .gnb_open,
    header .header_sub .gnb .gnb_close {
        position: absolute; /* header 기준 */
        right: 0;
        top: 55px;
        width: 60px;
        height: 50px;
        font-size: 0;
        line-height: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 24px auto;
    }
    header .header_sub .gnb ul.depth1 {
        display: none;
    }
    header .header_sub .tnb03 a {
        margin: 30px 0 0 20px;
    }
    header .header_sub .tnb03 a.lang {
        margin-right: 40px;
    }
}
@media screen and (max-width:768px) {
    header {
        height: 80px;
    }
    header .header_top {
        display: none;
    }
    header .header_sub .logo {
        margin: 28px 0 0 0;
    }
    header .header_sub .logo a {
        width: 176px;
        height: 26px;
    }
    header .header_sub .gnb .gnb_open,
    header .header_sub .gnb .gnb_close {
        right: 0;
        top: 15px;
    }
    header .header_sub .tnb03 a {
        margin-right: 40px;
    }
    header .header_sub .tnb03 a.lang {
        display: none;
    }
}

footer {
    background-color: #000233;
    padding: 60px 0 80px 0;
}
footer .inner {
    font-size: 15px;
    color: rgba(255, 255,255, 0.8);
}
footer .inner .f_site {
    float: right;
}
footer .inner .f_site ul li {
    border: 1px solid rgba(255, 255,255, 0.2);
    border-radius: 5px;
    padding: 10px 35px 8px 14px;
    text-align: right;
    margin-bottom: 10px;
}
footer .inner .f_site ul li a {
    display: block;
    position: relative;
}
footer .inner .f_site ul li a span {
    position: relative;
}
footer .inner .f_site ul li a span::after {
    position: absolute;
    right: -20px;
    top: 0;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.36443 14C0.985841 14 0.663785 13.8672 0.398262 13.6017C0.132754 13.3362 0 13.0142 0 12.6356V1.36443C0 0.985841 0.132754 0.663785 0.398262 0.398262C0.663785 0.132754 0.986128 0 1.36529 0H6.05467C6.20179 0 6.32882 0.0530188 6.43577 0.159056C6.54273 0.265093 6.59621 0.390991 6.59621 0.536752C6.59621 0.685853 6.54273 0.814904 6.43577 0.923904C6.32882 1.03292 6.20179 1.08743 6.05467 1.08743H1.36649C1.29673 1.08743 1.23278 1.11649 1.17463 1.17463C1.11649 1.23278 1.08743 1.29673 1.08743 1.36649V12.6335C1.08743 12.7033 1.11649 12.7672 1.17463 12.8254C1.23278 12.8835 1.29673 12.9126 1.36649 12.9126H12.6335C12.7033 12.9126 12.7672 12.8835 12.8254 12.8254C12.8835 12.7672 12.9126 12.7033 12.9126 12.6335V7.94533C12.9126 7.79821 12.9655 7.67118 13.0713 7.56423C13.1771 7.45727 13.3039 7.40379 13.4515 7.40379C13.5992 7.40379 13.7275 7.45727 13.8365 7.56423C13.9455 7.67118 14 7.79821 14 7.94533V12.6347C14 13.0139 13.8672 13.3362 13.6017 13.6017C13.3362 13.8672 13.0142 14 12.6356 14H1.36443ZM12.9126 1.86354L5.31168 9.46879C5.1901 9.58682 5.06742 9.6435 4.94364 9.63885C4.81984 9.63419 4.6937 9.56617 4.56522 9.43478C4.43383 9.3063 4.36814 9.17695 4.36814 9.04672C4.36814 8.9165 4.43289 8.78809 4.56241 8.66148L12.1365 1.08743H9.57606C9.4256 1.08743 9.297 1.03451 9.19027 0.928688C9.08354 0.822863 9.03017 0.696125 9.03017 0.548475C9.03017 0.400824 9.08354 0.272499 9.19027 0.163499C9.297 0.0544998 9.4256 0 9.57606 0H14V4.42394C14 4.5744 13.947 4.703 13.8409 4.80973C13.7349 4.91646 13.609 4.96983 13.4632 4.96983C13.3141 4.96983 13.1851 4.91646 13.0761 4.80973C12.9671 4.703 12.9126 4.5744 12.9126 4.42394V1.86354Z' fill='white'/%3E%3C/svg%3E%0A");
    content: "";
    opacity: 0.8;
}
@media screen and (max-width:768px) {
    footer .inner .f_site {
        float: none;
        margin-bottom: 50px ;
    }
    footer .inner .f_site ul li {
        text-align: center;
        margin-bottom: 10px;
    }
    footer .inner .f_nav ul {
        display: flex;
        flex-wrap: wrap; /* 줄바꿈 허용 */
        margin-bottom: 20px;
    }
    footer .inner .f_nav ul li {
        margin: 0 30px 5px 0;

    }
}

footer .inner .f_nav ul {
    display: flex;
    margin-bottom: 30px;
}
footer .inner .f_nav ul li {
    margin-right: 25px;
}
footer .inner .f_nav ul li a {
    display: block;
    position: relative;
    color: #fff;
}
footer .inner .f_nav ul li a::after {
    position: absolute;
    right: -15px;
    top: 6px;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: rgba(255, 255,255, 0.4);
    content: "";
}
footer .inner .f_nav ul li:last-child a::after {
    display: none;
}
footer .inner .f_nav ul li a strong {
    font-weight: 500;
    color:#fff;
}
footer .inner .f_info  {
    font-size: 14px;
}
footer .inner .f_info ul {
    margin-bottom: 40px;
}
footer .inner .f_info ul li {
    margin-bottom: 5px;
}

@media screen and (max-width:589px) {
    footer .inner .f_nav ul li:nth-child(2) a::after {
        display: none;
    }
}