@import url(default.css);
@import url(common.css);


header {
    height: 100px;
    font-size: 18px;
    font-weight: 800;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header .gnb ul {
    display: flex;
    justify-content: space-between;
}
header .gnb ul li {
    line-height: 5;
}
header .gnb ul li a {
    display: block;
}
.tit {
    letter-spacing : -0.1em; /* 글자자간*/
    padding: 50px 80px;
    line-height: 0.9;
}
.tit h1 {
    font-size: 140px;
    font-weight: 800;
}
.tit h1 strong {
}