@import url(default.css);
@import url(common.css);
@import url(layout.css);

@media screen and (max-width:1600px){
    section .wrapper
    footer .wrapper {
        width: auto;
        margin: 0 150px;
    }
}
#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
    color: #000;
}
#fp-nav ul li .fp-tooltip {
    top: -6px;
    font-size: 20px;
    font-family: 'Geologica';
    font-weight: 800;
}

.web, .edit_design, .finish h2 {
    font-size: 90px;
    font-weight: 800;
}

.main {
    background: url(../imges/main/protfoilo_bg.png) no-repeat center center /cover ;
}
.main .main_tit {
    font-weight: 800;
    margin-top: 120px;
}
.main .main_tit h1 {
    font-size: 80px;
}
.main .main_tit span.list {
    display: flex;
    font-size: 60px;
}
.main .main_tit span.txt {
    display: flex;
    justify-content: space-between;
    padding: 200px 0 20px 0;
}
.main .main_tit span.txt strong{
    font-size: 40px;
}

.info .inner {
    display: flex;
    justify-content: space-between;
}
.info .inner .info_left .txt h2 {
    font-size: 60px;
    font-weight: 800;
    margin: 57px 0 48px 0;
}
.info .inner .info_left .txt p {
    font-size: 18px;
    line-height: 1.4;
}
.info .inner .info_right {
    margin: 100px 200px 0 0;
}
.info .inner .info_right strong {
    display: block;
    font-weight: 800;
    float: left;
}
.info .inner .info_right  span {
    display: block;
    margin: 0 0 40px 130px;
    line-height: 1.5;
}
.web .web_tit {
    padding: 0 200px;
}
.web .web_tit>h2 {
    margin-bottom: 50px;
}
.web .list ul li {
    border-bottom: 1px solid #D9D9D9;
}
.web .list ul li:first-child {
    border-top: 1px solid #D9D9D9;
}
.web .list ul li a {
    display: block;
    padding: 45px 0;
}
.web .list ul li a h2 {
    font-size: 50px;
    padding-left: 10px;
}
.web .list ul li a h2 strong {
    font-size: 30px;
    margin-left: 40px;
}


