@charset "utf-8"; /* 이 css문서는 utf-8로 인코딩 되어 있습니다. */
@import url(default.css);
/* 본고딕은 CDN방식으로 사용할 때(나한테 폰트가없고 가져올때 쓰는 방식)
    폰트를 정의하는 font-face가 입력된 css를 import불러다가 사용하는 방식을 많이 씀
    그러나 구글이 서비스 중단하면 사용못해서 font 파일을 저장해서 사용하는 방식을 사용한다 */
@font-face { font-family:'Eulyoo1945'; src:url('../fonts/Eulyoo1945-Regular.woff') format('woff'); font-weight:400; font-style:normal; }
@font-face { font-family:'Eulyoo1945'; src:url('../fonts/Eulyoo1945-Regular.woff2') format('woff2'); font-weight:400; font-style:normal; }
@font-face { font-family:'Eulyoo1945'; src:url('../fonts/Eulyoo1945-SemiBold.woff') format('woff'); font-weight:600; font-style:normal; }
@font-face { font-family:'Eulyoo1945'; src:url('../fonts/Eulyoo1945-SemiBold.woff2') format('woff2'); font-weight:600; font-style:normal; }

::selection { /* 드레그시 바탕색*/
    background-color: #1d1d1d;
    color: #fff;
}
::-moz-selection { /* 브라우저 호환성 코드*/
    background-color: #1d1d1d;
    color: #fff;
}


html, body {
    /* Pretendard Variable */
    font-family: 'Eulyoo1945', serif; /*서체*/
    font-size: 15px; /*크기*/
    color: #3d3d3d; /* 글자색상 */
    font-weight: 400; /* 글자의 두께 */
    line-height: 1.3; /*auto*/
    word-break: keep-all; /*(중요) 단어를 묶어서 줄바꿈 */
    /* letter-spacing: -0.05em; /*자간*/
}
.wrapper { /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
    width: 1280px; /* 넓이제한 */   
    margin: 0 auto; /* 가운데설정 */
}
#wrap {/* id=wrap"에 적용되는 스타일 */
    min-width: 1280px;
    /* pc형에서 wrapper사이즈보다브라우저 넓이가 작을 때 가로스크롤바가 생성되는데
    오른쪽 background가 짤리는 현상이 생김 가로스크롤바가 생성되엇을때도 홈페이지를 정상적으로 서비스 하기위해
    최소 넓이를 입력*/
    /*overflow: hidden;*/
    /*overflow: hidden : 콘텐츠 영역 밖은 잘라버림*/
}

/* 모바일 640px 이하일때 스타일  */
@media screen and (max-width:640px){
    html, body {
        /* Pretendard Variable */
        font-size: 13px; /*크기*/
        color: #3d3d3d; /* 글자색상 */
        font-weight: 400; /* 글자의 두께 */
        line-height: 1.4; /*auto*/
        word-break: keep-all; /*(중요) 단어를 묶어서 줄바꿈 */
    }
    .wrapper { /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
        width: auto; /* 모바일에서는 넓이제한하면 안되서 auto를 준다 */   
        margin: 0 20px; /* 모바일은 디바이스때문에 유동적이여야하나 안쪽으로 좌우 20px들어가야함 */
    }
    #wrap {/* id=wrap"에 적용되는 스타일 */
        min-width: auto
         ;
        /* 홈페이지 최소넓이 제한하지 않음 */
    }
}/*media*/

.skipnav {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 100000000;
    width: 100%;
}
.skipnav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #00AB11;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}
/* 속성선택자
    a태그중에서 href="gnb"인 a태그의 스타일 - 남발x*/
.skipnav a[href="#gnb"] {
        background-color: #BA4C29;
}
.skipnav a:focus {
    top: 100px;
}

.header {
    position: fixed; /* 스크롤 내려도 고정시키는 것 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    color: #fff;
    transition: 0.5s; /* header에 나중에 마우스를 올리거나 class가 추가되거나
     변화가 생겨서 스타일이 변경된다면 그때 천천히 변경 돼*/
}
.header .inner {
    display: flex;
    justify-content: space-between;
    margin: 0 140px 0 0;
}
.header .logo {
    margin: 30px 0 0 0;
}
.header .logo a {
    width: 209px;
    height: 35px;
    display: block;
    font-size: 0;
    line-height: 0;
    background: url(../images/logo_w01.png) no-repeat center center;
}

.header .gnb .gnb_open,
.header .gnb .gnb_close {
    display: none;
}
.header .gnb ul.depth1 {
    display: flex;
}
.header .gnb ul.depth1 > li {
    width: 120px;
    text-align: center;
}
.header .gnb ul.depth1 > li > a {
    display: block; /* width 100% */
    line-height: 100px; /* 높이 100px에 글자는 위아래 가운데*/
    font-size: 20px;
    font-weight: 600;
}
.header .gnb ul.depth2 { /* 2차메뉴 */
    margin-top: 25px;
    display: none;
}
.header .gnb ul.depth2 > li > a {
    display: block; /* 넓이 100% */
    font-size: 17px;
    line-height: 40px;
}
.header .tnb {
    display: flex;
}
.header .tnb .login,
.header .tnb .search {
    width: 25px;
    height: 25px;
    margin: 35px 0 0 20px;
    font-size: 0;
    line-height: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px auto; /* 아이콘 사이즈 */
}
.header .tnb .login {
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 7.65865C7.4037 7.65865 6.47782 7.28879 5.72237 6.54908C4.96692 5.80937 4.5892 4.90278 4.5892 3.82932C4.5892 2.75586 4.96692 1.84928 5.72237 1.10957C6.47782 0.369856 7.4037 0 8.5 0C9.5963 0 10.5222 0.369856 11.2776 1.10957C12.0331 1.84928 12.4108 2.75586 12.4108 3.82932C12.4108 4.90278 12.0331 5.80937 11.2776 6.54908C10.5222 7.28879 9.5963 7.65865 8.5 7.65865ZM0 14.4445V13.8252C0 13.451 0.111973 13.0939 0.33592 12.7538C0.559866 12.4138 0.882311 12.1153 1.30325 11.8583C2.42503 11.2353 3.59693 10.7547 4.81897 10.4165C6.04102 10.0783 7.26584 9.90919 8.49341 9.90919C9.72101 9.90919 10.9485 10.0782 12.1759 10.4162C13.4033 10.7543 14.5774 11.2348 15.6982 11.8579C16.1187 12.0936 16.4408 12.3868 16.6645 12.7376C16.8882 13.0884 17 13.4509 17 13.8251V14.4445C17 14.8774 16.8456 15.2448 16.5369 15.5469C16.2281 15.849 15.8525 16 15.4101 16H1.57938C1.13692 16 0.763079 15.849 0.457847 15.5469C0.152616 15.2448 0 14.8774 0 14.4445ZM1.56354 14.469H15.4365V13.8285C15.4365 13.6887 15.3869 13.5588 15.2877 13.4387C15.1885 13.3187 15.0483 13.2152 14.8672 13.1283C13.9232 12.5717 12.9117 12.1512 11.8327 11.8668C10.7536 11.5824 9.64248 11.4402 8.49918 11.4402C7.34831 11.4402 6.23525 11.5824 5.16001 11.8668C4.08478 12.1512 3.07781 12.5717 2.13908 13.1283C1.95266 13.2503 1.81013 13.3662 1.71148 13.4761C1.61285 13.5861 1.56354 13.703 1.56354 13.8269V14.469ZM8.50691 6.12768C9.15432 6.12768 9.70623 5.90198 10.1626 5.45056C10.6191 4.99913 10.8473 4.45646 10.8473 3.82256C10.8473 3.18864 10.6168 2.64822 10.1557 2.20132C9.69469 1.75442 9.14048 1.53096 8.49309 1.53096C7.84568 1.53096 7.29377 1.75667 6.83735 2.20809C6.38094 2.65952 6.15274 3.20219 6.15274 3.83609C6.15274 4.47001 6.38325 5.01042 6.84427 5.45733C7.30531 5.90423 7.85952 6.12768 8.50691 6.12768Z' fill='white'/%3E%3C/svg%3E");
}
.header .tnb .search {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.67563 11.3562C4.09764 11.3562 2.7572 10.8036 1.65433 9.69849C0.551444 8.59338 0 7.25356 0 5.67906C0 4.10455 0.550926 2.76441 1.65278 1.65864C2.75463 0.552879 4.09269 0 5.66696 0C7.24121 0 8.58048 0.552974 9.68479 1.65892C10.7891 2.76487 11.3412 4.106 11.3412 5.6823C11.3412 6.34429 11.2327 6.98334 11.0156 7.59945C10.7984 8.21556 10.5042 8.76924 10.133 9.26048L15.7878 14.9085C15.9259 15.0464 15.9966 15.1893 15.9999 15.3373C16.0032 15.4852 15.9307 15.6327 15.7823 15.7796C15.6339 15.9265 15.484 16 15.3326 16C15.1812 16 15.0332 15.9277 14.8886 15.783L9.2395 10.1463C8.72624 10.54 8.16327 10.84 7.55062 11.0465C6.93798 11.2529 6.31298 11.3562 5.67563 11.3562ZM5.67063 10.1125C6.91042 10.1125 7.95846 9.6844 8.81474 8.82824C9.67103 7.97211 10.0992 6.92186 10.0992 5.6775C10.0992 4.43315 9.67103 3.38309 8.81474 2.52733C7.95846 1.67158 6.90959 1.2437 5.66815 1.2437C4.42671 1.2437 3.37867 1.67178 2.52404 2.52793C1.66941 3.38408 1.24209 4.43433 1.24209 5.67867C1.24209 6.92303 1.66954 7.97308 2.52445 8.82884C3.37936 9.6846 4.42809 10.1125 5.67063 10.1125Z' fill='white'/%3E%3C/svg%3E%0A");
}

/* header에 브라우저가 스크롤 되었을 때 디자인 변경 */
.header.fiexd {
    background-color: #fff;
    color: #1d1d1d;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05); /* 그림자 주고 싶을 때*/
}
.header.fiexd .logo a {
    width: 209px;
    height: 35px;
    display: block;
    font-size: 0;
    line-height: 0;
    background-image: url(../images/logo_b.png)
}
.header.fiexd .tnb .login {
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 7.65865C7.4037 7.65865 6.47782 7.28879 5.72237 6.54908C4.96692 5.80937 4.5892 4.90278 4.5892 3.82932C4.5892 2.75586 4.96692 1.84928 5.72237 1.10957C6.47782 0.369856 7.4037 0 8.5 0C9.5963 0 10.5222 0.369856 11.2776 1.10957C12.0331 1.84928 12.4108 2.75586 12.4108 3.82932C12.4108 4.90278 12.0331 5.80937 11.2776 6.54908C10.5222 7.28879 9.5963 7.65865 8.5 7.65865ZM0 14.4445V13.8252C0 13.451 0.111973 13.0939 0.33592 12.7538C0.559866 12.4138 0.882311 12.1153 1.30325 11.8583C2.42503 11.2353 3.59693 10.7547 4.81897 10.4165C6.04102 10.0783 7.26584 9.90919 8.49341 9.90919C9.72101 9.90919 10.9485 10.0782 12.1759 10.4162C13.4033 10.7543 14.5774 11.2348 15.6982 11.8579C16.1187 12.0936 16.4408 12.3868 16.6645 12.7376C16.8882 13.0884 17 13.4509 17 13.8251V14.4445C17 14.8774 16.8456 15.2448 16.5369 15.5469C16.2281 15.849 15.8525 16 15.4101 16H1.57938C1.13692 16 0.763079 15.849 0.457847 15.5469C0.152616 15.2448 0 14.8774 0 14.4445ZM1.56354 14.469H15.4365V13.8285C15.4365 13.6887 15.3869 13.5588 15.2877 13.4387C15.1885 13.3187 15.0483 13.2152 14.8672 13.1283C13.9232 12.5717 12.9117 12.1512 11.8327 11.8668C10.7536 11.5824 9.64248 11.4402 8.49918 11.4402C7.34831 11.4402 6.23525 11.5824 5.16001 11.8668C4.08478 12.1512 3.07781 12.5717 2.13908 13.1283C1.95266 13.2503 1.81013 13.3662 1.71148 13.4761C1.61285 13.5861 1.56354 13.703 1.56354 13.8269V14.469ZM8.50691 6.12768C9.15432 6.12768 9.70623 5.90198 10.1626 5.45056C10.6191 4.99913 10.8473 4.45646 10.8473 3.82256C10.8473 3.18864 10.6168 2.64822 10.1557 2.20132C9.69469 1.75442 9.14048 1.53096 8.49309 1.53096C7.84568 1.53096 7.29377 1.75667 6.83735 2.20809C6.38094 2.65952 6.15274 3.20219 6.15274 3.83609C6.15274 4.47001 6.38325 5.01042 6.84427 5.45733C7.30531 5.90423 7.85952 6.12768 8.50691 6.12768Z' fill='%231D1D1D'/%3E%3C/svg%3E");
}
.header.fiexd .tnb .search {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.67563 11.3562C4.09764 11.3562 2.7572 10.8036 1.65433 9.69849C0.551444 8.59338 0 7.25356 0 5.67906C0 4.10455 0.550926 2.76441 1.65278 1.65864C2.75463 0.552879 4.09269 0 5.66696 0C7.24121 0 8.58048 0.552974 9.68479 1.65892C10.7891 2.76487 11.3412 4.106 11.3412 5.6823C11.3412 6.34429 11.2327 6.98334 11.0156 7.59945C10.7984 8.21556 10.5042 8.76924 10.133 9.26048L15.7878 14.9085C15.9259 15.0464 15.9966 15.1893 15.9999 15.3373C16.0032 15.4852 15.9307 15.6327 15.7823 15.7796C15.6339 15.9265 15.484 16 15.3326 16C15.1812 16 15.0332 15.9277 14.8886 15.783L9.2395 10.1463C8.72624 10.54 8.16327 10.84 7.55062 11.0465C6.93798 11.2529 6.31298 11.3562 5.67563 11.3562ZM5.67063 10.1125C6.91042 10.1125 7.95846 9.6844 8.81474 8.82824C9.67103 7.97211 10.0992 6.92186 10.0992 5.6775C10.0992 4.43315 9.67103 3.38309 8.81474 2.52733C7.95846 1.67158 6.90959 1.2437 5.66815 1.2437C4.42671 1.2437 3.37867 1.67178 2.52404 2.52793C1.66941 3.38408 1.24209 4.43433 1.24209 5.67867C1.24209 6.92303 1.66954 7.97308 2.52445 8.82884C3.37936 9.6846 4.42809 10.1125 5.67063 10.1125Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
}

@media screen and (min-width:641px) {
    /* 브라우저 넓이가 641이상에서만 적용 * menu에 마우스 over했을 때*/
    .header.menu_over {
        color: #1d1d1d;
    }
    .header::after {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 400px;
        content: "";
        transition: background-color 0.5s; 
    }
    .header.menu_over::after {
        width: 100%;
        height: 400px;
        background-color: #fff;
    }
    /* .header::after , .header.menu_over::after 메뉴 over 부드럽게 들어가는 효과 */

    .header.menu_over .logo a {
        width: 209px;
        height: 35px;
        display: block;
        font-size: 0;
        line-height: 0;
        background: url(../images/logo_b.png) no-repeat center center;
    }
    .header.menu_over .tnb .login {
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 7.65865C7.4037 7.65865 6.47782 7.28879 5.72237 6.54908C4.96692 5.80937 4.5892 4.90278 4.5892 3.82932C4.5892 2.75586 4.96692 1.84928 5.72237 1.10957C6.47782 0.369856 7.4037 0 8.5 0C9.5963 0 10.5222 0.369856 11.2776 1.10957C12.0331 1.84928 12.4108 2.75586 12.4108 3.82932C12.4108 4.90278 12.0331 5.80937 11.2776 6.54908C10.5222 7.28879 9.5963 7.65865 8.5 7.65865ZM0 14.4445V13.8252C0 13.451 0.111973 13.0939 0.33592 12.7538C0.559866 12.4138 0.882311 12.1153 1.30325 11.8583C2.42503 11.2353 3.59693 10.7547 4.81897 10.4165C6.04102 10.0783 7.26584 9.90919 8.49341 9.90919C9.72101 9.90919 10.9485 10.0782 12.1759 10.4162C13.4033 10.7543 14.5774 11.2348 15.6982 11.8579C16.1187 12.0936 16.4408 12.3868 16.6645 12.7376C16.8882 13.0884 17 13.4509 17 13.8251V14.4445C17 14.8774 16.8456 15.2448 16.5369 15.5469C16.2281 15.849 15.8525 16 15.4101 16H1.57938C1.13692 16 0.763079 15.849 0.457847 15.5469C0.152616 15.2448 0 14.8774 0 14.4445ZM1.56354 14.469H15.4365V13.8285C15.4365 13.6887 15.3869 13.5588 15.2877 13.4387C15.1885 13.3187 15.0483 13.2152 14.8672 13.1283C13.9232 12.5717 12.9117 12.1512 11.8327 11.8668C10.7536 11.5824 9.64248 11.4402 8.49918 11.4402C7.34831 11.4402 6.23525 11.5824 5.16001 11.8668C4.08478 12.1512 3.07781 12.5717 2.13908 13.1283C1.95266 13.2503 1.81013 13.3662 1.71148 13.4761C1.61285 13.5861 1.56354 13.703 1.56354 13.8269V14.469ZM8.50691 6.12768C9.15432 6.12768 9.70623 5.90198 10.1626 5.45056C10.6191 4.99913 10.8473 4.45646 10.8473 3.82256C10.8473 3.18864 10.6168 2.64822 10.1557 2.20132C9.69469 1.75442 9.14048 1.53096 8.49309 1.53096C7.84568 1.53096 7.29377 1.75667 6.83735 2.20809C6.38094 2.65952 6.15274 3.20219 6.15274 3.83609C6.15274 4.47001 6.38325 5.01042 6.84427 5.45733C7.30531 5.90423 7.85952 6.12768 8.50691 6.12768Z' fill='%231D1D1D'/%3E%3C/svg%3E");
    }
    .header.menu_over .tnb .search {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.67563 11.3562C4.09764 11.3562 2.7572 10.8036 1.65433 9.69849C0.551444 8.59338 0 7.25356 0 5.67906C0 4.10455 0.550926 2.76441 1.65278 1.65864C2.75463 0.552879 4.09269 0 5.66696 0C7.24121 0 8.58048 0.552974 9.68479 1.65892C10.7891 2.76487 11.3412 4.106 11.3412 5.6823C11.3412 6.34429 11.2327 6.98334 11.0156 7.59945C10.7984 8.21556 10.5042 8.76924 10.133 9.26048L15.7878 14.9085C15.9259 15.0464 15.9966 15.1893 15.9999 15.3373C16.0032 15.4852 15.9307 15.6327 15.7823 15.7796C15.6339 15.9265 15.484 16 15.3326 16C15.1812 16 15.0332 15.9277 14.8886 15.783L9.2395 10.1463C8.72624 10.54 8.16327 10.84 7.55062 11.0465C6.93798 11.2529 6.31298 11.3562 5.67563 11.3562ZM5.67063 10.1125C6.91042 10.1125 7.95846 9.6844 8.81474 8.82824C9.67103 7.97211 10.0992 6.92186 10.0992 5.6775C10.0992 4.43315 9.67103 3.38309 8.81474 2.52733C7.95846 1.67158 6.90959 1.2437 5.66815 1.2437C4.42671 1.2437 3.37867 1.67178 2.52404 2.52793C1.66941 3.38408 1.24209 4.43433 1.24209 5.67867C1.24209 6.92303 1.66954 7.97308 2.52445 8.82884C3.37936 9.6846 4.42809 10.1125 5.67063 10.1125Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }
    .header.menu_over .gnb ul.depth2 { /* 2차메뉴 */
        display: block;
    }
    .header.menu_over .gnb ul.depth1 > li:hover > a {
        color: #2C150D;
        position: relative; /* ather 정렬의 기준 */
    }   
    .header.menu_over .gnb ul.depth1 > li:hover > a::after {
        position: absolute;
        left: 20px;
        bottom: 0;
        width: 80px;
        height: 2px;
        background-color: #2C150D;
        content: "";
    }
    .header.menu_over .gnb ul.depth2 > li > a:hover {
        color: #2C150D;
        font-weight: 700;
    }
}/*media*/

@media screen and (max-width:640px) {
    .header {
        height: 50px;    
    }
    .header .inner {
        margin: 0 140px 0 0;
    }
    .header .logo {
        margin: 15px 0 0 0; 
    }
    .header .logo a {
        width: 100px;
        height: 17px;
        background-image: url(../images/logo_w03.png)
    }
    .header .gnb {
        margin: 0;
    }
    .header .gnb .gnb_open {
        display: block;
    }
    .header .gnb .gnb_open,
    .header .gnb .gnb_close {
        position: absolute; /* header 기준 */
        right: 0;
        top: 0;
        width: 60px;
        height: 50px;
        font-size: 0;
        line-height: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 18px auto;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='12' viewBox='0 0 18 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.703698 11.418C0.510129 11.418 0.344454 11.3497 0.206672 11.213C0.0688908 11.0764 0 10.912 0 10.7201C0 10.5319 0.0688908 10.3676 0.206672 10.227C0.344454 10.0865 0.510129 10.0163 0.703698 10.0163H17.3019C17.4917 10.0163 17.6555 10.0846 17.7933 10.2213C17.9311 10.358 18 10.5204 18 10.7086C18 10.9005 17.9311 11.0668 17.7933 11.2073C17.6555 11.3478 17.4917 11.418 17.3019 11.418H0.703698ZM0.703698 6.40991C0.510129 6.40991 0.344454 6.34158 0.206672 6.20491C0.0688908 6.06824 0 5.90393 0 5.71198C0 5.52378 0.0688908 5.35943 0.206672 5.2189C0.344454 5.07839 0.510129 5.00813 0.703698 5.00813H17.3019C17.4917 5.00813 17.6555 5.07647 17.7933 5.21314C17.9311 5.34983 18 5.51227 18 5.70046C18 5.89241 17.9311 6.05864 17.7933 6.19915C17.6555 6.33966 17.4917 6.40991 17.3019 6.40991H0.703698ZM0.703698 1.40178C0.510129 1.40178 0.344454 1.33345 0.206672 1.19678C0.0688908 1.06011 0 0.895795 0 0.703844C0 0.515653 0.0688908 0.351303 0.206672 0.210793C0.344454 0.0702638 0.510129 0 0.703698 0H17.3019C17.4917 0 17.6555 0.0683348 17.7933 0.205006C17.9311 0.341696 18 0.504136 18 0.692327C18 0.884278 17.9311 1.05051 17.7933 1.19102C17.6555 1.33153 17.4917 1.40178 17.3019 1.40178H0.703698Z' fill='white'/%3E%3C/svg%3E");
    }
    .header .gnb ul.depth1 {
        display: none;
    }
    .header .gnb ul.depth2 {
        margin-top: 25px;
        display: none;
    }
    .header .gnb ul.depth2 > li > a {
        display: block; /* 넓이 100% */
        font-size: 17px;
        line-height: 40px;
    }
    .header .tnb {
        display: none;
    }

    .header.fiexd {
        background-color: #fff;
        color: #1d1d1d;
        box-shadow: 0 5px 10px rgba(0,0,0,0.05); /* 그림자 주고 싶을 때*/
    }
    .header.fiexd .logo a {
        width: 110px;
        height: 20px;
        background-size: 100px auto;
    }
    
    /* 메뉴가 열렸을 때 */
    .header.menu_open {
        color: #1d1d1d;
    }
    .header.menu_open.fixed { /* header에 fixed와 menu_over 동시에 있을때 */
        color: #fff;
    }
    .header.menu_open .gnb .gnb_wrap {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh; /* 화면 꽉 차게 */
        background-color: #fff;
        padding: 50px 20px 0 20px ;
    }
    header.menu_open .gnb .gnb_open {
        display: none;
    }
    header.menu_open .gnb .gnb_close {
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.98223 10.4852L1.78047 17.6702C1.54533 17.9048 1.308 18.0142 1.06847 17.9985C0.828973 17.9828 0.588923 17.8549 0.348321 17.6148C0.116438 17.3748 0.0026755 17.1331 0.00703465 16.8898C0.0113938 16.6465 0.129516 16.4092 0.361399 16.1779L7.50762 9.01407L0.31894 1.8079C0.097926 1.58743 -0.008222 1.35282 0.000496285 1.10409C0.00921457 0.855374 0.129516 0.610997 0.361399 0.370955C0.593283 0.130914 0.833333 0.00736262 1.08155 0.000302574C1.32977 -0.00675748 1.57689 0.109733 1.82293 0.349775L8.98223 7.54289L16.1921 0.349775C16.4218 0.120606 16.6635 0.00682676 16.9172 0.00843645C17.1709 0.0100744 17.4207 0.130914 17.6667 0.370955C17.8932 0.610997 18.0042 0.852665 17.9999 1.09595C17.9955 1.33924 17.8774 1.57656 17.6455 1.8079L10.4568 9.01407L17.6455 16.2202C17.8665 16.4407 17.9798 16.6682 17.9852 16.9029C17.9906 17.1375 17.8774 17.3748 17.6455 17.6148C17.4136 17.8549 17.1736 17.9784 16.9254 17.9855C16.6771 17.9925 16.4327 17.8733 16.1921 17.6279L8.98223 10.4852Z' fill='black'/%3E%3C/svg%3E%0A");
    }
    .header.menu_open .gnb ul.depth1 {
        display: block;
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
    .header.menu_open .gnb {
        margin: 0 0 0 120px;
    }
    .header.menu_open .gnb ul.depth1 > li {
        width: auto;
        text-align: left;
    }
    .header.menu_open .gnb ul.depth1 > li > a {
        line-height: 0; /* 높이 100px에 글자는 위아래 가운데*/
        padding: 20px 0 0 0;
        margin-top: 20px;
    }
    .header.menu_open .gnb ul.depth1 > li > a > span {
        position: relative; /* after 정렬의 기준 */
    }
    .header.menu_open .gnb ul.depth1 > li > a > span::after {
        position: absolute;
        left: -40px;
        top: 0;
        width: 14px;
        height: 14px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.50334 6.23311L11.8755 0.225919C11.9992 0.0849635 12.1545 0.0120749 12.3414 0.0072533C12.5284 0.00241776 12.6848 0.0704844 12.8109 0.211454C12.937 0.349734 13 0.523382 13 0.732397C13 0.941427 12.937 1.11642 12.8109 1.25738L7.28846 7.45109C7.17199 7.58133 7.04988 7.67204 6.92215 7.72322C6.79441 7.77441 6.65481 7.8 6.50334 7.8C6.35187 7.8 6.21227 7.77441 6.08453 7.72322C5.9568 7.67204 5.83469 7.58133 5.71822 7.45109L0.195765 1.27587C0.0697097 1.13492 0.00452705 0.956846 0.000214544 0.741657C-0.00409701 0.526468 0.0567741 0.349733 0.18283 0.211453C0.306493 0.0704838 0.461791 -5.48063e-07 0.648725 -5.39891e-07C0.835646 -5.31721e-07 0.992135 0.0704839 1.11819 0.211453L6.50334 6.23311Z' fill='%23666666'/%3E%3C/svg%3E");
        content: "";
    }   
    .header.menu_open .gnb ul.depth1 > li.sub_open > a > span::after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.39953 15.0382L6.3457 13.9844L11.9995 8.33057L17.6534 13.9844L16.5995 15.0382L11.9995 10.4382L7.39953 15.0382Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    .header.menu_open .gnb ul.depth2 {
        /* display: block; */
        margin: 0;
        color: rgba(255, 255, 255, 0.8);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .header.menu_open .gnb .sub_open ul.depth2 {
        display: block;
    }
    .header.menu_open .gnb ul.depth2 > li > a {
        font-size: 13px;
        line-height: 30px;
    }

}/*media*/

.visual {
    position: relative;
}
.visual>h2 {
    display: none;
}

.visual .swiper {
    height: 900px;
}
.visual .swiper-slide img {
    display:block; width:100%; height:100%; object-fit:cover;
}
.visual .swiper .prev,
.visual .swiper .next {
    position: absolute; /*swiper 기준*/
    z-index: 10;
    top: 400px;
    width: 30px;
    height: 60px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    line-height: 0;
    opacity: 0.3;
}
.visual .swiper .prev {
    left: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='72' viewBox='0 0 30 72' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.03341 35.9827L29.1643 65.687C29.6967 66.3857 29.9748 67.2671 29.9985 68.3313C30.0222 69.3954 29.7627 70.2729 29.22 70.9637C28.6772 71.6546 27.9936 72 27.1692 72C26.3449 72 25.6623 71.6513 25.1214 70.9538L1.34535 40.3282C0.842675 39.6828 0.492797 39.0084 0.29571 38.3049C0.0985701 37.6015 0 36.829 0 35.9877C0 35.1463 0.0985434 34.3722 0.29563 33.6655C0.492717 32.9587 0.842568 32.2824 1.34518 31.6365L25.1213 1.08318C25.6641 0.385722 26.3379 0.0250636 27.1427 0.00120579C27.9476 -0.022652 28.6214 0.307526 29.1642 0.991748C29.6966 1.69038 29.9629 2.5718 29.9629 3.63603C29.9629 4.70018 29.6959 5.57534 29.1619 6.26149L6.03341 35.9827Z'/%3E%3C/svg%3E%0A");
}
.visual .swiper .next {
    right: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='71' viewBox='0 0 30 71' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.9735 35.4818L0.86892 6.1413C0.326783 5.46591 0.0464421 4.61774 0.0278974 3.5968C0.00929914 2.57592 0.271094 1.72122 0.813284 1.03269C1.34513 0.344234 2.01301 0 2.81691 0C3.62087 0 4.29392 0.344234 4.83606 1.03269L28.658 31.1938C29.1589 31.8299 29.5078 32.4968 29.7047 33.1944C29.9016 33.8921 30 34.6545 30 35.4818C30 36.309 29.9016 37.0714 29.7047 37.7691C29.5078 38.4667 29.1589 39.1336 28.658 39.7697L4.90721 69.9308C4.36507 70.6193 3.68018 70.9753 2.85253 70.9988C2.02488 71.0224 1.34513 70.6899 0.813284 70.0015C0.271094 69.3261 0 68.4779 0 67.457C0 66.4361 0.271094 65.5814 0.813284 64.893L23.9735 35.4818Z'/%3E%3C/svg%3E%0A");
}
.visual .swiper .stop,
.visual .swiper .play {
    position: absolute;
    left: calc(50% + 50px);
    bottom: 215px;
    z-index: 10;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    border-radius: 100%;
    font-size: 0;
    line-height: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.visual .swiper .stop {
    background-image: url("data:image/svg+xml,%3Csvg width='1' height='3' viewBox='0 0 6 8' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5' width='1' height='8' rx='0.5'/%3E%3Crect width='1' height='8' rx='0.5'/%3E%3C/svg%3E");
}
.visual .swiper .play {
    display: none;
    background-image: url("data:image/svg+xml,%3Csvg width='3' height='7' viewBox='0 0 8 10' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.534668 8.40022V1.59574C0.534668 1.39626 0.598675 1.24136 0.726689 1.13106C0.854703 1.02074 1.00361 0.965576 1.1734 0.965576C1.22863 0.965576 1.28489 0.972923 1.34217 0.987617C1.39945 1.00231 1.45678 1.02633 1.51417 1.05968L6.73171 4.48718C6.8252 4.55322 6.89945 4.63044 6.95446 4.71883C7.00949 4.8072 7.037 4.90204 7.037 5.00335C7.037 5.10465 7.00949 5.1995 6.95446 5.28789C6.89945 5.37626 6.8252 5.4499 6.73171 5.50881L1.51388 8.93891C1.45649 8.97495 1.39816 8.99987 1.3389 9.01368C1.27965 9.0275 1.22316 9.03441 1.16944 9.03441C0.998716 9.03441 0.850244 8.97925 0.724022 8.86893C0.597786 8.75862 0.534668 8.60239 0.534668 8.40022ZM1.53383 7.71635L5.7494 4.99999L1.53383 2.28364V7.71635Z' fill='white'/%3E%3C/svg%3E");

}
.visual .swiper .pagination {
    position: absolute;
    left: calc(50% - 55px);
    bottom: 215px;
    z-index: 10;
}
/* 일반버튼 */
.visual .swiper .pagination .swiper-pagination-bullet {
    background: transparent;
    opacity: 1;
    border: 1px solid #fff;
    width: 12px;
    height: 12px;
    outline: 0;
}
/* 선택된 버튼 */
.visual .swiper .pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #fff;
}
.visual .visual_txt {
    position: absolute;
    left: calc(50% - 640px);
    top: 350px;
    z-index: 10;
    width: 1280px;
    color: #fff;
    text-align: center;
}
.visual .visual_txt h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 40px;
    letter-spacing: -0.05em;
}
.visual .visual_txt p { 
    font-size: 20px;
}

/* 좌우 버튼과 글자가 겹칠 때

@media screen and (max-width:850px) {
    .visual .swiper .prev,
    .visual .swiper .next {
    width: 30px;
    height: 60px;
    }
    .visual .swiper .prev {
        left: 40px;
    }
    .visual .swiper .next {
        right: 40px;
    }
}
*/

@media screen and (max-width:640px) {
    .visual .swiper {
        height: 300px;
    }
    .visual .swiper .prev,
    .visual .swiper .next {
        display: none;
    }
    .visual .swiper .stop,
    .visual .swiper .play {
        left: calc(50% + 40px);
        bottom: 75px;
        width: 15px;
        height: 15px;
    }
    .visual .swiper .pagination {
        left: calc(50% - 35px);
        bottom: 72px;
    }
    /* 일반버튼 */
    .visual .swiper .pagination .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }
    .visual .visual_txt {
        left: 20px;
        top: 115px;
        width: calc(100% - 40px);
    }
    .visual .visual_txt h2 {
        font-size: 18px;
        margin-bottom: 0;
    }
    .visual .visual_txt p { 
        font-size: 0;
    }
}

.book {
    margin: 122px 0 0 0;
    overflow: hidden;
}
/* 
    왼쪽에 tit이 작게 이고
    오른쪽에 list가 콘텐츠 영역 ()wrapper)밖에 나가야함
    그럼 titi에 아무리 넓이를 줘도 tit의 공간이 확보가 안됨
    flex는 무조건 공간에 구겨서라도 넣으려고 하기 때문에
    왼쪽에 잇응 float:left dlstmrdmf ahtgka
    (tit 공간을 차지하지 않음 
    list는 왼쪽에 tit ㄱㅗㅇ간을 차지하지 못함
*/
.book .inner {
    position: relative; /*more의 기준이 됨*/
}
.book .tit {
    float: left;
    /* html에서 사용하는 태그 중 블럭 요소들은 ‘태그 안에 들어있는 컨텐츠 크기’ 에 관계 없이 한 줄 전체를 차지함*/
}
.book .tit h2 {
    color: #1d1d1d;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 15px;
}
.book .list {
    margin: 0 0 0 327px;
}
.book .list ul {
    display: flex;
    justify-content: space-between;
    /* list의 사이즈 콘텐츠 영역의 널빙보다 큼
    그럼 정상적으로 나타나려면 ul에 넓이를 줘야함
    li 하나의 넓이 299px * li갯수 4 = 1196 
    li 사이의 여백 28px * li의 여백 3 (li가 4개라 여백은 3개) 84
    1196 + 84 = 1280
     */
    width: 1280px;
}
.book .list ul li {
    width: 299px;
}
.book .list ul li a {
    display: block; /* a 태그안에 많은 태그가 존재하면 display:block; 주는게 좋음*/
    transition: 0.5s;
}
.book .list ul li a span {
    display: block; /* width 100%*/
    height: 422px;
    /* 그림자 넣었을 때
    border: 1px solid #eee; 
    box-shadow: 5px 5px 5px raba(0,0,0,0.05); */
    overflow: hidden;
    transition: 0.5s;

}
.book .list ul li a span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.book .list ul li a:hover span {
    box-shadow: 10px 10px 5px rgba(0,0,0,0.1);
    /* transform: translate(-10px, -10px); 마우스 오버로 확대 시 위로 움직임*/

}
.book .list ul li a:hover span img {
    transform: scale3d(1.3,1.3,1);
}
.book .list ul li a h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 19px 0 17px 0;
}
.book .list ul li a strong {
    display: block;
    margin:  0 0 29px 0;
    /* 한줄만 허용하는 코드 (반드시 한줄로 들어가야 할 때 쓰임) */
    white-space: nowrap; /* 줄바꿈 금지 이 요소는 block 요소에만 들어갈 수 있다*/
    overflow: hidden;
    text-overflow: ellipsis; /* ... 을 만들어주는 태그*/
}
.book .list ul li a p {
     /* 여러줄로 줄 수 를 제한하는 경우*/
     line-height: 1.2;
     height: 2.4em; /* 행간 * 줄수 단위는 em(상대크기) */
     overflow: hidden;
}
.book .more {
    position: absolute; /*inner를 기준*/
    left: 0;
    top: 200px;
}

.book .more a {
    width: 95px;
    line-height: 40px;
    background-color: #EEEEEE;
    border-radius: 20px;
    display: block;
    padding: 0 32px 0 18px;
    position: relative;
}
.book .more a::after {
    position: absolute;
    right: 19px;
    top: 15px;
    width: 4px;
    height: 8px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='4' height='8' viewBox='0 0 4 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.19647 3.99794L0.115856 0.691977C0.043571 0.615877 0.00619228 0.520309 0.00371966 0.405273C0.00123989 0.290244 0.0361458 0.19394 0.108438 0.11636C0.179351 0.0387869 0.268401 0 0.375588 0C0.482783 0 0.572523 0.0387869 0.644808 0.11636L3.82107 3.51479C3.88786 3.58647 3.93438 3.66161 3.96063 3.74022C3.98688 3.81883 4 3.90473 4 3.99794C4 4.09115 3.98688 4.17706 3.96063 4.25567C3.93438 4.33428 3.88786 4.40942 3.82107 4.4811L0.654294 7.87953C0.582009 7.9571 0.490691 7.99721 0.380337 7.99987C0.269984 8.00252 0.179351 7.96506 0.108438 7.88749C0.0361458 7.81139 0 7.71582 0 7.60078C0 7.48576 0.0361458 7.38946 0.108438 7.31188L3.19647 3.99794Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 5px auto;
}
.book .more a:hover {
    background-color: #2C150D;
    color: #fff;
}
.book .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='4' height='8' viewBox='0 0 4 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.19647 3.99794L0.115856 0.691977C0.043571 0.615877 0.00619228 0.520309 0.00371966 0.405273C0.00123989 0.290244 0.0361458 0.19394 0.108438 0.11636C0.179351 0.0387869 0.268401 0 0.375588 0C0.482783 0 0.572523 0.0387869 0.644808 0.11636L3.82107 3.51479C3.88786 3.58647 3.93438 3.66161 3.96063 3.74022C3.98688 3.81883 4 3.90473 4 3.99794C4 4.09115 3.98688 4.17706 3.96063 4.25567C3.93438 4.33428 3.88786 4.40942 3.82107 4.4811L0.654294 7.87953C0.582009 7.9571 0.490691 7.99721 0.380337 7.99987C0.269984 8.00252 0.179351 7.96506 0.108438 7.88749C0.0361458 7.81139 0 7.71582 0 7.60078C0 7.48576 0.0361458 7.38946 0.108438 7.31188L3.19647 3.99794Z' fill='white'/%3E%3C/svg%3E%0A");
    animation-name: more;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

@keyframes more {
    0% { transform:translate(0, 0) }
    50% { transform:translate(-3px, 0) } /* 오른쪽은 + 왼쪽은 - , 위 마이너스 아래 플러스*/
    100% { transform:translate(0, 0) }
}

@media screen and (max-width:640px) {
    .book {
        margin: 55px 0 0 0;
    }
    .book .tit {
        float: none;
        /* html에서 사용하는 태그 중 블럭 요소들은 ‘태그 안에 들어있는 컨텐츠 크기’ 에 관계 없이 한 줄 전체를 차지함*/
        margin: 0 66px 0 0;
        /* 오른쪽 더보기가 존재할 영역을 콘텐츠가 겹치지 않게 미리 여백을 줌 */
    }
    .book .tit h2 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .book .tit h2 br,
    .book .tit p br {
        display: none;
    }
    .book .list {
        margin: 20px 0 0 0;
        overflow-x: auto;

    }
    .book .list ul {
    /* list의 사이즈 콘텐츠 영역의 널빙보다 큼
    그럼 정상적으로 나타나려면 ul에 넓이를 줘야함
    li 하나의 넓이 190px * li갯수 4 = 190 * 4 = 760
    li 사이의 여백 27px * li의 여백 3 (li가 4개라 여백은 3개) 48
    668 + 48 = 716
     */
        width: 716px;
    }
    .book .list ul li {
        width: 167px;
    }
    .book .list ul li a span {
        height: 237px;
    }
    .book .list ul li a h3 {
        font-size: 18px;
        font-weight: 600;
        margin: 15px 0 5px 0;
    }
    .book .list ul li a strong {
        /* display: block;
        margin:  0 0 29px 0;
        /* 한줄만 허용하는 코드 (반드시 한줄로 들어가야 할 때 쓰임) */
        white-space: nowrap; /* 줄바꿈 금지 이 요소는 block 요소에만 들어갈 수 있다*/
        overflow: hidden;
        text-overflow: ellipsis; /* ... 을 만들어주는 태그*/ 
    }
    .book .more {
        /* left와 right 동시선언되면 적용 안되며
        left를 auto로 해제하고 right를 줘야 함*/
        left: auto;
        right: 0;
        top: 2px;
    }   
    .book .list ul li a p {
        font-size: 0;
        line-height: 0;
   }
    .book .more a {
        width: 50px;
        line-height: 50px;
        border-radius: 100px;
        padding: 0 0 0 0;
        text-align: center;
        font-size: 13px;
    }
    .book .more a::after {
        display: none;
    }
    .book .more a:hover {
        background-color: #2C150D;
        color: #fff;
    }
    .book .more a:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg width='4' height='8' viewBox='0 0 4 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.19647 3.99794L0.115856 0.691977C0.043571 0.615877 0.00619228 0.520309 0.00371966 0.405273C0.00123989 0.290244 0.0361458 0.19394 0.108438 0.11636C0.179351 0.0387869 0.268401 0 0.375588 0C0.482783 0 0.572523 0.0387869 0.644808 0.11636L3.82107 3.51479C3.88786 3.58647 3.93438 3.66161 3.96063 3.74022C3.98688 3.81883 4 3.90473 4 3.99794C4 4.09115 3.98688 4.17706 3.96063 4.25567C3.93438 4.33428 3.88786 4.40942 3.82107 4.4811L0.654294 7.87953C0.582009 7.9571 0.490691 7.99721 0.380337 7.99987C0.269984 8.00252 0.179351 7.96506 0.108438 7.88749C0.0361458 7.81139 0 7.71582 0 7.60078C0 7.48576 0.0361458 7.38946 0.108438 7.31188L3.19647 3.99794Z' fill='white'/%3E%3C/svg%3E%0A");
        animation-name: more;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear
    }
} /* @media*/

.interview {
    background-color: #F5F0E9;
    margin: 123px 0 0 0;
    padding: 0 0 302px 0;
}
.interview .wrapper {
    position: relative; /* more의 기준 */
}
.interview .tit {
    padding: 150px 0 0 0;
}
.interview .tit h2,
.interview .tit p {
    text-align: center;
}
.interview .tit h2 {
    font-size: 45px;
    font-weight: 600;
    color: #1d1d1d;
    letter-spacing: 0.05em;
}
.interview .list {
    margin: 77px 0 0 0;
}
.interview .list ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* 두번째 li에 상단여백을 줘서 내림
    모든 li의 길이가 늘어남
    두번째 li 상단 여백 + li 길이만큼 늘어남
    flex는 모든 li 요소의 길이를 동일하게 마추려고 함
    원래 li의 길이대로만 나타나게 하려
    반드시 align-items 속성을 줘야 함 (어떤 값이든 상관없음) */
}
.interview .list ul li {
    width: 408px;
    position: relative; /* cnt 정렬의 기준 */
}
.interview .list ul li:nth-child(2) {
    margin: 40px 0 0 0 ;
}
.interview .list ul li a {
    display: block;
}
.interview .list ul li a .photo {
    border-radius: 80px 0 80px 0;
    overflow: hidden;
    /* 이미지를 감싸는 요소에 boder-radius를 주는 경우 overflow:hiddern;을 꼭 줘야 이미지가 짤림 */
    font-size: 0;
    line-height: 0;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}
/* 디자인상 두번째 li에 스타일이 다르다면 css에서도 nth-child로 선택한다. */
.interview .list ul li:nth-child(2) a .photo {
    border-radius: 0 80px 0 80px;
}
/* 이미지 흑백 만드는 방법 */ 
.interview .list ul li a .photo img {
    filter: grayscale(90%);
    transition: 0.5s;
}
.interview .list ul li a .cnt {
    position: absolute; /* li를 기준*/
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 25px 40px;
    /* left와 width에 좌우 여백을 직접 줘도 되고
    padding 요소로 따로 줘도 된다 */

}
.interview .list ul li a .cnt h3 {
    font-size: 20px;
    font-weight: 600;
}
.interview .list ul li a .cnt p {
    display: none;
}
.interview .list ul li a .cnt span {
    font-size: 0;
    line-height: 0;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.06735 9.93265H0V8.06735H8.06735V0H9.93265V8.06735H18V9.93265H9.93265V18H8.06735V9.93265Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

/* li에 active 들어갔을 때 스타일이 바뀌는 건 pc에서만 적용되는 스타일
모바일에서는 기본 스타일만 존재함
모바일에서는 기본 스타일만 존재하며 미디어쿼리 min-width:641px - 브라우저  사이즈 641px 이상에서만
해당 스타일이 적용됨
*/
@media screen and (min-width:641px) {
    /* 오버되었을 때 */
    .interview .list ul li.active a .photo {
        box-shadow: 2px 5px 5px rgba(0,0,0,0.2);
    }
    .interview .list ul li.active a .photo img {
        filter: grayscale(0%);
    }   
    .interview .list ul li.active a .cnt {
        left: -13px;
        bottom: -120px;
        width: 408px;
        height: 212px;
        display: block; /* flex 해체*/
        padding: 37px 40px 0 40px;
        background-color: #BA4C29;
        border-radius: 50px 0 50px 0;
        transition: 0.4s;
    }
    .interview .list ul li:nth-child(2).active a .cnt {
        border-radius: 0 50px 0 50px;
    }
    .interview .list ul li.active a .cnt p {
        display: block;
        margin: 5px 0;
        /* 콘텐츠를 3줄로 제한*/
        line-height: 1.2;
        height: 3.6em; /* 행간 x 줄수 (단위는 em) */
        overflow: hidden;
    }
    .interview .list ul li.active a .cnt span {
        font-size: 15px;
        line-height: 5.2;
        width: auto; /* auto는 해제 */
        height: auto;
        background: none; /* 배경 삭제 */
        display: block;
        text-align: right;
        position: relative;
    }
    .interview .list ul li.active a .cnt span::before {
        position: absolute;
        left: 0;
        bottom: 37px;
        width: calc(100% - 6em);
        /* 6em이라는 단위는 글자 6글자의 넓이 반응형에서 글자의 크기가 변경되면
        px로 한경우 계속 글자가 바뀔때마다 넓이를 변경해야함
        하지만 em이라는 단위를 사용하면 글자크기가 줄어도 변경을 안해도 된다*/
        height: 1px;
        background-color: rgba(255,255,255,0.2);
        content: "";
    }
}/*media*/ 

.interview .more {
    position: absolute;
    left: calc(50% - 72px); /* 가운데정렬 50% - 넓이의 절반 */
    top: 245px;
}
.interview .more a {
    width: 95px;
    line-height: 40px;
    background-color: #fff;
    border-radius: 20px;
    display: block;
    padding: 0 32px 0 18px;
    position: relative; /* after 정렬의 기준 */
    transition: 0.2s;
}
.interview .more a::after {
    position: absolute; /* a를 정렬 기준으로*/
    right: 15px;
    top: 12px;
    width: 15px;
    height: 15px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='4' height='8' viewBox='0 0 4 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.19647 3.99794L0.115856 0.691977C0.043571 0.615877 0.00619228 0.520309 0.00371966 0.405273C0.00123989 0.290244 0.0361458 0.19394 0.108438 0.11636C0.179351 0.0387869 0.268401 0 0.375588 0C0.482783 0 0.572523 0.0387869 0.644808 0.11636L3.82107 3.51479C3.88786 3.58647 3.93438 3.66161 3.96063 3.74022C3.98688 3.81883 4 3.90473 4 3.99794C4 4.09115 3.98688 4.17706 3.96063 4.25567C3.93438 4.33428 3.88786 4.40942 3.82107 4.4811L0.654294 7.87953C0.582009 7.9571 0.490691 7.99721 0.380337 7.99987C0.269984 8.00252 0.179351 7.96506 0.108438 7.88749C0.0361458 7.81139 0 7.71582 0 7.60078C0 7.48576 0.0361458 7.38946 0.108438 7.31188L3.19647 3.99794Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 5px auto;
    transition: 0.2s;
}
.interview .more a:hover {
    background-color: #2C150D;
    color: #fff;
}
.interview .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='4' height='8' viewBox='0 0 4 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.19647 3.99794L0.115856 0.691977C0.043571 0.615877 0.00619228 0.520309 0.00371966 0.405273C0.00123989 0.290244 0.0361458 0.19394 0.108438 0.11636C0.179351 0.0387869 0.268401 0 0.375588 0C0.482783 0 0.572523 0.0387869 0.644808 0.11636L3.82107 3.51479C3.88786 3.58647 3.93438 3.66161 3.96063 3.74022C3.98688 3.81883 4 3.90473 4 3.99794C4 4.09115 3.98688 4.17706 3.96063 4.25567C3.93438 4.33428 3.88786 4.40942 3.82107 4.4811L0.654294 7.87953C0.582009 7.9571 0.490691 7.99721 0.380337 7.99987C0.269984 8.00252 0.179351 7.96506 0.108438 7.88749C0.0361458 7.81139 0 7.71582 0 7.60078C0 7.48576 0.0361458 7.38946 0.108438 7.31188L3.19647 3.99794Z' fill='white'/%3E%3C/svg%3E%0A");
    animation-name: more; 
    animation-duration: 1.5s; 
    animation-iteration-count:infinite; 
    animation-timing-function:linear;
}


@media screen and (max-width:640px) {
    .interview {
        margin: 57px 0 0 0;
        padding: 0 0 70px 0;
    }
    .interview .tit {
        padding: 70px 0 0 0;
    }
    .interview .tit h2,
    .interview .tit p {
        text-align: left;
    }
    .interview .tit h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .interview .list {
        margin: 17px 0 0 0;
    }
    .interview .list ul li {
        width: auto;
    }
    .interview .list ul li:nth-child(2),
    .interview .list ul li:nth-child(3) {
        display: none;
    }
    .interview .list ul li a .photo {
        border-radius:0 50px 0 50px;
    }
    .interview .list ul li a .photo img {
        filter: grayscale(0);
        width: 100%;
    }
    .interview .list ul li a .cnt {
        left: -10px;
        bottom: -18px;
        display: block;
        padding: 0 7% 0 7%;
        align-items: center;
        background-color: #BA4C29;
        border-radius:0 50px 0 50px;
        height: 165px;
    }
    .interview .list ul li a .cnt h3 {
        font-size: 18px;
        margin-top: 23px;
    }
    .interview .list ul li a .cnt p {
        display: block; /* 줄 수 제한*/
        margin: 10px 29px 0 0;
        line-height: 1.2;
        height: 5.4em;
        overflow: hidden;
    }
    .interview .list ul li a .cnt span {
        font-size: 13px;
        line-height: 1.2;
        display: block;
        text-align: right;
        width: auto;
        height: auto;
        background: none;
        position: relative;
    }
    .interview .list ul li a .cnt span::before {
        position: absolute;
        left: 0;
        bottom: 8px;
        width: calc(100% - 6em);
        height: 1px;
        background-color: rgba(255,255,255,0.2);
        content: "";
    }
    .interview .more {
        left: auto;
        right: 0;
        top: 77px;
    }
    .interview .more a {
        width: 50px;
        line-height: 50px;
        border-radius: 100%;
        padding: 0;
        font-size: 13px;
        text-align: center;
    }
    .interview .more a::after {
        display: none;
    }
}

.news {
    background: url(../images/news_bg.png) no-repeat center center / cover; 
    color: #fff;
    padding: 0 0 174px  0 ;
}
.news .tit {
    position: sticky; /* 스크롤 내려갈때 고정시키고 내려가게 함*/
    top: 140px;
    /* 상단에 고정되었을 때 맨 상단에서 부터 (header 무시)
        아래로 배치되고 싶은 값 - 고정되기 전에는 이 값의 영향이 없음*/
    /* 주의사항 : 감싸는 요소가 overflow:hidden이 있으면 안됨*/
    float: left;
    margin: 254px 0 0 0;
}
.news .tit h2 {
    font-size: 45px;
    font-weight: 600;
    margin: 0 0 10px 0;
}
.news .list {
    margin: 0 0 0 320px;
    padding-top: 346px;
}
.news .list ul {
    display: flex;
    flex-wrap: wrap; /* 여러줄 가능*/
    justify-content: space-around;
}
.news .list ul li {
    width: 408px;
    margin-bottom: 122px;
}
.news .list ul li a span {
    overflow: hidden;
    display: block;
    font-size: 0;
    line-height: 0;
}
.news .list ul li a span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.news .list ul li a:hover span{
    box-shadow: 10px 10px 5px rgba(0,0,0,0.1);
}
.news .list ul li a:hover span img {
    transform: scale3d(1.2 , 1.2 , 1);
}
.news .list ul li h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
}
.news .list ul li:nth-child(2),
.news .list ul li:nth-child(4) {
    margin-top: -79px /* margin만 (마이너스) 여백이 가능함 padding은 안됨*/
}
.news .inner {
    position: relative; /* more의 정렬로 기준*/
}
.news .more {
    position: absolute;
    left: 0; /* inner를 정렬로 기준 */
    top: 439px;
}
.news .more a {
    width: 95px;
    line-height: 40px;
    border: 1px solid #fff;
    border-radius: 20px;
    display: block;
    padding: 0 32px 0 18px;
    position: relative; /* after 정렬의 기준 */
    transition: 0.2s;
}
.news .more a::after {
    position: absolute; /* a를 정렬 기준으로*/
    right: 15px;
    top: 13px;
    width: 15px;
    height: 15px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='4' height='8' viewBox='0 0 4 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.19647 3.99794L0.115856 0.691977C0.043571 0.615877 0.00619228 0.520309 0.00371966 0.405273C0.00123989 0.290244 0.0361458 0.19394 0.108438 0.11636C0.179351 0.0387869 0.268401 0 0.375588 0C0.482783 0 0.572523 0.0387869 0.644808 0.11636L3.82107 3.51479C3.88786 3.58647 3.93438 3.66161 3.96063 3.74022C3.98688 3.81883 4 3.90473 4 3.99794C4 4.09115 3.98688 4.17706 3.96063 4.25567C3.93438 4.33428 3.88786 4.40942 3.82107 4.4811L0.654294 7.87953C0.582009 7.9571 0.490691 7.99721 0.380337 7.99987C0.269984 8.00252 0.179351 7.96506 0.108438 7.88749C0.0361458 7.81139 0 7.71582 0 7.60078C0 7.48576 0.0361458 7.38946 0.108438 7.31188L3.19647 3.99794Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 5px auto;
    transition: 0.2s;
}
.news .more a:hover {
    background-color: #fff;
    color: #999;
}
.news .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='4' height='8' viewBox='0 0 4 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.19647 3.99794L0.115856 0.691977C0.043571 0.615877 0.00619228 0.520309 0.00371966 0.405273C0.00123989 0.290244 0.0361458 0.19394 0.108438 0.11636C0.179351 0.0387869 0.268401 0 0.375588 0C0.482783 0 0.572523 0.0387869 0.644808 0.11636L3.82107 3.51479C3.88786 3.58647 3.93438 3.66161 3.96063 3.74022C3.98688 3.81883 4 3.90473 4 3.99794C4 4.09115 3.98688 4.17706 3.96063 4.25567C3.93438 4.33428 3.88786 4.40942 3.82107 4.4811L0.654294 7.87953C0.582009 7.9571 0.490691 7.99721 0.380337 7.99987C0.269984 8.00252 0.179351 7.96506 0.108438 7.88749C0.0361458 7.81139 0 7.71582 0 7.60078C0 7.48576 0.0361458 7.38946 0.108438 7.31188L3.19647 3.99794Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
    animation-name: more; 
    animation-duration: 1.5s; 
    animation-iteration-count:infinite; 
    animation-timing-function:linear;
}

@media screen and (max-width:640px) {
    .news {
        padding: 0 0 75px  0 ;
    }
    .news .tit {
        position: relative; /* 스크롤 내려갈때 고정시키고 내려가게 함*/
        top: auto;
        float: none;
        margin: 0;
        padding: 60px 0 0 0;
    }
    .news .tit br {
        display: none;
    }
    .news .tit h2 {
        font-size: 30px;
        margin: 0 0 5px 0;
    }
    .news .tit p{
        font-size: 13px;
    }
    .news .list {
        margin: 0;
        padding-top: 44px; 
        overflow-x: auto;
    }
    .news .list ul {
        flex-wrap: nowrap; /* 여러 열 가능*/
        width: 730px;
        /* fe 804 78 */
    }
    .news .list ul li {
        width: 166px;
        margin-bottom: 0;
    }
    .news .list ul li:nth-child(2),
    .news .list ul li:nth-child(4) {
        margin-top: 0; /* margin만 (마이너스) 여백이 가능함 padding은 안됨*/
    }
    .news .list ul li a span img {
        width: 100%
    }
    .news .inner {
        position: relative; /* more의 정렬로 기준*/
    }
    .news .list ul li h3 {
        font-size: 20px;
    }
    .news .list ul li p {
        font-size: 12px;
        margin: 5px 0;
    }
    .news .more {
        left: auto;
        right: 0;
        top: 63px;
    }
    .news .more a {
        width: 50px;
        line-height: 50px;
        border-radius: 100px;
        padding: 0 0 0 0;
        text-align: center;
        font-size: 13px;
    }
    .news .more a::after {
        display: none;
    }
}
.footer {
    background-color: #2C150D;
    padding: 132px 0 142px 0;
    color: #fff;
}
.footer .inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.footer .f_txt {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.5;
}
.footer .f_info {
    font-size: 16px;
}
.footer .f_info strong {
    display: block;
    font-weight: 600;
}
/* 인접 선택자 
 .footer .f_info span 다음에 오는 strong 태그 */
.footer .f_info span+strong {
    margin: 81px 0 0 0 ;
}
.footer .f_info span {
    display: block;
    font-size: 20px;
    font-weight: 600;
}
.footer .f_info span a {
    margin: 0 19px 0 0;
}
.footer .copyright {
    position: absolute;
    left: 0;
    bottom: 0;
}
.footer .copyright img {
    width: 209px;
}
.footer .copyright span {
    display: block;
}

@media screen and (max-width:640px) {
    .footer {
        padding: 70px 0 70px 0;
    }
    .footer .inner {
        display: block;
    }
    .footer .f_txt {
        font-size: 15px;
        margin-bottom: 60px;
        line-height: 1.5;
    }
    .footer .f_info {
        font-size: 16px;
    }
    .footer .f_info strong {
        display: block;
    }
    /* 인접 선택자 
     .footer .f_info span 다음에 오는 strong 태그 */
    .footer .f_info span + strong {
        margin: 40px 0 0 0;
    }
    .footer .f_info span {
        display: block;
        font-size: 15px;
    }
    .footer .copyright {
        position: relative;
        left: auto;
        bottom: auto;
        margin-top: 68px;
    }
    .footer .copyright img {
        width: 209px;
    }
    .footer .copyright span {
        display: block;
    }
}