@charset "utf-8"; /* 이 css문서는 utf-8로 인코딩 되어 있습니다. */
@import url(default.css);
/* 본고딕은 CDN방식으로 사용할 때(나한테 폰트가없고 가져올때 쓰는 방식)
    폰트를 정의하는 font-face가 입력된 css를 import불러다가 사용하는 방식을 많이 씀
    그러나 구글이 서비스 중단하면 사용못해서 font 파일을 저장해서 사용하는 방식을 사용한다 */
@font-face { font-family:'Eulyoo1945'; src:url('../fonts/Eulyoo1945-Regular.woff') format('woff'); font-weight:400; font-style:normal; }
@font-face { font-family:'Eulyoo1945'; src:url('../fonts/Eulyoo1945-Regular.woff2') format('woff2'); font-weight:400; font-style:normal; }
@font-face { font-family:'Eulyoo1945'; src:url('../fonts/Eulyoo1945-SemiBold.woff') format('woff'); font-weight:600; font-style:normal; }
@font-face { font-family:'Eulyoo1945'; src:url('../fonts/Eulyoo1945-SemiBold.woff2') format('woff2'); font-weight:600; font-style:normal; }

html, body {
    /* Pretendard Variable */
    font-family: 'Eulyoo1945', serif; /*서체*/
    font-size: 15px; /*크기*/
    color: #3d3d3d; /* 글자색상 */
    font-weight: 400; /* 글자의 두께 */
    line-height: 1.3; /*auto*/
    word-break: keep-all; /*(중요) 단어를 묶어서 줄바꿈 */
    /* letter-spacing: -0.05em; /*자간*/
}
.wrapper { /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
    width: 1280px; /* 넓이제한 */   
    margin: 0 auto; /* 가운데설정 */
}
#wrap {/* id=wrap"에 적용되는 스타일 */
    min-width: 1280px;
    /* pc형에서 wrapper사이즈보다브라우저 넓이가 작을 때 가로스크롤바가 생성되는데
    오른쪽 background가 짤리는 현상이 생김 가로스크롤바가 생성되엇을때도 홈페이지를 정상적으로 서비스 하기위해
    최소 넓이를 입력*/
}

/* 모바일 640px 이하일때 스타일  */
@media screen and (max-width:640px){
    html, body {
        /* Pretendard Variable */
        font-size: 13px; /*크기*/
        color: #3d3d3d; /* 글자색상 */
        font-weight: 400; /* 글자의 두께 */
        line-height: 1.4; /*auto*/
        word-break: keep-all; /*(중요) 단어를 묶어서 줄바꿈 */
    }
    .wrapper { /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
        width: auto; /* 모바일에서는 넓이제한하면 안되서 auto를 준다 */   
        margin: 0 20px; /* 모바일은 디바이스때문에 유동적이여야하나 안쪽으로 좌우 20px들어가야함 */
    }
    #wrap {/* id=wrap"에 적용되는 스타일 */
        min-width: auto
         ;
        /* 홈페이지 최소넓이 제한하지 않음 */
    }
}/*media*/


.visual .swiper {
    height: 900px;
}
.visual .swiper-slide img {
    display:block; width:100%; height:100%; object-fit:cover;
}
.visual .swiper .prev,
.visual .swiper .next {
    position: absolute; /*swiper 기준*/
    z-index: 10;
    top: 400px;
    width: 30px;
    height: 60px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    line-height: 0;
    opacity: 0.3;
}
.visual .swiper .prev {
    left: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='72' viewBox='0 0 30 72' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.03341 35.9827L29.1643 65.687C29.6967 66.3857 29.9748 67.2671 29.9985 68.3313C30.0222 69.3954 29.7627 70.2729 29.22 70.9637C28.6772 71.6546 27.9936 72 27.1692 72C26.3449 72 25.6623 71.6513 25.1214 70.9538L1.34535 40.3282C0.842675 39.6828 0.492797 39.0084 0.29571 38.3049C0.0985701 37.6015 0 36.829 0 35.9877C0 35.1463 0.0985434 34.3722 0.29563 33.6655C0.492717 32.9587 0.842568 32.2824 1.34518 31.6365L25.1213 1.08318C25.6641 0.385722 26.3379 0.0250636 27.1427 0.00120579C27.9476 -0.022652 28.6214 0.307526 29.1642 0.991748C29.6966 1.69038 29.9629 2.5718 29.9629 3.63603C29.9629 4.70018 29.6959 5.57534 29.1619 6.26149L6.03341 35.9827Z'/%3E%3C/svg%3E%0A");
}
.visual .swiper .next {
    right: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='71' viewBox='0 0 30 71' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.9735 35.4818L0.86892 6.1413C0.326783 5.46591 0.0464421 4.61774 0.0278974 3.5968C0.00929914 2.57592 0.271094 1.72122 0.813284 1.03269C1.34513 0.344234 2.01301 0 2.81691 0C3.62087 0 4.29392 0.344234 4.83606 1.03269L28.658 31.1938C29.1589 31.8299 29.5078 32.4968 29.7047 33.1944C29.9016 33.8921 30 34.6545 30 35.4818C30 36.309 29.9016 37.0714 29.7047 37.7691C29.5078 38.4667 29.1589 39.1336 28.658 39.7697L4.90721 69.9308C4.36507 70.6193 3.68018 70.9753 2.85253 70.9988C2.02488 71.0224 1.34513 70.6899 0.813284 70.0015C0.271094 69.3261 0 68.4779 0 67.457C0 66.4361 0.271094 65.5814 0.813284 64.893L23.9735 35.4818Z'/%3E%3C/svg%3E%0A");
}
.visual .swiper .stop,
.visual .swiper .play {
    position: absolute;
    left: calc(50% + 50px);
    bottom: 215px;
    z-index: 10;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    border-radius: 100%;
    font-size: 0;
    line-height: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.visual .swiper .stop {
    background-image: url("data:image/svg+xml,%3Csvg width='1' height='3' viewBox='0 0 6 8' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5' width='1' height='8' rx='0.5'/%3E%3Crect width='1' height='8' rx='0.5'/%3E%3C/svg%3E");
}
.visual .swiper .play {
    display: none;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='10' viewBox='0 0 8 10' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.534668 8.40022V1.59574C0.534668 1.39626 0.598675 1.24136 0.726689 1.13106C0.854703 1.02074 1.00361 0.965576 1.1734 0.965576C1.22863 0.965576 1.28489 0.972923 1.34217 0.987617C1.39945 1.00231 1.45678 1.02633 1.51417 1.05968L6.73171 4.48718C6.8252 4.55322 6.89945 4.63044 6.95446 4.71883C7.00949 4.8072 7.037 4.90204 7.037 5.00335C7.037 5.10465 7.00949 5.1995 6.95446 5.28789C6.89945 5.37626 6.8252 5.4499 6.73171 5.50881L1.51388 8.93891C1.45649 8.97495 1.39816 8.99987 1.3389 9.01368C1.27965 9.0275 1.22316 9.03441 1.16944 9.03441C0.998716 9.03441 0.850244 8.97925 0.724022 8.86893C0.597786 8.75862 0.534668 8.60239 0.534668 8.40022ZM1.53383 7.71635L5.7494 4.99999L1.53383 2.28364V7.71635Z' fill='white'/%3E%3C/svg%3E");

}
.visual .swiper .pagination {
    position: absolute;
    left: calc(50% - 35px);
    bottom: 215px;
    z-index: 10;
}
/* 일반버튼 */
.visual .swiper .pagination .swiper-pagination-bullet {
    background: transparent;
    opacity: 1;
    border: 1px solid #fff;
    width: 12px;
    height: 12px;
    outline: 0;
}
/* 선택된 버튼 */
.visual .swiper .pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #fff;
}

@media screen and (max-width:640px) {
    .visual .swiper {
        height: 300px;
    }
    .visual .swiper .prev,
    .visual .swiper .next {
        display: none;
    }
    .visual .swiper .stop,
    .visual .swiper .play {
        left: calc(50% + 40px);
        bottom: 75px;
        width: 15px;
        height: 15px;
    }
    .visual .swiper .pagination {
        left: calc(50% - 35px);
        bottom: 72px;
    }
    /* 일반버튼 */
    .visual .swiper .pagination .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }

}
