/* 초기화 항목들을 넣어두는 css */

/* 태그초기화 - 태그의 기본 스타일 제거하는 목적 */
* { /* *은 와이드 카드*/
    padding: 0; /* 모든 태그의 여백삭제 */
    margin: 0; 
    box-sizing: border-box; 
    /* padding 하고 border는 넓이를 늘리는 요소로, 넓이를 늘리지 않도록 하는 속성*/
}
/* 다중선택자 설정은 ,(쉼표)를 넣으면 된다 - 동일적용 보통 초기화에 많이 넣어서 씀  */
ul, ol, li {
    list-style: none; /* ul li앞에 동그라미 삭제 */
}
/* a태그는 파란색에 undeline이 기본적으로 생성되기에 text-decoration 태그로 없애야함 (none;) */
a {
 text-decoration: none; /* 언더라인 막는태크 */
 color: inherit; /* inherit = 누군가 상속해준 스타일을 적용해 라는 의미 > 기본적으로 body에있는거*/
}
address, em {
    /* address는 기본적으로 글자가 기울여져서 em을 뒤에 붙여 기울임 없애는 태그 */
    font-style: normal;
}

/* body가 선언한 속성대로 적용될 수 있도록 초기화 함 */
h1, h2, h3, h4, h5, h6, strong {
    font-size: inherit;
    font-weight: inherit;    
}
/* button태그는 기본스타일이 많음 */
button {
    background-color: transparent; /*투명*/
    border: 0; /* 테두리 삭제 */
    color: inherit; /* 브라우저가 주는 값 삭제 다시 값 줘야 함*/
    font-family: inherit; /*button은 서체도 바꿔서 다시 줘야 함; */
}

/* 본고딕은 CDN방식으로 사용할 때(나한테 폰트가없고 가져올때 쓰는 방식)
    폰트를 정의하는 font-face가 입력된 css를 import불러다가 사용하는 방식을 많이 씀
    그러나 구글이 서비스 중단하면 사용못해서 font 파일을 저장해서 사용하는 방식을 사용한다 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

html, body {
    /* Pretendard Variable */
    font-family: 'Noto Sans KR', sans-serif; /*서체*/
    font-size: 15px; /*크기*/
    color: #3d3d3d; /* 글자색상 */
    font-weight: 400; /* 글자의 두께 */
    line-height: 1.4; /*auto*/
    word-break: keep-all; /*(중요) 단어를 묶어서 줄바꿈 */
    position: relative;
}
.wrapper { /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
    width: 1280px; /* 넓이제한 */   
    margin: 0 auto; /* 가운데설정 */
}
#wrap {/* id=wrap"에 적용되는 스타일 */
    min-width: 1280px;
    /* pc형에서 wrapper사이즈보다브라우저 넓이가 작을 때 가로스크롤바가 생성되는데
    오른쪽 background가 짤리는 현상이 생김 가로스크롤바가 생성되엇을때도 홈페이지를 정상적으로 서비스 하기위해
    최소 넓이를 입력*/
}

/* 모바일 640px 이하일때 스타일  */
@media screen and (max-width:640px){
    html, body {
        /* Pretendard Variable */
        font-size: 13px; /*크기*/
        color: #3d3d3d; /* 글자색상 */
        font-weight: 400; /* 글자의 두께 */
        line-height: 1.4; /*auto*/
        word-break: keep-all; /*(중요) 단어를 묶어서 줄바꿈 */
    }
    .wrapper { /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
        width: auto; /* 모바일에서는 넓이제한하면 안되서 auto를 준다 */   
        margin: 0 20px; /* 모바일은 디바이스때문에 유동적이여야하나 안쪽으로 좌우 20px들어가야함 */
    }
    #wrap {/* id=wrap"에 적용되는 스타일 */
        min-width: auto
         ;
        /* 홈페이지 최소넓이 제한하지 않음 */
    }
}/*media*/

/* 
    width:100%는 쉽게 적용 되는 값
    height:100%는 거의 적용되지 않음 (absoiute 제외)
    height:100% 구현ㄴ이 쉽지 않기 때문에
    콘텐츠를 위아래 가운데 배치하는게 어려움 
*/

h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
}
p {
    font-size: 20px;
    color: #fff;
}
@media screen and (max-width:640px){
    h2 {
        font-size: 25px;
    }
    p {
        font-size: 13px;
    }
}

.flex_center {
    background: url(../images/full_bg01.png) no-repeat center center / cover;
}
/* 
    <section class="flex_center">
        <div class="wrapper">
            <div class="inner">로 되어있을 경우 inner에게 값을 주면 
            flex_center와 wrapper까지 같이 늘어나서 display를 넣어줘야함
     */
.flex_center .inner{
    height: 100vh; /* 브라우저 사이즈에 맞게 높이 조절*/
    min-height: 400px; /* 최소사이즈 */
    display: flex;
    flex-direction: column; /* 세로로 정렬*/
    justify-content: center; /* 위아래 정렬*/
    /* 조건 : display: flex;(높이를 준 요소(태그)의 높이 안에서 위아래 가운데에만 들어갈 수 있음  */
    text-align: center;
}
@media screen and (max-width:640px){
    .flex_center .inner{
        height: 300px; /*모바일의 고정값*/
        min-height: auto; /* 최소사이즈 */
        display: block; /* 모바일에서 flex로 정렬한거 취소 */
        text-align: left;
        padding: 100px;
    }
}

.flex_btm {
    background: url(../images/full_bg03.png) no-repeat center center / cover;
}
.flex_btm .inner {
    height: 100vh;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    padding-bottom: 170px;
}
@media screen and (max-width:640px){
    .flex_btm .inner {
        height: 300px;
        min-height: auto;
        display: block;
        text-align: center;
        padding-bottom: 0;
        padding-top: 50px;
    }
}

.abs_center {
    background: url(../images/full_bg01.png) no-repeat center center / cover;
    height: 100vh;
    min-height: 400px;
    position: relative;
}
.abs_center .inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
    /* 나의 넓이의 절반을 왼쪽으로 이동, 높이를 절반으로 이동 
        잘 사용은 안함(애니메이션 등)*/
    text-align: center;
}
@media screen and (max-width:640px) {
    .abs_center {
        height: 300%;
    }
    .abs_center .inner {
        position: relative;
        left: auto;
        top: auto; 
        transform: translate(0, 0);  
        text-align: left;
        padding-top: 100px;
    }
}

.abs_left {
    background: url(../images/full_bg02.png) no-repeat center center / cover;
}
.abs_left .wrapper {
    position: relative;
    height: 100vh;
    min-height: 400px;
}
.abs_left .inner {
    position: absolute;
    left: 0;
    top: 50%;
    /* absolute 정렬의 기준이 되는 요소의 높이 50% */
    transform: translate(0,-50%);  
}
@media screen and (max-width:640px) {
    .abs_left .wrapper {
        height: 100vh;
        min-height: auto;
    }
    .abs_left .inner {
        position: relative;
        left: auto;
        top: auto;
        /* absolute 정렬의 기준이 되는 요소의 높이 50% */
        transform: translate(0,0);
        text-align: right;
        padding-top: 200px;
    }
}

.abs_btm {
    background: url(../images/full_bg03.png) no-repeat center center / cover;
}
.abs_btm .wrapper {
    position: relative;
    height: 100vh;
    min-height: 400px;
}
.abs_btm .inner {
    position: absolute;
    right: 0;
    bottom: 50px;
    text-align: right;
}
@media screen and (max-width:640px) {
    .abs_btm .wrapper {
        height: 300px;
        min-height: auto;
    }
    .abs_btm .inner {
        position: relative;
        right: auto;
        bottom: auto;
        padding-top: 100px;
    }
}