@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url(../fonts/Pretendard-Bold.woff2) format('woff2'), url(../fonts/Pretendard-Bold.woff) format('woff');
}

html, body {
    /* Pretendard Variable */
    font-family: 'Pretendard', sans-serif; /*서체*/
    font-size: 15px; /*크기*/
    color: #3d3d3d; /* 글자색상 */
    font-weight: 400; /* 글자의 두께 */
    line-height: 1.2; /*auto*/
    word-break: keep-all; /*(중요) 단어를 묶어서 줄바꿈 */
    letter-spacing: -0.05em; /*자간*/
}
.wrapper { /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
    width: 1280px; /* 넓이제한 */   
    margin: 0 auto; /* 가운데설정 */
}
#wrap {/* id=wrap"에 적용되는 스타일 */
    min-width: 1280px;
    /* pc형에서 wrapper사이즈보다브라우저 넓이가 작을 때 가로스크롤바가 생성되는데
    오른쪽 background가 짤리는 현상이 생김 가로스크롤바가 생성되엇을때도 홈페이지를 정상적으로 서비스 하기위해
    최소 넓이를 입력*/
}
/* 태그초기화 - 태그의 기본 스타일 제거하는 목적 */
* { /* *은 와이드 카드*/
    padding: 0; /* 모든 태그의 여백삭제 */
    margin: 0; 
    box-sizing: border-box; 
    /* padding 하고 border는 넓이를 늘리는 요소로, 넓이를 늘리지 않도록 하는 속성*/
}
/* 다중선택자 설정은 ,(쉼표)를 넣으면 된다 - 동일적용 보통 초기화에 많이 넣어서 씀  */
ul, ol, li {
    list-style: none; /* ul li앞에 동그라미 삭제 */
}
/* a태그는 파란색에 undeline이 기본적으로 생성되기에 text-decoration 태그로 없애야함 (none;) */
a {
 text-decoration: none; /* 언더라인 막는태크 */
 color: inherit; /* inherit = 누군가 상속해준 스타일을 적용해 라는 의미 > 기본적으로 body에있는거*/
}
address, em {
    /* address는 기본적으로 글자가 기울여져서 em을 뒤에 붙여 기울임 없애는 태그 */
    font-style: normal;
}

/* body가 선언한 속성대로 적용될 수 있도록 초기화 함 */
h1, h2, h3, h4, h5, h6, strong {
    font-size: inherit;
    font-weight: inherit;    
}
/* button태그는 기본스타일이 많음 */
button {
    background-color: transparent; /*투명*/
    border: 0; /* 테두리 삭제 */
    color: inherit; /* 브라우저가 주는 값 삭제 다시 값 줘야 함*/
    font-family: inherit; /*button은 서체도 바꿔서 다시 줘야 함; */
}

.notice {
    margin-top: 100px;
}
.notice .notice_wrap {
    position: relative;
}
.notice h2 {
    font-size: 42px;
    font-weight: 700;
    color: #aaa;
    line-height: 1.2;
    margin-bottom: 50px;
}
.notice h2 strong {
    color: #1e1e1e;
}
.notice ul {
    display: flex;
    justify-content: space-between;
}
.notice ul li {
    width: 299px;
}
/* a태그 안에 많은 요소들이 들어가면 display를 넣어주는게 좋다 */
.notice ul li a {
    display: block;
}
.notice ul li a strong {
    display: block; /* 제목은 strong, 날자는 span으로 - 디자인 상 줄바꿈이 필요할 때 
    block요소를 사용하여 한줄에 나타나지 않게 씀 */
    color: #1e1e1e;
    margin: 10px 0;
}
.notice ul li a span {
    display: block; /* 하나만 줘도 되지만 그냥 같이 넣어 줌 */
    color: #aaa;
}
.notice .more {
    position: absolute;
    top: 45px;
    right: 0   ;
}
.notice .more a {
    border: 1px solid #999;
    border-radius: 100px;
    line-height: 50px;
    padding: 0 22px;
    display: block;
}
/* 마우스를 오버(마우스를 가져다가댈 때)했을 때 */
.notice .more a:hover {
    background-color: #999;
    color: #fff;
}

/*  media 이란 브라우저 사이즈 640px 이하에서만 적용되는 스타일 
    1. pc와 선택자가 동일해야한다 선택자가 달라지면 xss 우선순위 변경 > 적용 x 
    2. 모바일은 pc버전 스타일을 그대로 상속 받기 때문에 "변경되는 부분만" 스타일 적용
    3. 모바일 스타일은 pc스타일 아래 선언되어야 한다*/
@media screen and (max-width:640px) {
    html, body {
        /* Pretendard Variable */
        font-size: 13px; /*크기*/ 
    }
    .wrapper {
        width: auto;
        /* pc버전에서 준 넓이 값 해제(취소)
        - block요소라면 넓이가 100%되는 것 */
        margin: 0 20px;
        /* 모바일에서는 좌우 20px 여백을 준다 */
    }
    #wrap {
        min-width: 320px; /* 모바일 최소 사이즈(320px)를 준다 */
    }
    .notice {
        margin-top: 65px;
    }
    .notice h2 {
        font-size: 25px;
        margin-bottom: 40px;
    }
    .notice ul {
        display: block;
        /* flex를 해제하는 방법은 block 사용 */
    }
    .notice ul li {
        width: auto; 
        /* 넓이 제한 해제는 auto 사용 */
        margin-bottom: 20px;
    }
    .notice ul li a {
        display: flex;
        /*  왼쪽에 이미지, 오른쪽에 글자가 배치되도록 display:flex 사용 */
        align-items: flex-start;
        /* display:flex는 좌우 요소의 높이를 동일하게 하려는 특징이있어서
        이미지가 오른쪽 글자에 맞춰서 늘어난다(세로) 
        이럴경우  align-items: flex-start; 태그를 줘서 방지한다*/
        justify-content: space-between;
    }
    .notice ul li a img {
        width: 96px;
        /* 이미지 크기를 조정하려면 반드시 img에 width/heught를 줘야함
        감싸는 요소는 줘도 안들어가며 넓이나 높이 하나만 줘도 나머지는 알아서
        비율에 맞게 적용된다 */
    }
    .notice ul li a .inner {
        width: calc(100% - 112px);
        /* 왼쪽에 이미지와 여백은 고정값이며
        오른쪽에 글자는 브라우저 사이즈에 따라서 늘었다가 줄어듦
        그러면 전체 넓이 100%에서 왼쪽이미지 넓이 + 여백을 뺀 값이
        글자의 넓이가 된다 계산할 때 수식(- 마이너스) 양쪽으로 띄어쓰기 꼭! */
    }
    .notice ul li a strong {
        font-size: 15px;
        line-height: 1.2;
        color: #1e1e1e;
        margin: 0 0 3px 0;
        /* 제목을 무조건 두줄로 제한 */
        height: 2.4em; /* 표시되고자 하는 행간의 수만큼 곱하기 
        (ex. 두줄이면 2배 곱하고 세줄이면 3배 곱하면 됨) 단위는 em */
        overflow: hidden; /* 글자 단락의 높이를 지정했기에 벗어나면 글자 숨김 */
    }
    .notice .more {
        /* absolute를 해제하고 원래 코딩순서대로 아래에 배치 */
        position: relative;
        top: auto; /* right, top 해제는 auto */
        right: auto;
        margin: 35px 0 0 0;
        text-align: center;
        /* widht가 넓은 요소(block)에서 inline요소를 가운데 정렬 
            text-align: center */
    }
    .notice .more a {
        line-height: 35px;
        padding: 0 15px;
        display: inline-block;
    }
    /* 모바일은 마우스 오버가 없다 */
    } /* media */

.news {
    margin-top: 100px;
}
.news .notice_wrap {
    position: relative;
}
.news h2 {
    font-size: 42px;
    font-weight: 700;
    color: #aaa;
    line-height: 1.2;
    margin-bottom: 50px;
}
.news h2 strong {
    color: #1e1e1e;
}
.news ul {
    display: flex;
    justify-content: space-between;
}
.news ul li {
    width: 299px;
}
/* a태그 안에 많은 요소들이 들어가면 display를 넣어주는게 좋다 */
.news ul li a {
    display: block;
}
.news ul li a strong {
    display: block; /* 제목은 strong, 날자는 span으로 - 디자인 상 줄바꿈이 필요할 때 
    block요소를 사용하여 한줄에 나타나지 않게 씀 */
    color: #1e1e1e;
    margin: 10px 0;
}
.news ul li a span {
    display: block; /* 하나만 줘도 되지만 그냥 같이 넣어 줌 */
    color: #aaa;
}
.news .more {
    position: absolute;
    top: 45px;
    right: 0;
}
.news .more a {
    border: 1px solid #999;
    border-radius: 100px;
    line-height: 50px;
    padding: 0 22px;
    display: block;
}
/* 마우스를 오버(마우스를 가져다가댈 때)했을 때 */
.news .more a:hover {
    background-color: #999;
    color: #fff;
}

@media screen and (max-width:640px) {
    .news {
        margin-top: 50px;
    }
    .news h2 {
        font-size: 25px;
        font-weight: 700;
        color: #aaa;
        margin-bottom: 14px;
    }
/* 줄바꿈 해제하는 방법으로 br 태그 여,닫태그 없는 단독이라 가능한것*/
    .news h2 br {
        display: none;
    }
    .news ul {
        flex-wrap: wrap;
        /* 한줄에 2개씩 변경 그럼 display:flex
            유지하고 flex-wrpa:wrpa 줄바꿈 허용  */
    }
    .news ul li {
        width: calc(50% - 8px);
        /* 한줄에 2개씩 사이엥 여백 16px 고정으로 배치
        넓이는 %고 여백은 px이라면 계산하기 위해서 
        calc()연상자를 사용해야한다 */
        margin-bottom: 20px;
    }
    .news ul li a img {
        width: 100%;
        /*  감싸는 요소인 li의 넓이에 맞춰서 들어가겠다는 의미로
        높이는 비율에 맞게 조정이 된다 */
    }
    .news ul li a strong {
        font-size: 15px;
        margin: 5px 0;
        /* 제목은 무조건 2줄로만 출력 */
        line-height: 1.2;
        height: 2.4em;
        overflow: hidden;
    }
    .news .more {
        position: relative;
        top: auto;
        right: auto;
        margin: 35px 0 50px 0;
        text-align: center;
        /* diplay:flex:
            just; */
    }
    .news .more a {
        border-radius: 50px;
        line-height: 37px;
        padding: 0 22px;
        display: inline-block;
    }
}
        