/* 웹폰트 적용하는 방법 - 웹폰트란 이 폰트가 깔려있지 않은 이용자도 폰트가
적용된 형태로 보이도록 서비스 하는 방법 */
@font-face { font-family:'Pretendard'; src:url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff'); font-weight:400; font-style:normal; }
@font-face { font-family:'Pretendard'; src:url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff'); font-weight:700; font-style:normal; }

/* 글자의 스타일(서체,색상 행간,자간,정렬 등)은 상속이 가능
기본 글꼴의 스타일 즉, p태그에 정의한 스타일은 전테를 감싸는 body태그에 정의해주고
다른 태그가 상속받게 스타일 줍니다. */

body {
    font-family: 'Pretendard Variable',serif; 
    font-size: 15px;
    color: #3d3d3d;
    font-weight: 400;
    line-height: 1.2; /*글자크기의 1.2배의 행간*/
    word-break: keep-all; /*(중요)줄이 바뀌어도 단어가 하나씩 분리되는 현상을 막아준다 = 가독성 */
}

.wrapper {
    width: 1280px; /*넓이 제한*/
    margin: 0 auto; /*여백 설정*/
}

/*
    태그의 스타일의 초기화
    -브라우저에서 특정태그에 스타일을 주는 경우가 많음
    이 스타일을 제거하고 내스타일을 입히는 작업
*/
* { /* *은 와이드 카드*/
    padding: 0;
    margin: 0;
}

.g_center {
    text-align: center;
}
.g_center h1 {
    font-size: 35px;
    color: #1d1d1d;
    font-weight: 700;
    margin: 100px 0 13px 0;
}

.g_left h2 {
    font-size: 25px;
    color: #1d1d1d;
    font-weight: 700;
    line-height: 1.1;
    margin: 115px 0 13px 0;    
}

.g_right {
    text-align: right;
}

.g_right h2 {
    font-size: 25px;
    color: #f8dd20;
    line-height: 1.1;
    margin: 76px 0 13px 0;    
}

.g_right p {
    color: #666;
    /* 색상코드가 6자리가 다 같으면 3개만 써도 됨 */
}