/*****************************************************************
    파일명 : layout.css
    작성자 : 박지현
    작성일 : 2024.03.20
    설  성 : 모든페이지의 레이아웃 요소(header/footer/서브레이아웃)
             메뉴명, sub_wisual 이미지스타일, 탭메뉴
******************************************************************/

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    color: #fff;
}
header .inner {
    display: flex;
}
header .logo {
    margin: 28px 0 0 48px;
}
header .logo a {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 175px;
    height: 42px;
    background: url(../imges/common/logo_w.svg) no-repeat center center / contain;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    margin: 38px 40px;
}
header .gnb .gnb_open {
    display: none;
}
header .tnb {
    margin: 40px 48px 0 0;
}
header .tnb ul {
    display: flex;
}
header .tnb ul li a {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-right: 10px;
}
header .tnb ul li.search a {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.7293 17.9888L25 23.2595L23.2595 25L17.9888 19.7293C16.0937 21.2455 13.6903 22.1525 11.0763 22.1525C4.96217 22.1525 0 17.1904 0 11.0763C0 4.96217 4.96217 0 11.0763 0C17.1904 0 22.1525 4.96217 22.1525 11.0763C22.1525 13.6903 21.2455 16.0937 19.7293 17.9888ZM17.2602 17.0757C18.765 15.5247 19.6911 13.4092 19.6911 11.0763C19.6911 6.31655 15.836 2.46139 11.0763 2.46139C6.31655 2.46139 2.46139 6.31655 2.46139 11.0763C2.46139 15.836 6.31655 19.6911 11.0763 19.6911C13.4092 19.6911 15.5247 18.765 17.0757 17.2602L17.2602 17.0757Z' fill='white'/%3E%3C/svg%3E%0A");
}
header .tnb ul li.lang a {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4916 25C10.7682 25 9.14818 24.6755 7.63148 24.0266C6.11479 23.3777 4.78816 22.485 3.65161 21.3484C2.51503 20.2118 1.62229 18.8852 0.973388 17.3685C0.324463 15.8518 0 14.2318 0 12.5084C0 10.7666 0.324463 9.14066 0.973388 7.63057C1.62229 6.12048 2.51503 4.79621 3.65161 3.65775C4.78816 2.5193 6.11479 1.62506 7.63148 0.975038C9.14818 0.325013 10.7682 0 12.4916 0C14.2334 0 15.8593 0.325095 17.3694 0.975285C18.8795 1.62547 20.2038 2.51996 21.3422 3.65874C22.4807 4.79749 23.3749 6.12212 24.025 7.63261C24.675 9.1431 25 10.7656 25 12.5C25 14.229 24.675 15.8518 24.025 17.3685C23.3749 18.8852 22.4807 20.2118 21.3422 21.3484C20.2038 22.485 18.8795 23.3777 17.3694 24.0266C15.8593 24.6755 14.2334 25 12.4916 25ZM12.5 23.3359C13.0204 22.8203 13.505 21.9811 13.954 20.8184C14.403 19.6556 14.7486 18.3682 14.9909 16.9562H10.0159C10.2671 18.4087 10.615 19.7141 11.0595 20.8724C11.504 22.0307 11.9841 22.8518 12.5 23.3359ZM10.4064 23.1319C9.94258 22.3989 9.52497 21.4975 9.15352 20.4277C8.78204 19.3579 8.49977 18.2007 8.3067 16.9562H2.63801C3.38002 18.6095 4.43611 19.9704 5.80626 21.0389C7.17641 22.1074 8.70977 22.8051 10.4064 23.1319ZM14.5936 23.1319C16.2857 22.8096 17.818 22.113 19.1904 21.0423C20.5628 19.9716 21.6222 18.6095 22.3688 16.9562H16.7C16.4575 18.2097 16.1504 19.3714 15.7789 20.4412C15.4075 21.511 15.0124 22.4079 14.5936 23.1319ZM2.08557 15.2718H8.13974C8.07491 14.7657 8.03439 14.2725 8.01819 13.792C8.00196 13.3116 7.99385 12.8575 7.99385 12.4298C7.99385 12.002 8.00196 11.5596 8.01819 11.1026C8.03439 10.6456 8.07491 10.1875 8.13974 9.72818H2.08557C1.93877 10.1938 1.8352 10.6588 1.77486 11.1233C1.71453 11.5877 1.68436 12.0466 1.68436 12.5C1.68436 12.9534 1.71453 13.4123 1.77486 13.8767C1.8352 14.3412 1.93877 14.8062 2.08557 15.2718ZM9.87678 15.2718H15.13C15.1975 14.7423 15.2405 14.2554 15.259 13.8112C15.2774 13.367 15.2867 12.93 15.2867 12.5C15.2867 12.07 15.2774 11.6271 15.259 11.1712C15.2405 10.7153 15.1975 10.2343 15.13 9.72818H9.87678C9.80474 10.2343 9.75949 10.7153 9.74104 11.1712C9.72257 11.6271 9.71333 12.07 9.71333 12.5C9.71333 12.93 9.72257 13.3729 9.74104 13.8288C9.75949 14.2847 9.80474 14.7657 9.87678 15.2718ZM16.8603 15.2718H22.9212C23.0635 14.8062 23.1648 14.3412 23.2251 13.8767C23.2855 13.4123 23.3156 12.9534 23.3156 12.5C23.3156 12.0466 23.2855 11.5819 23.2251 11.1057C23.1648 10.6295 23.0635 10.1703 22.9212 9.72818H16.8603C16.9251 10.2343 16.9656 10.7275 16.9818 11.208C16.998 11.6884 17.0061 12.1425 17.0061 12.5702C17.0061 12.998 16.998 13.4404 16.9818 13.8974C16.9656 14.3544 16.9251 14.8125 16.8603 15.2718ZM16.7 8.04383H22.3688C21.6177 6.37696 20.5673 5.01604 19.2174 3.96109C17.8675 2.90613 16.3262 2.20395 14.5936 1.85455C15.0574 2.6326 15.4717 3.54978 15.8364 4.6061C16.2011 5.66242 16.489 6.80833 16.7 8.04383ZM10.0159 8.04383H14.9909C14.7351 6.6048 14.3782 5.29376 13.9203 4.11073C13.4623 2.92768 12.9888 2.11213 12.5 1.66409C12.0112 2.11213 11.5377 2.92768 11.0797 4.11073C10.6218 5.29376 10.2671 6.6048 10.0159 8.04383ZM2.63801 8.04383H8.3067C8.51328 6.80833 8.79892 5.66242 9.16363 4.6061C9.52834 3.54978 9.94258 2.6326 10.4064 1.85455C8.66924 2.20844 7.12688 2.91287 5.77925 3.96783C4.43162 5.02279 3.38454 6.38146 2.63801 8.04383Z' fill='white'/%3E%3C/svg%3E%0A");
}
/* header에 black */
header.black {
    color: #1d1d1d;
}
header.black .logo a {
    background: url(../imges/common/logo_b.svg) no-repeat center center / contain;
}
header.black .tnb ul li.search a {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.7293 17.9888L25 23.2595L23.2595 25L17.9888 19.7293C16.0937 21.2455 13.6903 22.1525 11.0763 22.1525C4.96217 22.1525 0 17.1904 0 11.0763C0 4.96217 4.96217 0 11.0763 0C17.1904 0 22.1525 4.96217 22.1525 11.0763C22.1525 13.6903 21.2455 16.0937 19.7293 17.9888ZM17.2602 17.0757C18.765 15.5247 19.6911 13.4092 19.6911 11.0763C19.6911 6.31655 15.836 2.46139 11.0763 2.46139C6.31655 2.46139 2.46139 6.31655 2.46139 11.0763C2.46139 15.836 6.31655 19.6911 11.0763 19.6911C13.4092 19.6911 15.5247 18.765 17.0757 17.2602L17.2602 17.0757Z' fill='%23101010'/%3E%3C/svg%3E%0A");
}
header.black .tnb ul li.lang a {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4916 25C10.7682 25 9.14818 24.6755 7.63148 24.0266C6.11479 23.3777 4.78816 22.485 3.65161 21.3484C2.51503 20.2118 1.62229 18.8852 0.973388 17.3685C0.324463 15.8518 0 14.2318 0 12.5084C0 10.7666 0.324463 9.14066 0.973388 7.63057C1.62229 6.12048 2.51503 4.79621 3.65161 3.65775C4.78816 2.5193 6.11479 1.62506 7.63148 0.975038C9.14818 0.325013 10.7682 0 12.4916 0C14.2334 0 15.8593 0.325095 17.3694 0.975285C18.8795 1.62547 20.2038 2.51996 21.3422 3.65874C22.4807 4.79749 23.3749 6.12212 24.025 7.63261C24.675 9.1431 25 10.7656 25 12.5C25 14.229 24.675 15.8518 24.025 17.3685C23.3749 18.8852 22.4807 20.2118 21.3422 21.3484C20.2038 22.485 18.8795 23.3777 17.3694 24.0266C15.8593 24.6755 14.2334 25 12.4916 25ZM12.5 23.3359C13.0204 22.8203 13.505 21.9811 13.954 20.8184C14.403 19.6556 14.7486 18.3682 14.9909 16.9562H10.0159C10.2671 18.4087 10.615 19.7141 11.0595 20.8724C11.504 22.0307 11.9841 22.8518 12.5 23.3359ZM10.4064 23.1319C9.94258 22.3989 9.52497 21.4975 9.15352 20.4277C8.78204 19.3579 8.49977 18.2007 8.3067 16.9562H2.63801C3.38002 18.6095 4.43611 19.9704 5.80626 21.0389C7.17641 22.1074 8.70977 22.8051 10.4064 23.1319ZM14.5936 23.1319C16.2857 22.8096 17.818 22.113 19.1904 21.0423C20.5628 19.9716 21.6222 18.6095 22.3688 16.9562H16.7C16.4575 18.2097 16.1504 19.3714 15.7789 20.4412C15.4075 21.511 15.0124 22.4079 14.5936 23.1319ZM2.08557 15.2718H8.13974C8.07491 14.7657 8.03439 14.2725 8.01819 13.792C8.00196 13.3116 7.99385 12.8575 7.99385 12.4298C7.99385 12.002 8.00196 11.5596 8.01819 11.1026C8.03439 10.6456 8.07491 10.1875 8.13974 9.72818H2.08557C1.93877 10.1938 1.8352 10.6588 1.77486 11.1233C1.71453 11.5877 1.68436 12.0466 1.68436 12.5C1.68436 12.9534 1.71453 13.4123 1.77486 13.8767C1.8352 14.3412 1.93877 14.8062 2.08557 15.2718ZM9.87678 15.2718H15.13C15.1975 14.7423 15.2405 14.2554 15.259 13.8112C15.2774 13.367 15.2867 12.93 15.2867 12.5C15.2867 12.07 15.2774 11.6271 15.259 11.1712C15.2405 10.7153 15.1975 10.2343 15.13 9.72818H9.87678C9.80474 10.2343 9.75949 10.7153 9.74104 11.1712C9.72257 11.6271 9.71333 12.07 9.71333 12.5C9.71333 12.93 9.72257 13.3729 9.74104 13.8288C9.75949 14.2847 9.80474 14.7657 9.87678 15.2718ZM16.8603 15.2718H22.9212C23.0635 14.8062 23.1648 14.3412 23.2251 13.8767C23.2855 13.4123 23.3156 12.9534 23.3156 12.5C23.3156 12.0466 23.2855 11.5819 23.2251 11.1057C23.1648 10.6295 23.0635 10.1703 22.9212 9.72818H16.8603C16.9251 10.2343 16.9656 10.7275 16.9818 11.208C16.998 11.6884 17.0061 12.1425 17.0061 12.5702C17.0061 12.998 16.998 13.4404 16.9818 13.8974C16.9656 14.3544 16.9251 14.8125 16.8603 15.2718ZM16.7 8.04383H22.3688C21.6177 6.37696 20.5673 5.01604 19.2174 3.96109C17.8675 2.90613 16.3262 2.20395 14.5936 1.85455C15.0574 2.6326 15.4717 3.54978 15.8364 4.6061C16.2011 5.66242 16.489 6.80833 16.7 8.04383ZM10.0159 8.04383H14.9909C14.7351 6.6048 14.3782 5.29376 13.9203 4.11073C13.4623 2.92768 12.9888 2.11213 12.5 1.66409C12.0112 2.11213 11.5377 2.92768 11.0797 4.11073C10.6218 5.29376 10.2671 6.6048 10.0159 8.04383ZM2.63801 8.04383H8.3067C8.51328 6.80833 8.79892 5.66242 9.16363 4.6061C9.52834 3.54978 9.94258 2.6326 10.4064 1.85455C8.66924 2.20844 7.12688 2.91287 5.77925 3.96783C4.43162 5.02279 3.38454 6.38146 2.63801 8.04383Z' fill='%23101010'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1024px) {
    header {
        height: 50px;
    }
    header .logo {
        margin: 15px 0 0 20px;
    }
    header .logo a {
        display: block;
        width: 100px;
        height: 23px;
    }
    header .gnb ul li a {
        display: none;
    }
    header .gnb .gnb_open {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 60px;
        height: 50px;
        font-size: 0;
        line-height: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 30px auto;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 33 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='33' height='2' fill='white'/%3E%3Crect x='7' y='8' width='26' height='2' fill='white'/%3E%3Crect y='16' width='33' height='2' fill='white'/%3E%3C/svg%3E%0A");
    }
    header .tnb {
        margin: 15px 60px 0 0;
    }
    header .tnb ul li a {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width:768px) {

}