@import url(default.css);
@import url(common.css);
@import url(layout.css);


/*
    파일명 : main.css
    작성자 : 박지현
    작성일 : 2024.03.20
    설  성 : 메인페이지에만 들어가는 스타일을 저장 (header, footer 빼고 전부 다)
*/

@media screen and (max-width:1600px){
    section .wrapper {
        width: auto;
        margin: 0 150px;
    }
}
@media screen and (max-width:1024px){
    section .wrapper {
        margin: 0 20px 0 20px;
    }
}

.visual, .visual .swiper, .visual ul li .photo {
    height: 100vh;
}
.visual ul li .tit {
    position: absolute;
    left: 54%;
    top: 54%;
    transform: translate(-50%, -50%);
    width: 1280px;
    z-index: 10;
    color: #fff;
    font-size: 20px;
}
.visual ul li .tit h2 {
    font-size: 50px;
    font-weight: 800;
    margin: 0 0 10px 0;
}
.visual ul li .tit a {
    display: inline-block;
    margin-top: 27px;
    padding: 18px 53px;
    border-radius: 50px;
    border: 1px solid #fff;
}
.visual ul li .photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* vuisal 이미지가 보일 때 애니메이션 작동 */
.visual ul li.swiper-slide-active .photo img {
    animation-name: visual_img;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes visual_img { 
	0% { transform:scale3d(1.4, 1.4, 1) } 
	100% { transform:scale3d(1, 1, 1) } 
}
.visual ul li.swiper-slide-active .tit h2,
.visual ul li.swiper-slide-active .tit p,
.visual ul li.swiper-slide-active .tit a {
    animation-name: visual_tit;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}
.visual ul li.swiper-slide-active .tit p {
    animation-delay: 0.3s;
}
.visual ul li.swiper-slide-active .tit a {
    animation-delay: 0.6s;
}
@keyframes visual_tit { 
	0% { transform:translate(0, -50px); opacity: 0; } 
	100% { transform:translate(0,0); opacity: 1; } 
}
.visual .paging {
    position: absolute;
    left: calc(50% - 422px);
    bottom: 70px;
    z-index: 11;
    width: 840px;
    display: flex;
}
.visual .paging > span { 
    width: 25%;
    display: block;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    opacity: 1;
    border-radius: 0;
    margin: 0 !important;
}
.visual .paging > span > span {
    position: absolute;
    left: 0;
    top: -20px;
    color: #fff;
    font-size: 14px;
}
.visual .paging > span.swiper-pagination-bullet-active {
    background-color: #fff;
}
.visual .paging > span.swiper-pagination-bullet-active span {
    font-family: 800;
}
.visual .paging .page1 span::before {
    content: "생명의 숲은";
}
.visual .paging .page2 span::before {
    content: "후원하기";
}
.visual .paging .page3 span::before {
    content: "나무기부하기";
}
.visual .paging .page4 span::before {
    content: "지역생명의숲";
}
@media screen and (max-width:1600px) {
    .visual ul li .tit {
        position: absolute;
        left: 200px;
        transform: translate(0, -50%);
        width: calc(100% - 350px);
        /* border: 1px solid #fff; */
    }
}
@media screen and (max-width:1320px) {
    .visual ul li .tit {
        font-size: 18px;
    }
    .visual ul li .tit h2 {
        font-size: 45px;
    }
    .visual ul li .tit a {
        display: inline-block;
        margin-top: 27px;
        padding: 18px 50px;
    }
    .visual .paging {
        left: calc(50% - 360px);
        width: 700px;
    }

}
@media screen and (max-width:1024px) {
    .visual ul li .tit {
        font-size: 15px;
        top: 51%;
    }
    .visual ul li .tit h2 {
        font-size: 35px;
    }
    .visual ul li .tit a {
        display: inline-block;
        margin-top: 25px;
        padding: 15px 45px;
    }
    .visual .paging {
        left: calc(50% - 320px);
        bottom: 50px;
        width: 600px;
    }
    .visual .paging > span > span {
        font-size: 13px;
    }
}
@media screen and (max-width:768px) {
    .visual ul li .tit {
        left: 0;
        transform: translate(0, 0);
        width: 100%;
        text-align: center;
    }
    .visual ul li .tit h2 {
        font-size: 30px;
    }
    .visual .paging {
        left: 0;
        justify-content: center;
        width: 100%;
        bottom: 50px;
    }
    .visual .paging > span { 
        display: block;
        width: 8px;
        height: 8px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 100%;
        margin-left: 5px !important;
    }
    .visual .paging > span > span {
        font-size: 0;
        line-height: 0;
    }
}
@media screen and (max-width:500px) {

}

aside.quick {
    position: fixed;
    right: 48px;
    bottom: 96px;
    z-index: 100;
}
aside.quick ul li {
    margin: 10px 0 0 0;
}
aside.quick ul li a {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #5CB532;
    color: #fff;
    font-size: 13px;
    padding-top: 32px;
    text-align: center;
    position: relative;
}
aside.quick ul li.top a {
    background-color: #101010;
    font-size: 15px;
    font-weight: 800;
    padding-top: 22px;
}
aside.quick ul li a::before {
    position: absolute;
    left: 0;
    top: 6px;
    width: 100%;
    height: 21px;
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
}
aside.quick ul li.donation a::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0821 16.835C11.1128 16.8474 11.1405 16.8536 11.1651 16.8536C11.1897 16.8536 11.2173 16.8474 11.248 16.835L16.7582 15.1374C16.682 14.7024 16.5037 14.3837 16.2234 14.1814C15.9431 13.9791 15.5968 13.878 15.1846 13.878H10.3509C10.0793 13.878 9.78931 13.8578 9.48079 13.8174C9.17226 13.777 8.87817 13.7021 8.59853 13.5927L7.58994 13.2161C7.44462 13.1612 7.33931 13.0554 7.274 12.8985C7.20868 12.7417 7.20611 12.5874 7.26628 12.4356C7.32338 12.2869 7.43058 12.182 7.58788 12.121C7.74517 12.0599 7.90104 12.0605 8.0555 12.1226L9.17561 12.5598C9.37071 12.6369 9.55638 12.6849 9.73264 12.7039C9.90891 12.7228 10.059 12.7267 10.183 12.7155H12.3803H12.3709C12.3709 12.4918 12.3294 12.3143 12.2465 12.1831C12.1635 12.0519 12.0267 11.9469 11.8362 11.8681L5.80425 9.69604C5.78581 9.68982 5.7689 9.68516 5.75353 9.68206C5.73816 9.67894 5.72125 9.67738 5.70281 9.67738H4.58085V14.7505L11.0821 16.835ZM10.691 17.9191L4.58085 15.9857C4.61221 16.3207 4.52092 16.6117 4.307 16.8587C4.09309 17.1057 3.82268 17.2373 3.49579 17.2535H1.44461C1.04255 17.2697 0.701263 17.1323 0.420758 16.8415C0.140253 16.5507 0 16.2011 0 15.7927V9.97573C0 9.57401 0.141699 9.23011 0.425096 8.94405C0.708494 8.65798 1.04917 8.51494 1.44713 8.51494H5.64651C5.75552 8.51494 5.85792 8.52489 5.9537 8.54478C6.0495 8.56467 6.14686 8.58861 6.24579 8.61659L12.2787 10.7896C12.6481 10.9281 12.9474 11.153 13.1766 11.464C13.4059 11.7751 13.5205 12.1922 13.5205 12.7155H15.1846C15.9685 12.7155 16.6337 12.9489 17.1802 13.4156C17.7267 13.8823 18 14.4954 18 15.2549C18 15.445 17.9347 15.6296 17.8041 15.8086C17.6735 15.9876 17.5323 16.0994 17.3805 16.1442L11.6823 17.9359C11.5175 17.9831 11.3531 18.0043 11.1892 17.9993C11.0252 17.9943 10.8591 17.9676 10.691 17.9191ZM1.14959 15.7927C1.14959 15.8797 1.17725 15.9512 1.23255 16.0071C1.28787 16.0631 1.35856 16.0911 1.44461 16.0911H3.13625C3.2223 16.0911 3.29298 16.0677 3.3483 16.0211C3.40362 15.9745 3.43128 15.8984 3.43128 15.7927V9.67738H1.44461C1.35856 9.67738 1.28787 9.70535 1.23255 9.76129C1.17725 9.81723 1.14959 9.88871 1.14959 9.97573V15.7927ZM12.9833 8.32283C12.789 8.32283 12.6124 8.28912 12.4534 8.22169C12.2944 8.15426 12.1409 8.04348 11.9929 7.88934L9.09081 5.01906C8.77734 4.69288 8.51152 4.33155 8.29335 3.93507C8.07518 3.53859 7.96609 3.1181 7.96609 2.67359C7.96609 1.93093 8.21933 1.29967 8.7258 0.7798C9.23226 0.259933 9.84591 0 10.5667 0C11.0468 0 11.4904 0.123371 11.8975 0.370111C12.3047 0.616835 12.6665 0.931303 12.983 1.31352C13.2836 0.915145 13.641 0.596637 14.0552 0.357992C14.4694 0.119331 14.9166 0 15.3969 0C16.122 0 16.7372 0.259933 17.2423 0.7798C17.7474 1.29967 18 1.93093 18 2.67359C18 3.11782 17.9031 3.53929 17.7093 3.93798C17.5154 4.33666 17.2639 4.68894 16.9546 4.99482L14.0017 7.88934C13.8511 8.04348 13.6908 8.15426 13.5209 8.22169C13.351 8.28912 13.1718 8.32283 12.9833 8.32283ZM13.188 7.09793L16.0286 4.40102C16.263 4.17044 16.4586 3.90832 16.6153 3.61467C16.7721 3.32102 16.8504 3.00733 16.8504 2.67359C16.8504 2.25968 16.7095 1.90434 16.4277 1.60759C16.1459 1.31083 15.8015 1.16244 15.3947 1.16244C15.0782 1.16244 14.7932 1.2524 14.5397 1.43233C14.2861 1.61225 14.058 1.82527 13.8551 2.07138L13.4901 2.44518C13.3489 2.60925 13.1803 2.69129 12.9845 2.69129C12.7887 2.69129 12.6192 2.60925 12.476 2.44518L12.1109 2.07138C11.9081 1.82527 11.68 1.61225 11.4264 1.43233C11.1729 1.2524 10.8879 1.16244 10.5714 1.16244C10.1713 1.16244 9.8287 1.31083 9.54349 1.60759C9.25827 1.90434 9.11566 2.25968 9.11566 2.67359C9.11566 3.00733 9.20601 3.32102 9.38671 3.61467C9.56741 3.90832 9.78436 4.17044 10.0376 4.40102L12.7823 7.09793C12.8377 7.15385 12.9053 7.18182 12.9852 7.18182C13.0651 7.18182 13.1327 7.15385 13.188 7.09793Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: 18px auto;
}
aside.quick ul li.my a::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.92767 16.5259H0.967753C0.593826 16.5259 0.316076 16.3607 0.134501 16.0304C-0.0470746 15.7 -0.0448055 15.3782 0.141308 15.0647L4.07244 9.08594H3.75723C3.42096 9.08594 3.17641 8.95159 3.02357 8.68288C2.87073 8.41417 2.88077 8.14406 3.05367 7.87255L7.65106 0.46047C7.73957 0.304969 7.86262 0.189355 8.02021 0.113626C8.17781 0.0378758 8.3387 0 8.5029 0C8.66712 0 8.82698 0.0378758 8.98248 0.113626C9.13801 0.189355 9.26003 0.304969 9.34854 0.46047L13.9522 7.87255C14.1209 8.14406 14.1289 8.41417 13.976 8.68288C13.8232 8.95159 13.5786 9.08594 13.2424 9.08594H12.9272L16.8583 15.0647C17.0444 15.3782 17.0472 15.7 16.8666 16.0304C16.6861 16.3607 16.4099 16.5259 16.0381 16.5259H10.0719V20.0984C10.0719 20.3413 9.97961 20.5523 9.79496 20.7314C9.61031 20.9105 9.39529 21 9.1499 21H7.90297C7.63949 21 7.41107 20.9058 7.21771 20.7175C7.02435 20.5292 6.92767 20.3067 6.92767 20.0501V16.5259ZM1.96409 15.0189H7.01129H4.68162H12.318H9.98831H15.0032H1.96409ZM1.96409 15.0189H15.0032L10.1496 7.57887H11.9953L8.4998 2.12459L5.00425 7.57887H6.84998L1.96409 15.0189Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: 17px auto;
}
aside.quick ul li.youtube a::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 4.70193C22 2.10225 19.8365 0 17.1746 0H4.82541C2.16354 0 0 2.10817 0 4.70193V10.2981C0 12.8977 2.16354 15 4.82541 15H17.1685C19.8365 15 21.9939 12.8918 21.9939 10.2981V4.70193H22ZM14.7376 7.92341L9.20111 10.5942C8.98232 10.7067 8.24696 10.5527 8.24696 10.3158V4.83814C8.24696 4.59534 8.9884 4.44137 9.20718 4.55981L14.5066 7.36676C14.7315 7.49112 14.9624 7.80497 14.7376 7.92341Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: 22px auto;
}
aside.quick ul li.insta a::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.073 3.51376C14.4366 3.51376 13.9165 4.0339 13.9165 4.67024C13.9165 5.30658 14.4366 5.82672 15.073 5.82672C15.7093 5.82672 16.2295 5.30658 16.2295 4.67024C16.2295 4.0339 15.7093 3.51376 15.073 3.51376Z' fill='white'/%3E%3Cpath d='M9.93824 4.99667C7.26007 4.99667 5.08545 7.17683 5.08545 9.84946C5.08545 12.5221 7.26561 14.7023 9.93824 14.7023C12.6109 14.7023 14.791 12.5221 14.791 9.84946C14.791 7.17683 12.6109 4.99667 9.93824 4.99667ZM9.93824 12.9592C8.22289 12.9592 6.82847 11.5648 6.82847 9.84946C6.82847 8.13411 8.22289 6.73969 9.93824 6.73969C11.6536 6.73969 13.048 8.13411 13.048 9.84946C13.048 11.5648 11.6536 12.9592 9.93824 12.9592Z' fill='white'/%3E%3Cpath d='M13.7892 19.71H5.92073C2.65603 19.71 0 17.0539 0 13.7892V5.92074C0 2.65603 2.65603 0 5.92073 0H13.7892C17.0539 0 19.71 2.65603 19.71 5.92074V13.7892C19.71 17.0539 17.0539 19.71 13.7892 19.71ZM5.92073 1.84815C3.67971 1.84815 1.85369 3.67417 1.85369 5.9152V13.7837C1.85369 16.0247 3.67971 17.8507 5.92073 17.8507H13.7892C16.0303 17.8507 17.8563 16.0247 17.8563 13.7837V5.9152C17.8563 3.67417 16.0303 1.84815 13.7892 1.84815H5.92073Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: 19px auto;
}
@media screen and (max-width:1600px){
    aside.quick {
        right: 10px;
    }
}
@media screen and (max-width:1024px){
    aside.quick {
        display: none !important;
    }
}

.tree .wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin-top: 40px;
}
.tree .inner_left {
    width: 520px;
}
.tree .num{
    color: #5CB532;
    margin: 0 0 50px 0;
}
.tree .num strong {
    font-size: 140px;
    font-weight: 800;
}
.tree .num span {
    font-size: 30px;
    font-weight: 800;
}
.tree h2 {
    font-size: 40px;
    letter-spacing : -0.05em;
    color: #666;
    margin: 20px 0 0 10px;
}
.tree p {
    font-size: 20px;
    color: #999;
    margin: 0 0 0 10px;
}
.tree .innter_right {
    width: 400px;
    text-align: center;
}
.tree .innter_right img {
    width: 400px;
    height: 390px;
}

@media screen and (max-width:1320px) {
    .tree .inner_left {
        width: 500px;
    }
    .tree .num strong {
        font-size: 120px;
    }
    .tree .num span {
        font-size: 20px;
    }
    .tree h2 {
        font-size: 30px;
    }
    .tree p {
        font-size: 16px;
    }
    .tree .innter_right {
        width: 300px;
    }
    .tree .innter_right img {
        width: 280px;
        height: 275px;
    }

} /* 1320 */
@media screen and (max-width:1024px) {
    .tree .wrapper {
        display: block;
    }
    .tree .num strong {
        font-size: 80px;
    }
    .tree .inner_left {
        width: auto;
        text-align: center;
    }
    .tree .innter_right {
        width: auto;
    }

}
@media screen and (max-width:768px) {
    .tree .inner_left {
        width: auto;
    }
    .tree .innter_right {
        width: auto;
        text-align: center;
    }
} /* 768 */
@media screen and (max-width:500px) {
    .tree .innter_right img {
        width: 227px;
        height: 223px;
    }
}


.biz {
    background: url(../imges/main/biz_bg.png)no-repeat center center/ cover; 
    color: #fff;
}  
.biz .wrapper {
    padding: 30px 0;
}
.biz .inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.biz .tit {
    width: 50%;
}
.biz .tit h2 {
    font-size: 60px;
    font-weight: 800;
    margin: 5px 0 15px 0;
}
.biz .tit strong {
    font-size: 30px;
}
.biz .tit p {
    font-size: 16px;
    line-height: 1.5;
}
.biz .list {
    width: 626px;
}
.biz .list ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.biz .list ul li {
    width: calc(50% - 14px);
    background-color: #fff;
    color: #FF6419;
    border-radius: 20px;
    margin-bottom: 28px;
    transition: 0.5s;
    overflow: hidden;
}
.biz .list ul li:nth-child(odd) { /* 홀수 */
    transform: translate(0, 30px);
}
.biz .list ul li:hover {
    color: #FFF;
}
.biz .list ul li a {
    display: block;
    height: 220px;
    padding: 144px 0 0 32px;
    font-size: 35px;
    font-weight: 700;
    position: relative; /* before 정렬의 기준 */
}
.biz .list ul li a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: 0.5s;
}
.biz .list ul li.biz01 a::before {
    background-image: url(../imges/main/biz01.png);
}
.biz .list ul li.biz02 a::before {
    background-image: url(../imges/main/biz02.png);
}
.biz .list ul li.biz03 a::before {
    background-image: url(../imges/main/biz03.png);
}
.biz .list ul li.biz04 a::before {
    background-image: url(../imges/main/biz04.png);
}
.biz .list ul li.biz05 a::before {
    background-image: url(../imges/main/biz05.png);
}
.biz .list ul li.biz06 a::before {
    background-image: url(../imges/main/biz06.png);
}
.biz .list ul li a:hover::before {
    opacity: 1;
}
.biz .list ul li a span {
    position: relative; /* before와 after */
}
.biz .list ul li a span::before {
    position: absolute;
    left: 0;
    bottom: 60px;
    width: 96px;
    height: 107px;
    content: "";
    background-position: left bottom;
    background-repeat: no-repeat;
}
.biz .list ul li.biz01 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M73.3971 22.2792H48.5161C48.0712 22.2792 47.6618 22.3322 47.2347 22.4028V6.4311C47.2347 2.87986 44.3337 0 40.7564 0H6.47831C2.901 0 0 2.87986 0 6.4311V80H80V28.8339C80 25.212 77.0278 22.2615 73.3793 22.2615L73.3971 22.2792ZM41.8954 74.6996H5.33927V6.4311C5.33927 5.81272 5.85539 5.30035 6.47831 5.30035H40.7564C41.3793 5.30035 41.8954 5.81272 41.8954 6.4311V74.6996ZM74.6607 74.6996H47.2347V28.8339C47.2347 28.1272 47.8042 27.5618 48.5161 27.5618H73.3971C74.109 27.5618 74.6785 28.1272 74.6785 28.8339V74.6996H74.6607Z' fill='white'/%3E%3Cpath d='M21.0724 14.0283H10.999V24.0283H21.0724V14.0283Z' fill='white'/%3E%3Cpath d='M37.0012 14.0283H26.9277V24.0283H37.0012V14.0283Z' fill='white'/%3E%3Cpath d='M59.5148 33.1802H50.8652V41.7667H59.5148V33.1802Z' fill='white'/%3E%3Cpath d='M70.5495 33.1802H61.8999V41.7667H70.5495V33.1802Z' fill='white'/%3E%3Cpath d='M59.5148 45.8833H50.8652V54.4699H59.5148V45.8833Z' fill='white'/%3E%3Cpath d='M70.5495 45.8833H61.8999V54.4699H70.5495V45.8833Z' fill='white'/%3E%3Cpath d='M59.5148 58.5688H50.8652V67.1554H59.5148V58.5688Z' fill='white'/%3E%3Cpath d='M70.5495 58.5688H61.8999V67.1554H70.5495V58.5688Z' fill='white'/%3E%3Cpath d='M21.0724 28.3569H10.999V38.3569H21.0724V28.3569Z' fill='white'/%3E%3Cpath d='M37.0012 28.3569H26.9277V38.3569H37.0012V28.3569Z' fill='white'/%3E%3Cpath d='M21.0724 42.6855H10.999V52.6855H21.0724V42.6855Z' fill='white'/%3E%3Cpath d='M37.0012 42.6855H26.9277V52.6855H37.0012V42.6855Z' fill='white'/%3E%3Cpath d='M21.0724 57.0142H10.999V67.0142H21.0724V57.0142Z' fill='white'/%3E%3Cpath d='M37.0012 57.0142H26.9277V67.0142H37.0012V57.0142Z' fill='white'/%3E%3C/svg%3E%0A");
}
.biz .list ul li.biz02 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='95' height='89' viewBox='0 0 95 89' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_35_3656)'%3E%3Cpath d='M90.9117 56.3383C87.3973 55.2919 84.1489 52.9619 83.6029 52.5433C74.6279 43.6559 66.003 43.7675 65.667 43.7675H44.2867C42.2145 43.7954 39.1342 45.1906 39.1342 48.9298C39.1342 52.6689 42.1165 54.3432 43.6847 54.692L55.2639 55.0408C56.202 55.0687 57.0981 55.5012 57.7002 56.2127L58.3862 57.0359C58.8203 57.5521 58.9043 58.2776 58.5823 58.8915L57.8962 60.203C57.4621 61.0262 56.6921 61.6401 55.796 61.8633L36.1519 66.886C35.6898 66.9977 35.2138 66.9279 34.8077 66.6628L13.2875 52.5852C11.1313 50.9249 6.14673 48.874 2.24032 52.7666C-1.7221 56.715 0.434126 61.654 2.1283 63.7189L2.28232 63.8864C3.41644 64.9467 29.3892 89 43.9507 89C44.4408 89 44.9168 88.9721 45.3789 88.9163C56.9441 87.5071 83.4909 79.5824 91.3457 77.1826C93.5299 76.5129 95.0001 74.5317 95.0001 72.2436V61.9052C95.0001 59.3519 93.3199 57.0638 90.8976 56.3383H90.9117ZM91.4997 72.2576C91.4997 72.997 91.0237 73.6388 90.3236 73.862C82.5388 76.2339 56.244 84.1028 44.9588 85.4701C34.5277 86.7258 12.5174 68.644 4.77458 61.4447C4.29853 60.8169 2.19831 57.7475 4.71858 55.25C7.39286 52.5852 10.8092 55.0966 11.1873 55.3896L32.8895 69.5927C34.1077 70.388 35.6198 70.6391 37.02 70.2764L56.6641 65.2536C58.5262 64.7793 60.1084 63.5236 61.0045 61.8214L61.6906 60.51C62.6567 58.6543 62.4187 56.4081 61.0745 54.8036L60.3884 53.9804C59.1423 52.5015 57.3081 51.6086 55.3759 51.5528L44.3147 51.2458C43.9087 51.1202 42.6346 50.5901 42.6346 48.9298C42.6346 47.6043 43.5727 47.2974 44.3147 47.2555H65.709C65.821 47.2834 73.3398 47.2416 81.2226 55.0966L81.3907 55.25C81.5587 55.3756 85.4371 58.3474 89.9175 59.6728C90.8556 59.9519 91.5137 60.8727 91.5137 61.8912V72.2297L91.4997 72.2576Z' fill='white'/%3E%3Cpath d='M21.9402 53.0456C23.1163 53.3805 24.3064 53.5479 25.4966 53.5479C28.0028 53.5479 30.4671 52.8084 32.6933 51.3853C32.7213 51.3714 32.7493 51.3435 32.7773 51.3295C32.7773 51.3295 32.7773 51.3295 32.7913 51.3155C36.0117 49.2088 38.0979 46.0138 38.6439 42.3165C39.232 38.396 38.1119 34.1127 35.3956 29.9271C29.795 21.2768 13.7213 19.0445 13.0493 18.9608C12.2092 18.8492 11.3971 19.3654 11.1451 20.1886C10.949 20.8443 6.34255 36.345 11.9431 45.0092C14.6594 49.1948 18.1038 51.9852 21.9262 53.0735L21.9402 53.0456ZM14.1134 22.6441C18.0618 23.3836 28.6329 25.867 32.4693 31.7967C34.7095 35.2568 35.6616 38.7169 35.1996 41.7863C34.9056 43.7815 34.0235 45.5394 32.6373 46.9486C32.0633 45.4138 31.3352 43.8931 30.5091 42.4281C30.4391 42.177 30.2991 41.9677 30.1311 41.7863C29.431 40.5864 28.6889 39.4424 27.9328 38.3541L30.4531 32.1455C30.8171 31.2525 30.3831 30.234 29.487 29.8713C28.5909 29.5085 27.5688 29.941 27.2047 30.834L25.4826 35.0754C23.2703 32.2989 21.4361 30.4294 21.2681 30.2619C20.582 29.5783 19.4759 29.5783 18.7899 30.2619C18.1038 30.9456 18.0898 32.0478 18.7899 32.7314C18.8459 32.7873 22.2202 36.2195 25.3145 40.726L20.26 40.0702C19.3079 39.9446 18.4258 40.6283 18.2998 41.577C18.1738 42.5258 18.8599 43.4048 19.812 43.5303L27.6808 44.5488C28.4929 46.0417 29.193 47.5625 29.697 49.0832C27.5408 50.1296 25.2305 50.3529 22.9203 49.6971C19.924 48.846 17.1517 46.5579 14.9114 43.0978C11.089 37.1821 13.1753 26.5507 14.1274 22.6581L14.1134 22.6441Z' fill='white'/%3E%3Cpath d='M41.3183 32.3826C41.3183 32.3826 41.3183 32.3826 41.3323 32.3966C41.3604 32.4105 41.3884 32.4384 41.4164 32.4524C43.6426 33.8895 46.1209 34.615 48.6131 34.615C49.8032 34.615 50.9934 34.4475 52.1695 34.1127C55.9919 33.0244 59.4503 30.234 62.1525 26.0484C67.7531 17.3982 63.1466 1.8835 62.9506 1.22776C62.6986 0.404588 61.9005 -0.111637 61.0464 -2.11308e-05C60.3603 0.083691 44.3007 2.31602 38.7001 10.9663C35.9838 15.1519 34.8637 19.4352 35.4517 23.3557C35.9978 27.053 38.084 30.248 41.3043 32.3547L41.3183 32.3826ZM41.6544 12.8777C45.4768 6.96204 56.0619 4.47858 60.0103 3.72517C60.9624 7.61779 63.0626 18.2353 59.2262 24.1649C56.986 27.625 54.2137 29.9131 51.2174 30.7642C48.9212 31.4199 46.5969 31.1967 44.4407 30.1503C44.9307 28.6435 45.6308 27.1088 46.4569 25.6159L54.3257 24.5974C55.2918 24.4718 55.9639 23.6068 55.8379 22.6441C55.7119 21.6814 54.8438 21.0117 53.8777 21.1373L48.8231 21.793C51.9315 17.2865 55.2918 13.8543 55.3478 13.7985C56.0339 13.1149 56.0199 12.0127 55.3478 11.329C54.6618 10.6454 53.5556 10.6593 52.8696 11.329C52.7015 11.4965 50.8674 13.366 48.6411 16.1425L46.9189 11.9011C46.5549 11.0081 45.5328 10.5756 44.6367 10.9384C43.7406 11.3011 43.3066 12.3196 43.6706 13.2126L46.1909 19.4212C45.4348 20.5095 44.6927 21.6535 43.9926 22.8395C43.8246 23.0348 43.6846 23.2441 43.6146 23.4812C42.7885 24.9462 42.0604 26.467 41.4864 28.0017C40.1002 26.5925 39.2181 24.8346 38.9241 22.8395C38.462 19.77 39.4141 16.3099 41.6544 12.8498V12.8777Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_35_3656'%3E%3Crect width='95' height='89' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.biz .list ul li.biz03 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='90' height='85' viewBox='0 0 90 85' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M84.1925 42.5H65.0789V26.3269C65.0789 22.6044 62.4783 19.563 59.2874 19.563H45.7578V16.5692L55.7454 10.8349C56.4953 10.4231 56.942 9.63106 56.942 8.77568C56.942 7.92029 56.4953 7.14411 55.7454 6.73226L44.5612 0.316863C43.8273 -0.110829 42.9179 -0.110829 42.1681 0.316863C41.4341 0.744556 40.9715 1.52074 40.9715 2.37613V19.563H28.128C24.9211 19.563 22.3205 22.6044 22.3205 26.3269V42.5H5.80748C2.6006 42.5 0 45.5414 0 49.2639V78.2362C0 81.9745 2.6006 85 5.80748 85H84.1925C87.3994 85 90 81.9745 90 78.2362V49.2639C90 45.5414 87.3994 42.5 84.1925 42.5ZM45.7578 6.49465L49.7625 8.77568L45.7578 11.0725V6.49465ZM49.9699 80.2479H38.9771V61.3977H49.9699V80.2479ZM85.2136 78.2362C85.2136 79.4876 84.5595 80.2479 84.1925 80.2479H54.7562V61.2235C54.7562 58.7049 52.6981 56.6456 50.1613 56.6456H38.8016C36.2648 56.6456 34.1907 58.7049 34.1907 61.2235V80.2479H5.80748C5.44053 80.2479 4.78639 79.4876 4.78639 78.2362V49.2639C4.78639 48.0125 5.44053 47.2522 5.80748 47.2522H23.214C25.3678 47.2522 27.1069 45.5256 27.1069 43.3871V26.3269C27.1069 25.0755 27.777 24.3152 28.128 24.3152H59.2874C59.6384 24.3152 60.2925 25.0755 60.2925 26.3269V43.3871C60.2925 45.5256 62.0475 47.2522 64.2014 47.2522H84.1925C84.5595 47.2522 85.2136 48.0125 85.2136 49.2639V78.2362Z' fill='white'/%3E%3Cpath d='M44.2581 29.3682C39.3441 29.3682 35.3555 33.3441 35.3555 38.223C35.3555 43.1019 39.3441 47.062 44.2581 47.062C49.1722 47.062 53.1608 43.086 53.1608 38.223C53.1608 33.36 49.1722 29.3682 44.2581 29.3682ZM44.2581 42.3098C41.9766 42.3098 40.1419 40.4723 40.1419 38.223C40.1419 35.9736 41.9766 34.1203 44.2581 34.1203C46.5397 34.1203 48.3744 35.9578 48.3744 38.223C48.3744 40.4882 46.5237 42.3098 44.2581 42.3098Z' fill='white'/%3E%3C/svg%3E%0A");
}
.biz .list ul li.biz04 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='87' height='69' viewBox='0 0 87 69' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.21246 40.8556C4.21422 37.9538 2.71555 35.0136 1.70362 32.0348C0.691696 29.056 0.179329 26.0002 0.179329 22.8416C0.179329 16.6016 2.38251 11.2346 6.76325 6.74079C11.1568 2.24693 16.5623 0 22.9669 0C26.7584 0 30.3962 0.911612 33.9059 2.73483C37.4028 4.55806 40.6051 7.17733 43.4872 10.5798C46.3693 7.17733 49.5716 4.55806 53.0685 2.73483C56.5654 0.911612 60.216 0 64.0075 0C70.4249 0 75.8304 2.24693 80.2111 6.74079C84.6047 11.2346 86.7951 16.6016 86.7951 22.8416C86.7951 25.7819 86.2827 28.7479 85.2708 31.7266C84.2588 34.7183 82.7474 37.7099 80.7235 40.7015C80.3648 39.9953 79.8781 39.3919 79.2761 38.904C78.674 38.4032 78.0336 37.9924 77.3675 37.6585C79.0071 35.142 80.2239 32.6126 81.0309 30.0575C81.8379 27.5024 82.235 25.0886 82.235 22.8288C82.235 17.7957 80.4929 13.4944 77.0216 9.91217C73.5504 6.32992 69.208 4.54522 63.9947 4.54522C61.6506 4.54522 58.538 5.37979 54.6824 7.06178C50.8269 8.74377 47.0866 12.2618 43.4872 17.6159C39.8878 12.3132 36.1603 8.80796 32.292 7.1003C28.4236 5.39263 25.3238 4.53238 22.9797 4.53238C17.7663 4.53238 13.424 6.31708 9.95274 9.89933C6.48145 13.4816 4.7394 17.7828 4.7394 22.816C4.7394 25.3197 5.13648 27.8234 5.91784 30.3143C6.71201 32.818 7.91608 35.2704 9.53004 37.6971C8.99205 38.0694 8.44125 38.4931 7.87765 38.9939C7.31405 39.4946 6.76325 40.0981 6.21246 40.8171V40.8556ZM0 66.2652V65.7773C0 63.2735 1.31935 61.2706 3.95804 59.794C6.59673 58.3175 10.2217 57.5728 14.8458 57.5728C15.6016 57.5728 16.2805 57.5984 16.8697 57.6626C17.4589 57.7268 18.0097 57.8039 18.5349 57.9194C18.3684 58.5999 18.1762 59.3575 17.9841 60.2177C17.792 61.0651 17.6895 62.0795 17.6895 63.235V68.9872H2.70274C1.95981 68.9872 1.33216 68.7175 0.79417 68.1911C0.268993 67.6647 0 67.0227 0 66.2652ZM22.8004 66.1111V63.3634C22.8004 59.7298 24.6833 56.8409 28.4364 54.7095C32.1895 52.5782 37.2107 51.5125 43.5 51.5125C49.7893 51.5125 54.7849 52.5782 58.5508 54.7095C62.3167 56.8409 64.1996 59.717 64.1996 63.3634V66.1111C64.1996 66.9071 63.9178 67.5876 63.3542 68.1526C62.7906 68.7175 62.1117 69 61.3176 69H25.6568C24.8498 69 24.1709 68.7175 23.6201 68.1526C23.0693 67.5876 22.8004 66.9071 22.8004 66.1111ZM69.2849 69V63.235C69.2849 62.0153 69.1824 60.9881 68.9775 60.1664C68.7725 59.3446 68.5676 58.5999 68.3754 57.9194C68.8622 57.8039 69.4258 57.714 70.0534 57.6626C70.6811 57.5984 71.3856 57.5728 72.167 57.5728C76.7526 57.5728 80.3648 58.3175 83.0163 59.794C85.6678 61.2706 86.9872 63.2607 86.9872 65.7773V66.2652C86.9872 67.0227 86.7182 67.6647 86.1802 68.1911C85.6422 68.7304 85.0018 68.9872 84.2588 68.9872H69.2721L69.2849 69ZM43.4872 56.0962C38.4916 56.0962 34.636 56.7895 31.9205 58.1762C29.2049 59.5629 27.591 61.5145 27.0914 64.0311V64.4291H59.8701V64.0311C59.3962 61.5017 57.7951 59.5501 55.0667 58.1762C52.3512 56.7895 48.4828 56.0962 43.4872 56.0962ZM14.8202 52.7322C13.2831 52.7322 11.9766 52.193 10.9006 51.1144C9.82465 50.0359 9.28666 48.7263 9.28666 47.2112C9.28666 45.6961 9.82465 44.3608 10.9006 43.2694C11.9766 42.1909 13.2703 41.6388 14.7946 41.6388C16.3317 41.6388 17.6383 42.1781 18.7398 43.2438C19.8414 44.3095 20.3922 45.6319 20.3922 47.1855C20.3922 48.7263 19.8542 50.0359 18.7655 51.1144C17.6895 52.193 16.3701 52.7322 14.8074 52.7322H14.8202ZM72.1542 52.7322C70.6299 52.7322 69.3361 52.193 68.2473 51.1144C67.1714 50.0359 66.6206 48.7263 66.6206 47.2112C66.6206 45.6961 67.1586 44.3608 68.2473 43.2694C69.3361 42.1909 70.6299 41.6388 72.1285 41.6388C73.6784 41.6388 74.9978 42.1781 76.0866 43.2438C77.1754 44.3095 77.7133 45.6319 77.7133 47.1855C77.7133 48.7391 77.1754 50.0359 76.1122 51.1144C75.049 52.193 73.7169 52.7322 72.1413 52.7322H72.1542ZM43.4616 48.8547C40.7973 48.8547 38.53 47.9174 36.6471 46.03C34.7641 44.1554 33.8291 41.8571 33.8291 39.1479C33.8291 36.4388 34.7641 34.2047 36.6471 32.3044C38.53 30.4042 40.8101 29.4669 43.5 29.4669C46.1899 29.4669 48.4187 30.417 50.3273 32.3044C52.2231 34.1918 53.1709 36.4901 53.1709 39.1865C53.1709 41.8828 52.2231 44.1425 50.3273 46.03C48.4315 47.9174 46.1515 48.8547 43.4616 48.8547ZM43.4872 34.0378C42.091 34.0378 40.8869 34.5257 39.8878 35.5143C38.8887 36.503 38.3763 37.7099 38.3763 39.1479C38.3763 40.5603 38.8759 41.7672 39.8878 42.7815C40.8869 43.783 42.091 44.2966 43.5 44.2966C44.909 44.2966 46.1515 43.7959 47.1378 42.7815C48.1241 41.78 48.6237 40.5603 48.6237 39.1351C48.6237 37.7099 48.1369 36.5158 47.1506 35.5143C46.1643 34.5257 44.9474 34.0249 43.5 34.0249L43.4872 34.0378Z' fill='white'/%3E%3C/svg%3E%0A");
}
.biz .list ul li.biz05 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='95' height='72' viewBox='0 0 95 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_35_3648)'%3E%3Cpath d='M69.4921 0C65.6388 0 53.5517 0.313574 47.5082 3.92793C41.4483 0.313574 29.3777 0 25.5244 0C21.2593 0 0 0.445606 0 9.09364V67.996C0 69.3163 0.74103 70.5046 1.91021 71.0987C2.4207 71.3628 2.98059 71.4948 3.54047 71.4948C4.31444 71.4948 5.07194 71.2473 5.71416 70.7687C8.33247 68.8212 15.4793 66.8407 25.5079 66.8407C35.5365 66.8407 42.6668 68.8047 45.3016 70.7687C45.5816 70.9667 45.845 71.0822 46.0262 71.1483C46.2238 71.2308 46.4049 71.2968 46.5861 71.3463C46.8166 71.3958 47.0636 71.4453 47.4753 71.4618C47.7552 71.4453 47.9858 71.4123 48.1999 71.3793C48.2657 71.3793 48.3151 71.3628 48.381 71.3463C48.4139 71.3463 48.4304 71.3463 48.4633 71.3463C48.5457 71.3298 48.6445 71.2803 48.7433 71.2473C48.7433 71.2473 48.7433 71.2473 48.7598 71.2473C48.8256 71.2143 48.8915 71.2143 48.9738 71.1648L49.3032 71.0657L49.6819 70.7852C52.3002 68.8377 59.447 66.8572 69.4756 66.8572C79.5042 66.8572 86.6346 68.8212 89.2694 70.7852C90.3891 71.6104 91.8547 71.7424 93.0733 71.1318C94.259 70.5376 94.9835 69.3493 94.9835 68.029V9.09364C94.9835 0.445606 73.7242 0 69.4592 0H69.4921ZM4.9402 65.4874V9.14315C5.35188 7.90536 11.8894 4.95117 25.5244 4.95117C35.5365 4.95117 42.3375 6.55204 45.0381 8.21894L45.3181 65.1408C40.6908 63.0944 33.5275 61.8896 25.5244 61.8896C17.0766 61.8896 9.51811 63.2429 4.9402 65.4874ZM90.0598 65.4874C85.4819 63.2264 77.9398 61.8896 69.4756 61.8896C61.7854 61.8896 54.8856 63.0283 50.2418 64.9263L49.9619 8.21894C52.679 6.55204 59.48 4.95117 69.4756 4.95117C83.1106 4.95117 89.6316 7.90536 90.0598 9.09364V65.5039V65.4874Z' fill='white'/%3E%3Cpath d='M86.0745 18.2203C70.4141 10.1994 54.9513 17.8902 54.2926 18.2203C53.074 18.8474 52.5965 20.3163 53.2058 21.5375C53.8151 22.7588 55.2971 23.2374 56.5157 22.6268C56.6474 22.5608 70.4306 15.7612 83.8021 22.6268C84.1643 22.8083 84.5431 22.8909 84.9218 22.8909C85.8275 22.8909 86.6838 22.3957 87.1285 21.5375C87.7542 20.3163 87.2602 18.8309 86.0581 18.2038L86.0745 18.2203Z' fill='white'/%3E%3Cpath d='M86.0745 32.2817C70.4141 24.2608 54.9513 31.9516 54.2926 32.2817C53.074 32.9088 52.5965 34.3777 53.2058 35.5989C53.8151 36.8202 55.2971 37.2988 56.5157 36.6882C56.6474 36.6222 70.4306 29.8391 83.8021 36.6882C84.1643 36.8697 84.5431 36.9523 84.9218 36.9523C85.8275 36.9523 86.6838 36.4571 87.1285 35.5989C87.7542 34.3777 87.2602 32.8923 86.0581 32.2652L86.0745 32.2817Z' fill='white'/%3E%3Cpath d='M86.0745 46.3429C70.4141 38.3221 54.9513 46.0129 54.2926 46.3429C53.074 46.9701 52.5965 48.4389 53.2058 49.6602C53.8151 50.8815 55.2971 51.3601 56.5157 50.7495C56.6474 50.6835 70.4306 43.8839 83.8021 50.7495C84.1643 50.931 84.5431 51.0135 84.9218 51.0135C85.8275 51.0135 86.6838 50.5184 87.1285 49.6602C87.7542 48.4389 87.2602 46.9536 86.0581 46.3264L86.0745 46.3429Z' fill='white'/%3E%3Cpath d='M11.6425 22.8744C11.7743 22.8084 25.5574 16.0088 38.9289 22.8744C39.2912 23.0559 39.6699 23.1384 40.0486 23.1384C40.9543 23.1384 41.8107 22.6433 42.2553 21.7851C42.881 20.5638 42.387 19.0785 41.1849 18.4513C25.508 10.4305 10.0616 18.1213 9.40296 18.4513C8.18437 19.0785 7.70682 20.5473 8.31611 21.7686C8.9254 22.9899 10.4239 23.4685 11.626 22.8579L11.6425 22.8744Z' fill='white'/%3E%3Cpath d='M41.1849 32.5291C25.508 24.5082 10.0616 32.199 9.40296 32.5291C8.18437 33.1562 7.70682 34.6251 8.31611 35.8464C8.9254 37.0677 10.4239 37.5463 11.626 36.9356C11.7578 36.8696 25.5409 30.07 38.9124 36.9356C39.2747 37.1172 39.6534 37.1997 40.0322 37.1997C40.9379 37.1997 41.7942 36.7046 42.2388 35.8464C42.8646 34.6251 42.3705 33.1397 41.1684 32.5126L41.1849 32.5291Z' fill='white'/%3E%3Cpath d='M41.1849 46.574C25.508 38.5531 10.0616 46.2439 9.40296 46.574C8.18437 47.2012 7.70682 48.67 8.31611 49.8913C8.9254 51.1126 10.4239 51.5912 11.626 50.9806C11.7578 50.9145 25.5409 44.1149 38.9124 50.9806C39.2747 51.1621 39.6534 51.2446 40.0322 51.2446C40.9379 51.2446 41.7942 50.7495 42.2388 49.8913C42.8646 48.67 42.3705 47.1847 41.1684 46.5575L41.1849 46.574Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_35_3648'%3E%3Crect width='95' height='71.4948' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.biz .list ul li.biz06 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='93' height='75' viewBox='0 0 93 75' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_66_78)'%3E%3Cpath d='M92.7964 44.5896C92.7964 37.2047 86.788 31.1879 79.4134 31.1879C72.0387 31.1879 66.0303 37.2047 66.0303 44.5896C66.0303 51.1816 70.8122 56.6698 77.0845 57.7737V75.0001H81.7422V57.7737C88.0146 56.6698 92.7964 51.1816 92.7964 44.5896ZM79.4134 53.3272C74.6004 53.3272 70.688 49.4093 70.688 44.5896C70.688 39.77 74.6004 35.852 79.4134 35.852C84.2263 35.852 88.1388 39.77 88.1388 44.5896C88.1388 49.4093 84.2263 53.3272 79.4134 53.3272Z' fill='white'/%3E%3Cpath d='M15.2151 26.2283C6.83127 26.2283 0 33.0691 0 41.4646C0 49.0672 5.60475 55.3794 12.8863 56.4988V75.0156H17.5439V56.4988C24.8255 55.3638 30.4302 49.0672 30.4302 41.4646C30.4302 33.0691 23.5989 26.2283 15.2151 26.2283ZM15.2151 52.0367C9.393 52.0367 4.65768 47.2948 4.65768 41.4646C4.65768 35.6344 9.393 30.8925 15.2151 30.8925C21.0372 30.8925 25.7725 35.6344 25.7725 41.4646C25.7725 47.2948 21.0372 52.0367 15.2151 52.0367Z' fill='white'/%3E%3Cpath d='M68.7783 20.5846C68.7783 9.23507 59.5561 0 48.2224 0C36.8887 0 27.6665 9.23507 27.6665 20.5846C27.6665 31.1412 35.6467 39.8632 45.8936 41.0292V75.0155H50.5513V41.0292C60.7826 39.8632 68.7783 31.1567 68.7783 20.5846ZM48.2224 36.4894C39.466 36.4894 32.3242 29.3532 32.3242 20.569C32.3242 11.7848 39.466 4.66418 48.2224 4.66418C56.9789 4.66418 64.1207 11.8004 64.1207 20.5846C64.1207 29.3688 56.9944 36.505 48.2224 36.505V36.4894Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_66_78'%3E%3Crect width='92.7966' height='75' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.biz .list ul li a::after {
    position: absolute;
    right: 18px;
    bottom: 30px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #FF6419;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px auto;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2937 8.76511H0.804771C0.582978 8.76511 0.393407 8.69178 0.236057 8.54512C0.0786856 8.39848 0 8.22041 0 8.0109C0 7.80137 0.0786748 7.62003 0.236024 7.46687C0.393396 7.31371 0.582978 7.23713 0.804771 7.23713H14.2937L8.11844 1.35718C7.95759 1.20402 7.87115 1.0239 7.85913 0.816814C7.84713 0.609728 7.9282 0.418201 8.10235 0.24223C8.27221 0.0718462 8.46482 -0.00865255 8.68016 0.000735368C8.89551 0.0101445 9.08812 0.0938288 9.25801 0.251788L16.6776 7.32608C16.7784 7.42631 16.8573 7.53264 16.9144 7.64506C16.9715 7.7575 17 7.8789 17 8.00927C17 8.13962 16.9715 8.26102 16.9144 8.37346C16.8573 8.48588 16.7829 8.5858 16.6911 8.67322L9.2644 15.7448C9.0791 15.9212 8.88714 16.0062 8.68853 15.9997C8.48991 15.9931 8.30567 15.9026 8.13581 15.7281C7.96166 15.5563 7.87459 15.3707 7.87459 15.1715C7.87459 14.9723 7.96166 14.7934 8.13581 14.6346L14.2937 8.76511Z' fill='white'/%3E%3C/svg%3E%0A");
    content: "";
}
@media screen and (max-width:1600px){
    .biz .tit h2 {
        font-size: 50px;
        margin: 5px 0 15px 0;
    }
    .biz .tit strong {
        font-size: 28px;
    }
    .biz .list {
        width: 500px;
    }
    .biz .list ul li a {
        display: block;
        height: 190px;
        padding: 135px 0 0 32px;
        font-size: 30px;
    }
    .biz .list ul li a::after {
        right: 30px;
        bottom: 20px;
        width: 30px;
        height: 30px;
        background-size: 14px auto;
    }
}
@media screen and (max-width:1024px) { 
    .biz .inner {
        display: flex;
        flex-direction: column;
    }
    .biz .tit {
        width: 60%;
        margin-top: 100px;
    }
    }
    .biz .tit h2 {
        font-size: 40px;
        margin: 0 0 10px 0;
    }
    .biz .tit p {
        font-size: 14px;
    }    
    .biz .tit strong {
        font-size: 20px;
    }
    .biz .list {
        width: 60%;
    }
    .biz .list ul {
        margin-top: 30px;
    }
    .biz .list ul li a {
        display: block;
        height: 75px;
        padding: 144px 0 0 32px;
        font-size: 35px;
        font-weight: 700;
        position: relative; /* before 정렬의 기준 */
    }
    .biz .list ul li:nth-child(odd) { /* 홀수 */
        transform: translate(0, 0);
    }
 

.news {
    background-color: #fff;
}
.fooer {
    height: 1000px;
    background-color: #35763C;
    color: #fff;
}

/*************************************************************
    page에서 자동생성한 pagenavtion
    #fp-nav.fp-left 동일한 선택자 두개가 존재할 때
    꼭 내꺼를 먼저 적요오디게 하기 위해서
    앞에 body를 추가함
    body라는 상위요소부터 선택자를 입력한 스타일이 먼저 적용
 **************************************************************/

body #fp-nav.fp-left {
    left: auto;
}
body #fp-nav ul li, .fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 42px;
    position: relative;
}
body #fp-nav ul li .fp-tooltip {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-family: inherit;
    opacity: 1;
    width: auto;
}
body #fp-nav ul li:hover.fp-tooltip,
body #fp-nav.fp-show-active a.active + .fp-tooltip {
    width: auto;
    font-size: 18px;
    font-weight: 800;
    color: #fff;
}
body #fp-nav ul li a span, .fp-slidesNav ul li a span {
    height: 5px;
    width: 5px;
    background: rgba(255, 255, 255, 0.5);
}
body #fp-nav ul li a.active span {
    height: 10px;
    width: 10px;
    background-color: #fff;
    margin: -3px 0 0 -4px;
}

body #fp-nav ul li:last-child {
    display: none;
}

/* 검은색일때*/
body #fp-nav[data-color='black'] ul li .fp-tooltip {
    color: rgba(0, 0, 0, 0.5);;
}
body #fp-nav[data-color='black'] ul li:hover.fp-tooltip,
body #fp-nav[data-color='black'].fp-show-active a.active + .fp-tooltip {
    color: #101010;
}
body #fp-nav[data-color='black'] ul li a span, .fp-slidesNav ul li a span {
    background: rgba(0, 0, 0, 0.5);
}
body #fp-nav[data-color='black'] ul li a.active span {
    background-color: #101010;
}

@media screen and (max-width:1600px){
    body #fp-nav.fp-left {
        left: 0;
    }
}
@media screen and (max-width:1024px){
    body #fp-nav.fp-left {
        display: none !important;
    }
}