@charset "utf-8"; /* 이 css문서는 utf-8로 인코딩 되어 있습니다. */
@import url(default.css);
/* 본고딕은 CDN방식으로 사용할 때(나한테 폰트가없고 가져올때 쓰는 방식)
    폰트를 정의하는 font-face가 입력된 css를 import불러다가 사용하는 방식을 많이 씀
    그러나 구글이 서비스 중단하면 사용못해서 font 파일을 저장해서 사용하는 방식을 사용한다 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

html, body {
    /* Pretendard Variable */
    font-family: 'Noto Sans KR', sans-serif; /*서체*/
    font-size: 15px; /*크기*/
    color: #3d3d3d; /* 글자색상 */
    font-weight: 400; /* 글자의 두께 */
    line-height: 1.4; /*auto*/
    word-break: keep-all; /*(중요) 단어를 묶어서 줄바꿈 */
    position: relative;
    letter-spacing: -0.05em; /*자간*/
}
.wrapper { /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
    width: 1280px; /* 넓이제한 */   
    margin: 0 auto; /* 가운데설정 */
}
#wrap {/* id=wrap"에 적용되는 스타일 */
    min-width: 1280px;
    /* pc형에서 wrapper사이즈보다브라우저 넓이가 작을 때 가로스크롤바가 생성되는데
    오른쪽 background가 짤리는 현상이 생김 가로스크롤바가 생성되엇을때도 홈페이지를 정상적으로 서비스 하기위해
    최소 넓이를 입력*/
}

/* 모바일 640px 이하일때 스타일  */
@media screen and (max-width:640px){
    html, body {
        /* Pretendard Variable */
        font-size: 13px; /*크기*/
        color: #3d3d3d; /* 글자색상 */
        font-weight: 400; /* 글자의 두께 */
        line-height: 1.4; /*auto*/
        word-break: keep-all; /*(중요) 단어를 묶어서 줄바꿈 */
    }
    .wrapper { /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
        width: auto; /* 모바일에서는 넓이제한하면 안되서 auto를 준다 */   
        margin: 0 20px; /* 모바일은 디바이스때문에 유동적이여야하나 안쪽으로 좌우 20px들어가야함 */
    }
    #wrap {/* id=wrap"에 적용되는 스타일 */
        min-width: auto
         ;
        /* 홈페이지 최소넓이 제한하지 않음 */
    }
}/*media*/

.header {
    /* fixed 브라우저 위치가 고정 - 스크롤을 내리던 말던 무조건 body랑만 정렬됨 */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header .logo {
    float: left;
    margin: 20px 0 0 0;
}
.header .logo a {
    display: block;
    width: 150px;
    height: 50px;
    background: url(../images/logo_w.svg) no-repeat center center / contain ;
    font-size: 0;
    line-height: 0;
}

.header .login {
    float: right;
}
.header .gnb {
    float: left;
}
.header .gnb .gnb_open,
.header .gnb .gnb_close {
    display: none;
}
.header .gnb ul.depth1 {
    display: flex;
}
.header .gnb ul.depth1 > li {
    width: 180px;
    text-align: center;
}
/* header 메뉴 */
.header .gnb ul.depth1 > li > a {
    display: block;
    line-height: 100px;
    font-size: 20px;
    font-weight: 700;
}
.header .gnb ul.depth1 > li > a > span {
    position: relative;  /*after의 기준*/ 
    display: inline-block;
    padding: 0 20px 0 20px;
}
.header .gnb ul.depth1 > li:hover > a {
    color: #004289;
}
.header .gnb ul.depth1 > li:hover > a > span::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #004289;
    color: #1d1d1d;
    content: "";
}

/* 2차 메뉴 */
.header .gnb ul.depth2 {
    margin: 8px 0 22px 0;
    display: none;
}
.header .gnb ul.depth2 > li > a {
    display: block;
    line-height: 40px;
    color: #1d1d1d;
}
.header .gnb ul.depth2 > li > a:hover {
    color: #009FE3;
    font-weight: 700;
}
.header .tnb {
    float: right;
    display: flex;

}
.header .tnb .login,
.header .tnb .lang {
    width: 26px;
    height: 24px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    font-size: 0;
    line-height: 0;
    padding: 50px 0;
}
.header .tnb .login {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='24' viewBox='0 0 26 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 11.488C11.3233 11.488 9.90726 10.9332 8.75186 9.82362C7.59647 8.71406 7.01877 7.35418 7.01877 5.74399C7.01877 4.13379 7.59647 2.77391 8.75186 1.66435C9.90726 0.554784 11.3233 0 13 0C14.6767 0 16.0927 0.554784 17.2481 1.66435C18.4035 2.77391 18.9812 4.13379 18.9812 5.74399C18.9812 7.35418 18.4035 8.71406 17.2481 9.82362C16.0927 10.9332 14.6767 11.488 13 11.488ZM0 21.6667V20.7378C0 20.1765 0.171253 19.6408 0.51376 19.1307C0.856266 18.6206 1.34942 18.1729 1.99321 17.7875C3.70887 16.853 5.50119 16.1321 7.37019 15.6248C9.23921 15.1174 11.1125 14.8638 12.9899 14.8638C14.8674 14.8638 16.7448 15.1173 18.622 15.6243C20.4992 16.1314 22.2949 16.8523 24.0091 17.7869C24.6522 18.1404 25.1448 18.5802 25.4869 19.1064C25.829 19.6325 26 20.1763 26 20.7377V21.6667C26 22.316 25.7639 22.8673 25.2917 23.3204C24.8195 23.7735 24.2451 24 23.5684 24H2.41553C1.73883 24 1.16706 23.7735 0.700237 23.3204C0.233412 22.8673 0 22.316 0 21.6667ZM2.39129 21.7036H23.6087V20.7427C23.6087 20.533 23.5329 20.3381 23.3812 20.1581C23.2295 19.978 23.0151 19.8228 22.738 19.6925C21.2943 18.8576 19.7473 18.2268 18.097 17.8002C16.4467 17.3735 14.7473 17.1602 12.9988 17.1602C11.2386 17.1602 9.53626 17.3735 7.89177 17.8002C6.24732 18.2268 4.70724 18.8576 3.27153 19.6925C2.98643 19.8754 2.76844 20.0493 2.61756 20.2142C2.46672 20.3791 2.39129 20.5545 2.39129 20.7404V21.7036ZM13.0106 9.19152C14.0007 9.19152 14.8448 8.85296 15.5429 8.17584C16.2409 7.49869 16.5899 6.68469 16.5899 5.73383C16.5899 4.78295 16.2374 3.97233 15.5323 3.30198C14.8272 2.63162 13.9796 2.29645 12.9894 2.29645C11.9993 2.29645 11.1552 2.63501 10.4571 3.31213C9.75909 3.98928 9.41007 4.80328 9.41007 5.75414C9.41007 6.70502 9.76261 7.51564 10.4677 8.18599C11.1728 8.85635 12.0204 9.19152 13.0106 9.19152Z'/%3E%3C/svg%3E%0A");
    margin-right:20px ;
}
.header .tnb .lang {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9913 26C11.1989 26 9.5141 25.6626 7.93674 24.9877C6.35938 24.3128 4.97969 23.3844 3.79767 22.2023C2.61563 21.0203 1.68718 19.6406 1.01232 18.0633C0.337441 16.4859 0 14.8011 0 13.0087C0 11.1973 0.337441 9.50629 1.01232 7.93579C1.68718 6.3653 2.61563 4.98805 3.79767 3.80406C4.97969 2.62008 6.35938 1.69007 7.93674 1.01404C9.5141 0.338013 11.1989 0 12.9913 0C14.8027 0 16.4937 0.338099 18.0642 1.0143C19.6347 1.69049 21.0119 2.62076 22.1959 3.80509C23.3799 4.98939 24.3099 6.367 24.986 7.93791C25.662 9.50882 26 11.1962 26 13C26 14.7981 25.662 16.4859 24.986 18.0633C24.3099 19.6406 23.3799 21.0203 22.1959 22.2023C21.0119 23.3844 19.6347 24.3128 18.0642 24.9877C16.4937 25.6626 14.8027 26 12.9913 26ZM13 24.2693C13.5412 23.7331 14.0452 22.8604 14.5122 21.6511C14.9791 20.4418 15.3386 19.1029 15.5905 17.6344H10.4166C10.6778 19.1451 11.0396 20.5027 11.5019 21.7073C11.9641 22.9119 12.4635 23.7659 13 24.2693ZM10.8226 24.0572C10.3403 23.2949 9.90597 22.3574 9.51966 21.2448C9.13332 20.1322 8.83976 18.9287 8.63897 17.6344H2.74353C3.51523 19.3539 4.61355 20.7693 6.03851 21.8805C7.46346 22.9917 9.05816 23.7173 10.8226 24.0572ZM15.1774 24.0572C16.9372 23.7219 18.5307 22.9975 19.958 21.884C21.3853 20.7704 22.4871 19.3539 23.2635 17.6344H17.368C17.1158 18.9381 16.7964 20.1462 16.4101 21.2588C16.0238 22.3714 15.6129 23.3042 15.1774 24.0572ZM2.16899 15.8827H8.46533C8.3979 15.3563 8.35577 14.8433 8.33892 14.3437C8.32204 13.8441 8.31361 13.3718 8.31361 12.927C8.31361 12.4821 8.32204 12.022 8.33892 11.5467C8.35577 11.0714 8.3979 10.595 8.46533 10.1173H2.16899C2.01632 10.6015 1.90861 11.0851 1.84586 11.5682C1.78311 12.0512 1.75173 12.5285 1.75173 13C1.75173 13.4715 1.78311 13.9488 1.84586 14.4318C1.90861 14.9149 2.01632 15.3985 2.16899 15.8827ZM10.2718 15.8827H15.7352C15.8054 15.332 15.8501 14.8257 15.8693 14.3637C15.8885 13.9017 15.8981 13.4472 15.8981 13C15.8981 12.5528 15.8885 12.0922 15.8693 11.618C15.8501 11.1439 15.8054 10.6437 15.7352 10.1173H10.2718C10.1969 10.6437 10.1499 11.1439 10.1307 11.618C10.1115 12.0922 10.1019 12.5528 10.1019 13C10.1019 13.4472 10.1115 13.9078 10.1307 14.382C10.1499 14.8561 10.1969 15.3563 10.2718 15.8827ZM17.5347 15.8827H23.8381C23.986 15.3985 24.0914 14.9149 24.1541 14.4318C24.2169 13.9488 24.2483 13.4715 24.2483 13C24.2483 12.5285 24.2169 12.0451 24.1541 11.5499C24.0914 11.0547 23.986 10.5772 23.8381 10.1173H17.5347C17.6021 10.6437 17.6442 11.1567 17.6611 11.6563C17.678 12.1559 17.6864 12.6282 17.6864 13.0731C17.6864 13.5179 17.678 13.978 17.6611 14.4533C17.6442 14.9286 17.6021 15.405 17.5347 15.8827ZM17.368 8.36558H23.2635C22.4824 6.63204 21.3899 5.21669 19.9861 4.11953C18.5822 3.02237 16.9793 2.2921 15.1774 1.92873C15.6597 2.7379 16.0905 3.69177 16.4698 4.79035C16.8491 5.88892 17.1485 7.08066 17.368 8.36558ZM10.4166 8.36558H15.5905C15.3245 6.86899 14.9534 5.50551 14.4771 4.27516C14.0008 3.04478 13.5084 2.19662 13 1.73066C12.4916 2.19662 11.9992 3.04478 11.5229 4.27516C11.0466 5.50551 10.6778 6.86899 10.4166 8.36558ZM2.74353 8.36558H8.63897C8.85381 7.08066 9.15088 5.88892 9.53018 4.79035C9.90947 3.69177 10.3403 2.7379 10.8226 1.92873C9.01601 2.29678 7.41195 3.02938 6.01042 4.12654C4.60889 5.2237 3.51992 6.63671 2.74353 8.36558Z' fill='white'/%3E%3C/svg%3E%0A");
}

/* header가 상단에 고정되었을 때 스크롤 내릴 시 적용*/
.header.fixed {
    background-color: rgba(255, 255, 255, 0.8);
    color: #1d1d1d;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.header.fixed .logo a {
    background-image: url(../images/logo_c.svg) ;
}
.header.fixed .tnb .login {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='24' viewBox='0 0 26 24' fill='1d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 11.488C11.3233 11.488 9.90726 10.9332 8.75186 9.82362C7.59647 8.71406 7.01877 7.35418 7.01877 5.74399C7.01877 4.13379 7.59647 2.77391 8.75186 1.66435C9.90726 0.554784 11.3233 0 13 0C14.6767 0 16.0927 0.554784 17.2481 1.66435C18.4035 2.77391 18.9812 4.13379 18.9812 5.74399C18.9812 7.35418 18.4035 8.71406 17.2481 9.82362C16.0927 10.9332 14.6767 11.488 13 11.488ZM0 21.6667V20.7378C0 20.1765 0.171253 19.6408 0.51376 19.1307C0.856266 18.6206 1.34942 18.1729 1.99321 17.7875C3.70887 16.853 5.50119 16.1321 7.37019 15.6248C9.23921 15.1174 11.1125 14.8638 12.9899 14.8638C14.8674 14.8638 16.7448 15.1173 18.622 15.6243C20.4992 16.1314 22.2949 16.8523 24.0091 17.7869C24.6522 18.1404 25.1448 18.5802 25.4869 19.1064C25.829 19.6325 26 20.1763 26 20.7377V21.6667C26 22.316 25.7639 22.8673 25.2917 23.3204C24.8195 23.7735 24.2451 24 23.5684 24H2.41553C1.73883 24 1.16706 23.7735 0.700237 23.3204C0.233412 22.8673 0 22.316 0 21.6667ZM2.39129 21.7036H23.6087V20.7427C23.6087 20.533 23.5329 20.3381 23.3812 20.1581C23.2295 19.978 23.0151 19.8228 22.738 19.6925C21.2943 18.8576 19.7473 18.2268 18.097 17.8002C16.4467 17.3735 14.7473 17.1602 12.9988 17.1602C11.2386 17.1602 9.53626 17.3735 7.89177 17.8002C6.24732 18.2268 4.70724 18.8576 3.27153 19.6925C2.98643 19.8754 2.76844 20.0493 2.61756 20.2142C2.46672 20.3791 2.39129 20.5545 2.39129 20.7404V21.7036ZM13.0106 9.19152C14.0007 9.19152 14.8448 8.85296 15.5429 8.17584C16.2409 7.49869 16.5899 6.68469 16.5899 5.73383C16.5899 4.78295 16.2374 3.97233 15.5323 3.30198C14.8272 2.63162 13.9796 2.29645 12.9894 2.29645C11.9993 2.29645 11.1552 2.63501 10.4571 3.31213C9.75909 3.98928 9.41007 4.80328 9.41007 5.75414C9.41007 6.70502 9.76261 7.51564 10.4677 8.18599C11.1728 8.85635 12.0204 9.19152 13.0106 9.19152Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
}
.header.fixed .tnb .lang {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='1d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9913 26C11.1989 26 9.5141 25.6626 7.93674 24.9877C6.35938 24.3128 4.97969 23.3844 3.79767 22.2023C2.61563 21.0203 1.68718 19.6406 1.01232 18.0633C0.337441 16.4859 0 14.8011 0 13.0087C0 11.1973 0.337441 9.50629 1.01232 7.93579C1.68718 6.3653 2.61563 4.98805 3.79767 3.80406C4.97969 2.62008 6.35938 1.69007 7.93674 1.01404C9.5141 0.338013 11.1989 0 12.9913 0C14.8027 0 16.4937 0.338099 18.0642 1.0143C19.6347 1.69049 21.0119 2.62076 22.1959 3.80509C23.3799 4.98939 24.3099 6.367 24.986 7.93791C25.662 9.50882 26 11.1962 26 13C26 14.7981 25.662 16.4859 24.986 18.0633C24.3099 19.6406 23.3799 21.0203 22.1959 22.2023C21.0119 23.3844 19.6347 24.3128 18.0642 24.9877C16.4937 25.6626 14.8027 26 12.9913 26ZM13 24.2693C13.5412 23.7331 14.0452 22.8604 14.5122 21.6511C14.9791 20.4418 15.3386 19.1029 15.5905 17.6344H10.4166C10.6778 19.1451 11.0396 20.5027 11.5019 21.7073C11.9641 22.9119 12.4635 23.7659 13 24.2693ZM10.8226 24.0572C10.3403 23.2949 9.90597 22.3574 9.51966 21.2448C9.13332 20.1322 8.83976 18.9287 8.63897 17.6344H2.74353C3.51523 19.3539 4.61355 20.7693 6.03851 21.8805C7.46346 22.9917 9.05816 23.7173 10.8226 24.0572ZM15.1774 24.0572C16.9372 23.7219 18.5307 22.9975 19.958 21.884C21.3853 20.7704 22.4871 19.3539 23.2635 17.6344H17.368C17.1158 18.9381 16.7964 20.1462 16.4101 21.2588C16.0238 22.3714 15.6129 23.3042 15.1774 24.0572ZM2.16899 15.8827H8.46533C8.3979 15.3563 8.35577 14.8433 8.33892 14.3437C8.32204 13.8441 8.31361 13.3718 8.31361 12.927C8.31361 12.4821 8.32204 12.022 8.33892 11.5467C8.35577 11.0714 8.3979 10.595 8.46533 10.1173H2.16899C2.01632 10.6015 1.90861 11.0851 1.84586 11.5682C1.78311 12.0512 1.75173 12.5285 1.75173 13C1.75173 13.4715 1.78311 13.9488 1.84586 14.4318C1.90861 14.9149 2.01632 15.3985 2.16899 15.8827ZM10.2718 15.8827H15.7352C15.8054 15.332 15.8501 14.8257 15.8693 14.3637C15.8885 13.9017 15.8981 13.4472 15.8981 13C15.8981 12.5528 15.8885 12.0922 15.8693 11.618C15.8501 11.1439 15.8054 10.6437 15.7352 10.1173H10.2718C10.1969 10.6437 10.1499 11.1439 10.1307 11.618C10.1115 12.0922 10.1019 12.5528 10.1019 13C10.1019 13.4472 10.1115 13.9078 10.1307 14.382C10.1499 14.8561 10.1969 15.3563 10.2718 15.8827ZM17.5347 15.8827H23.8381C23.986 15.3985 24.0914 14.9149 24.1541 14.4318C24.2169 13.9488 24.2483 13.4715 24.2483 13C24.2483 12.5285 24.2169 12.0451 24.1541 11.5499C24.0914 11.0547 23.986 10.5772 23.8381 10.1173H17.5347C17.6021 10.6437 17.6442 11.1567 17.6611 11.6563C17.678 12.1559 17.6864 12.6282 17.6864 13.0731C17.6864 13.5179 17.678 13.978 17.6611 14.4533C17.6442 14.9286 17.6021 15.405 17.5347 15.8827ZM17.368 8.36558H23.2635C22.4824 6.63204 21.3899 5.21669 19.9861 4.11953C18.5822 3.02237 16.9793 2.2921 15.1774 1.92873C15.6597 2.7379 16.0905 3.69177 16.4698 4.79035C16.8491 5.88892 17.1485 7.08066 17.368 8.36558ZM10.4166 8.36558H15.5905C15.3245 6.86899 14.9534 5.50551 14.4771 4.27516C14.0008 3.04478 13.5084 2.19662 13 1.73066C12.4916 2.19662 11.9992 3.04478 11.5229 4.27516C11.0466 5.50551 10.6778 6.86899 10.4166 8.36558ZM2.74353 8.36558H8.63897C8.85381 7.08066 9.15088 5.88892 9.53018 4.79035C9.90947 3.69177 10.3403 2.7379 10.8226 1.92873C9.01601 2.29678 7.41195 3.02938 6.01042 4.12654C4.60889 5.2237 3.51992 6.63671 2.74353 8.36558Z'/%3E%3C/svg%3E%0A");
}

/* 메뉴에 마우스를 오버 했을 때*/
.header.menu_over {
    color: #1d1d1d;
}
.header.menu_over::after {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1; 
    /* header에 position이 없기때문에 z-index: -1;를 줘서
        정렬의 기준안에서 가장 아래로 보내야함 */
    width: 100%;
    height: 390px;
    background-color: #fff;
    content: "";
}
.header.menu_over::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    content: "";
}
.header.menu_over .logo a {
    background-image: url(../images/logo_c.svg);
}
.header.menu_over .gnb ul.depth2 {
    display: block;
}
.header.menu_over .tnb .login {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='24' viewBox='0 0 26 24' fill='1d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 11.488C11.3233 11.488 9.90726 10.9332 8.75186 9.82362C7.59647 8.71406 7.01877 7.35418 7.01877 5.74399C7.01877 4.13379 7.59647 2.77391 8.75186 1.66435C9.90726 0.554784 11.3233 0 13 0C14.6767 0 16.0927 0.554784 17.2481 1.66435C18.4035 2.77391 18.9812 4.13379 18.9812 5.74399C18.9812 7.35418 18.4035 8.71406 17.2481 9.82362C16.0927 10.9332 14.6767 11.488 13 11.488ZM0 21.6667V20.7378C0 20.1765 0.171253 19.6408 0.51376 19.1307C0.856266 18.6206 1.34942 18.1729 1.99321 17.7875C3.70887 16.853 5.50119 16.1321 7.37019 15.6248C9.23921 15.1174 11.1125 14.8638 12.9899 14.8638C14.8674 14.8638 16.7448 15.1173 18.622 15.6243C20.4992 16.1314 22.2949 16.8523 24.0091 17.7869C24.6522 18.1404 25.1448 18.5802 25.4869 19.1064C25.829 19.6325 26 20.1763 26 20.7377V21.6667C26 22.316 25.7639 22.8673 25.2917 23.3204C24.8195 23.7735 24.2451 24 23.5684 24H2.41553C1.73883 24 1.16706 23.7735 0.700237 23.3204C0.233412 22.8673 0 22.316 0 21.6667ZM2.39129 21.7036H23.6087V20.7427C23.6087 20.533 23.5329 20.3381 23.3812 20.1581C23.2295 19.978 23.0151 19.8228 22.738 19.6925C21.2943 18.8576 19.7473 18.2268 18.097 17.8002C16.4467 17.3735 14.7473 17.1602 12.9988 17.1602C11.2386 17.1602 9.53626 17.3735 7.89177 17.8002C6.24732 18.2268 4.70724 18.8576 3.27153 19.6925C2.98643 19.8754 2.76844 20.0493 2.61756 20.2142C2.46672 20.3791 2.39129 20.5545 2.39129 20.7404V21.7036ZM13.0106 9.19152C14.0007 9.19152 14.8448 8.85296 15.5429 8.17584C16.2409 7.49869 16.5899 6.68469 16.5899 5.73383C16.5899 4.78295 16.2374 3.97233 15.5323 3.30198C14.8272 2.63162 13.9796 2.29645 12.9894 2.29645C11.9993 2.29645 11.1552 2.63501 10.4571 3.31213C9.75909 3.98928 9.41007 4.80328 9.41007 5.75414C9.41007 6.70502 9.76261 7.51564 10.4677 8.18599C11.1728 8.85635 12.0204 9.19152 13.0106 9.19152Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
}
.header.menu_over .tnb .lang {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='1d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9913 26C11.1989 26 9.5141 25.6626 7.93674 24.9877C6.35938 24.3128 4.97969 23.3844 3.79767 22.2023C2.61563 21.0203 1.68718 19.6406 1.01232 18.0633C0.337441 16.4859 0 14.8011 0 13.0087C0 11.1973 0.337441 9.50629 1.01232 7.93579C1.68718 6.3653 2.61563 4.98805 3.79767 3.80406C4.97969 2.62008 6.35938 1.69007 7.93674 1.01404C9.5141 0.338013 11.1989 0 12.9913 0C14.8027 0 16.4937 0.338099 18.0642 1.0143C19.6347 1.69049 21.0119 2.62076 22.1959 3.80509C23.3799 4.98939 24.3099 6.367 24.986 7.93791C25.662 9.50882 26 11.1962 26 13C26 14.7981 25.662 16.4859 24.986 18.0633C24.3099 19.6406 23.3799 21.0203 22.1959 22.2023C21.0119 23.3844 19.6347 24.3128 18.0642 24.9877C16.4937 25.6626 14.8027 26 12.9913 26ZM13 24.2693C13.5412 23.7331 14.0452 22.8604 14.5122 21.6511C14.9791 20.4418 15.3386 19.1029 15.5905 17.6344H10.4166C10.6778 19.1451 11.0396 20.5027 11.5019 21.7073C11.9641 22.9119 12.4635 23.7659 13 24.2693ZM10.8226 24.0572C10.3403 23.2949 9.90597 22.3574 9.51966 21.2448C9.13332 20.1322 8.83976 18.9287 8.63897 17.6344H2.74353C3.51523 19.3539 4.61355 20.7693 6.03851 21.8805C7.46346 22.9917 9.05816 23.7173 10.8226 24.0572ZM15.1774 24.0572C16.9372 23.7219 18.5307 22.9975 19.958 21.884C21.3853 20.7704 22.4871 19.3539 23.2635 17.6344H17.368C17.1158 18.9381 16.7964 20.1462 16.4101 21.2588C16.0238 22.3714 15.6129 23.3042 15.1774 24.0572ZM2.16899 15.8827H8.46533C8.3979 15.3563 8.35577 14.8433 8.33892 14.3437C8.32204 13.8441 8.31361 13.3718 8.31361 12.927C8.31361 12.4821 8.32204 12.022 8.33892 11.5467C8.35577 11.0714 8.3979 10.595 8.46533 10.1173H2.16899C2.01632 10.6015 1.90861 11.0851 1.84586 11.5682C1.78311 12.0512 1.75173 12.5285 1.75173 13C1.75173 13.4715 1.78311 13.9488 1.84586 14.4318C1.90861 14.9149 2.01632 15.3985 2.16899 15.8827ZM10.2718 15.8827H15.7352C15.8054 15.332 15.8501 14.8257 15.8693 14.3637C15.8885 13.9017 15.8981 13.4472 15.8981 13C15.8981 12.5528 15.8885 12.0922 15.8693 11.618C15.8501 11.1439 15.8054 10.6437 15.7352 10.1173H10.2718C10.1969 10.6437 10.1499 11.1439 10.1307 11.618C10.1115 12.0922 10.1019 12.5528 10.1019 13C10.1019 13.4472 10.1115 13.9078 10.1307 14.382C10.1499 14.8561 10.1969 15.3563 10.2718 15.8827ZM17.5347 15.8827H23.8381C23.986 15.3985 24.0914 14.9149 24.1541 14.4318C24.2169 13.9488 24.2483 13.4715 24.2483 13C24.2483 12.5285 24.2169 12.0451 24.1541 11.5499C24.0914 11.0547 23.986 10.5772 23.8381 10.1173H17.5347C17.6021 10.6437 17.6442 11.1567 17.6611 11.6563C17.678 12.1559 17.6864 12.6282 17.6864 13.0731C17.6864 13.5179 17.678 13.978 17.6611 14.4533C17.6442 14.9286 17.6021 15.405 17.5347 15.8827ZM17.368 8.36558H23.2635C22.4824 6.63204 21.3899 5.21669 19.9861 4.11953C18.5822 3.02237 16.9793 2.2921 15.1774 1.92873C15.6597 2.7379 16.0905 3.69177 16.4698 4.79035C16.8491 5.88892 17.1485 7.08066 17.368 8.36558ZM10.4166 8.36558H15.5905C15.3245 6.86899 14.9534 5.50551 14.4771 4.27516C14.0008 3.04478 13.5084 2.19662 13 1.73066C12.4916 2.19662 11.9992 3.04478 11.5229 4.27516C11.0466 5.50551 10.6778 6.86899 10.4166 8.36558ZM2.74353 8.36558H8.63897C8.85381 7.08066 9.15088 5.88892 9.53018 4.79035C9.90947 3.69177 10.3403 2.7379 10.8226 1.92873C9.01601 2.29678 7.41195 3.02938 6.01042 4.12654C4.60889 5.2237 3.51992 6.63671 2.74353 8.36558Z'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width:640px) {
    .header {
        height: 50px;
    }
    .header .logo {
        margin: 10px 0 0 0;
    }
    .header .logo a {
        width: 100px;
        height: 30px;
    }
    .header .gnb {
        float: right;
        margin: 0;
    }
    .header .gnb .gnb_open {
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='11' viewBox='0 0 16 11' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.625509 11C0.453448 11 0.306181 10.9342 0.183709 10.8025C0.0612363 10.6708 0 10.5125 0 10.3276C0 10.1463 0.0612363 9.98797 0.183709 9.85259C0.306181 9.71722 0.453448 9.64954 0.625509 9.64954H15.3795C15.5482 9.64954 15.6938 9.71537 15.8163 9.84704C15.9388 9.97873 16 10.1352 16 10.3165C16 10.5014 15.9388 10.6616 15.8163 10.797C15.6938 10.9323 15.5482 11 15.3795 11H0.625509ZM0.625509 6.17523C0.453448 6.17523 0.306181 6.1094 0.183709 5.97773C0.0612363 5.84606 0 5.68777 0 5.50284C0 5.32154 0.0612363 5.1632 0.183709 5.02782C0.306181 4.89245 0.453448 4.82477 0.625509 4.82477H15.3795C15.5482 4.82477 15.6938 4.8906 15.8163 5.02227C15.9388 5.15396 16 5.31045 16 5.49175C16 5.67667 15.9388 5.83682 15.8163 5.97218C15.6938 6.10755 15.5482 6.17523 15.3795 6.17523H0.625509ZM0.625509 1.35046C0.453448 1.35046 0.306181 1.28463 0.183709 1.15296C0.0612363 1.02129 0 0.862997 0 0.678074C0 0.496774 0.0612363 0.33844 0.183709 0.203075C0.306181 0.0676913 0.453448 0 0.625509 0H15.3795C15.5482 0 15.6938 0.0658329 15.8163 0.1975C15.9388 0.329186 16 0.485678 16 0.666978C16 0.851902 15.9388 1.01205 15.8163 1.14741C15.6938 1.28278 15.5482 1.35046 15.3795 1.35046H0.625509Z'/%3E%3C/svg%3E%0A");
    }
    .header .gnb .gnb_open,
    .header .gnb .gnb_close {
        position: absolute;
        right: 10px;
        top: 0;
        width: 24px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 24px auto;
        font-size: 0;
        line-height: 0;
    }
    .header.fixed .gnb .gnb_open {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='11' viewBox='0 0 16 11' fill='%231d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.625509 11C0.453448 11 0.306181 10.9342 0.183709 10.8025C0.0612363 10.6708 0 10.5125 0 10.3276C0 10.1463 0.0612363 9.98797 0.183709 9.85259C0.306181 9.71722 0.453448 9.64954 0.625509 9.64954H15.3795C15.5482 9.64954 15.6938 9.71537 15.8163 9.84704C15.9388 9.97873 16 10.1352 16 10.3165C16 10.5014 15.9388 10.6616 15.8163 10.797C15.6938 10.9323 15.5482 11 15.3795 11H0.625509ZM0.625509 6.17523C0.453448 6.17523 0.306181 6.1094 0.183709 5.97773C0.0612363 5.84606 0 5.68777 0 5.50284C0 5.32154 0.0612363 5.1632 0.183709 5.02782C0.306181 4.89245 0.453448 4.82477 0.625509 4.82477H15.3795C15.5482 4.82477 15.6938 4.8906 15.8163 5.02227C15.9388 5.15396 16 5.31045 16 5.49175C16 5.67667 15.9388 5.83682 15.8163 5.97218C15.6938 6.10755 15.5482 6.17523 15.3795 6.17523H0.625509ZM0.625509 1.35046C0.453448 1.35046 0.306181 1.28463 0.183709 1.15296C0.0612363 1.02129 0 0.862997 0 0.678074C0 0.496774 0.0612363 0.33844 0.183709 0.203075C0.306181 0.0676913 0.453448 0 0.625509 0H15.3795C15.5482 0 15.6938 0.0658329 15.8163 0.1975C15.9388 0.329186 16 0.485678 16 0.666978C16 0.851902 15.9388 1.01205 15.8163 1.14741C15.6938 1.28278 15.5482 1.35046 15.3795 1.35046H0.625509Z'/%3E%3C/svg%3E%0A");
    }
    .header.menu_open .gnb .gnb_open {
        display: none; /* 열기버튼 숨김 */
    }
    .header.menu_open .gnb .gnb_close {
        display: block; /* 닫기버튼 나타남 */
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='%231d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.47206 7.57267L1.2829 12.7618C1.11347 12.9313 0.942465 13.0103 0.769877 12.9989C0.597309 12.9875 0.424343 12.8952 0.25098 12.7218C0.083898 12.5484 0.00192781 12.3739 0.00506875 12.1982C0.00820968 12.0225 0.0933212 11.8511 0.260403 11.684L5.40954 6.51016L0.229809 1.30571C0.0705596 1.14648 -0.00592428 0.97704 0.000357593 0.797395C0.00663947 0.61777 0.0933212 0.441276 0.260403 0.267912C0.427484 0.0945486 0.60045 0.00531745 0.7793 0.000218525C0.95815 -0.0048804 1.13621 0.0792519 1.31349 0.252615L6.47206 5.44765L11.6671 0.252615C11.8326 0.0871042 12.0067 0.00493044 12.1895 0.00609299C12.3723 0.00727595 12.5523 0.0945486 12.7296 0.267912C12.8928 0.441276 12.9728 0.615813 12.9696 0.791522C12.9665 0.967231 12.8814 1.13862 12.7143 1.30571L7.53457 6.51016L12.7143 11.7146C12.8736 11.8738 12.9551 12.0382 12.9591 12.2076C12.963 12.3771 12.8814 12.5484 12.7143 12.7218C12.5472 12.8952 12.3743 12.9844 12.1954 12.9895C12.0166 12.9946 11.8404 12.9085 11.6671 12.7312L6.47206 7.57267Z'/%3E%3C/svg%3E%0A");
    }
    .header.menu_open .gnb .gnb_wrap {
        /* 메뉴가 열렸을 때 backfround 색을 깔아줄 용도*/
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
    }

    /* 1차메뉴 */
    .header .gnb ul.depth1 {
        display: none; /* 메뉴여는 버튼을 클릭해야 보임*/
    }

    /* 메뉴 디바이스 높이보다 길어지면 스크롤이 되어야함 */
    .header.menu_open .gnb ul.depth1 {
        display: block;
        color: #1d1d1d;
        overflow-y: scroll;
        padding: 50px 0 0 0;
        height: calc(100vh - 50px);
    } /* 상단에 스크롤 빼고 여백을 만들어 줌 */

    .header .gnb ul.depth1 > li {
        width: auto;
        text-align: left;
    }

    /* header 메뉴 */
    .header .gnb ul.depth1 > li > a {
        line-height: 50px;
        font-size: 20px;
        padding: 0;
        position: relative;
    }
    .header .gnb ul.depth1 > li:first-child {
        border-top: 1px solid rgba(237, 237, 237, 0.5);
    }
    .header .gnb ul.depth1 > li > a::after {
        position: absolute;
        right: 11px;
        bottom: 11px;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.4008 6C5.29524 6 5.19766 5.97913 5.10808 5.93738C5.01852 5.89562 4.93882 5.83821 4.869 5.76515L0.208156 1.10427C0.0643599 0.96375 -0.00493466 0.817477 0.00027301 0.665454C0.00549764 0.513448 0.0818316 0.363723 0.229275 0.216279C0.373461 0.0720932 0.519929 0 0.668679 0C0.817428 0 0.964685 0.0712535 1.11045 0.21376L5.40334 4.53698L9.72657 0.21376C9.86254 0.0777843 10.0065 0.0124004 10.1586 0.0176081C10.3106 0.0228328 10.4603 0.0975378 10.6077 0.241724C10.7519 0.389167 10.824 0.537264 10.824 0.686013C10.824 0.834762 10.7505 0.982189 10.6034 1.12829L5.94256 5.76515C5.8627 5.83821 5.77884 5.89562 5.69097 5.93738C5.60308 5.97913 5.50636 6 5.4008 6Z' fill='%23666666'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
        content: "";
    }
    .header .gnb ul.depth1 > li.sub_open > a::after {
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.42342 -5.27296e-07C5.52898 -5.18068e-07 5.62656 0.0208725 5.71614 0.0626187C5.8057 0.104382 5.88539 0.161794 5.95521 0.234854L10.6161 4.89573C10.7599 5.03625 10.8292 5.18252 10.8239 5.33455C10.8187 5.48655 10.7424 5.63628 10.5949 5.78372C10.4508 5.92791 10.3043 6 10.1555 6C10.0068 6 9.85953 5.92875 9.71377 5.78624L5.42088 1.46302L1.09765 5.78624C0.961677 5.92221 0.817677 5.9876 0.665654 5.98239C0.513647 5.97717 0.363922 5.90246 0.216479 5.75827C0.0722927 5.61083 0.000199567 5.46274 0.00019958 5.31399C0.000199593 5.16524 0.0737263 5.01781 0.220779 4.87171L4.88165 0.234854C4.96152 0.161794 5.04538 0.104382 5.13325 0.0626187C5.22114 0.0208725 5.31786 -5.36525e-07 5.42342 -5.27296e-07Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    }
    .header .gnb ul.depth1 > li:hover > a {
        color: inherit;
    }
    .header .gnb ul.depth1 > li:hover > a > span::after {
        display: none;
    }
    /* 2차 메뉴 */
    .header .gnb ul.depth2 {
        margin: 0;
        padding: 0px 40px;
    }
    .header .gnb .sub_open ul.depth2 {
        display: block;
    }
    
    .header .gnb ul.depth2 > li > a {
        line-height: 40px;
    }
    .header .gnb ul.depth2 > li > a:hover {
        color: #009FE3;
    }
    .header .tnb {
        float: right;
        display: none;
    }
    .header .tnb .login,
    .header .tnb .lang {
        width: 26px;
        height: 24px;
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        font-size: 0;
        line-height: 0;
        padding: 50px 0;
    }
    .header .tnb .login {
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='24' viewBox='0 0 26 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 11.488C11.3233 11.488 9.90726 10.9332 8.75186 9.82362C7.59647 8.71406 7.01877 7.35418 7.01877 5.74399C7.01877 4.13379 7.59647 2.77391 8.75186 1.66435C9.90726 0.554784 11.3233 0 13 0C14.6767 0 16.0927 0.554784 17.2481 1.66435C18.4035 2.77391 18.9812 4.13379 18.9812 5.74399C18.9812 7.35418 18.4035 8.71406 17.2481 9.82362C16.0927 10.9332 14.6767 11.488 13 11.488ZM0 21.6667V20.7378C0 20.1765 0.171253 19.6408 0.51376 19.1307C0.856266 18.6206 1.34942 18.1729 1.99321 17.7875C3.70887 16.853 5.50119 16.1321 7.37019 15.6248C9.23921 15.1174 11.1125 14.8638 12.9899 14.8638C14.8674 14.8638 16.7448 15.1173 18.622 15.6243C20.4992 16.1314 22.2949 16.8523 24.0091 17.7869C24.6522 18.1404 25.1448 18.5802 25.4869 19.1064C25.829 19.6325 26 20.1763 26 20.7377V21.6667C26 22.316 25.7639 22.8673 25.2917 23.3204C24.8195 23.7735 24.2451 24 23.5684 24H2.41553C1.73883 24 1.16706 23.7735 0.700237 23.3204C0.233412 22.8673 0 22.316 0 21.6667ZM2.39129 21.7036H23.6087V20.7427C23.6087 20.533 23.5329 20.3381 23.3812 20.1581C23.2295 19.978 23.0151 19.8228 22.738 19.6925C21.2943 18.8576 19.7473 18.2268 18.097 17.8002C16.4467 17.3735 14.7473 17.1602 12.9988 17.1602C11.2386 17.1602 9.53626 17.3735 7.89177 17.8002C6.24732 18.2268 4.70724 18.8576 3.27153 19.6925C2.98643 19.8754 2.76844 20.0493 2.61756 20.2142C2.46672 20.3791 2.39129 20.5545 2.39129 20.7404V21.7036ZM13.0106 9.19152C14.0007 9.19152 14.8448 8.85296 15.5429 8.17584C16.2409 7.49869 16.5899 6.68469 16.5899 5.73383C16.5899 4.78295 16.2374 3.97233 15.5323 3.30198C14.8272 2.63162 13.9796 2.29645 12.9894 2.29645C11.9993 2.29645 11.1552 2.63501 10.4571 3.31213C9.75909 3.98928 9.41007 4.80328 9.41007 5.75414C9.41007 6.70502 9.76261 7.51564 10.4677 8.18599C11.1728 8.85635 12.0204 9.19152 13.0106 9.19152Z'/%3E%3C/svg%3E%0A");
        margin-right:20px ;
    }
    .header .tnb .lang {
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9913 26C11.1989 26 9.5141 25.6626 7.93674 24.9877C6.35938 24.3128 4.97969 23.3844 3.79767 22.2023C2.61563 21.0203 1.68718 19.6406 1.01232 18.0633C0.337441 16.4859 0 14.8011 0 13.0087C0 11.1973 0.337441 9.50629 1.01232 7.93579C1.68718 6.3653 2.61563 4.98805 3.79767 3.80406C4.97969 2.62008 6.35938 1.69007 7.93674 1.01404C9.5141 0.338013 11.1989 0 12.9913 0C14.8027 0 16.4937 0.338099 18.0642 1.0143C19.6347 1.69049 21.0119 2.62076 22.1959 3.80509C23.3799 4.98939 24.3099 6.367 24.986 7.93791C25.662 9.50882 26 11.1962 26 13C26 14.7981 25.662 16.4859 24.986 18.0633C24.3099 19.6406 23.3799 21.0203 22.1959 22.2023C21.0119 23.3844 19.6347 24.3128 18.0642 24.9877C16.4937 25.6626 14.8027 26 12.9913 26ZM13 24.2693C13.5412 23.7331 14.0452 22.8604 14.5122 21.6511C14.9791 20.4418 15.3386 19.1029 15.5905 17.6344H10.4166C10.6778 19.1451 11.0396 20.5027 11.5019 21.7073C11.9641 22.9119 12.4635 23.7659 13 24.2693ZM10.8226 24.0572C10.3403 23.2949 9.90597 22.3574 9.51966 21.2448C9.13332 20.1322 8.83976 18.9287 8.63897 17.6344H2.74353C3.51523 19.3539 4.61355 20.7693 6.03851 21.8805C7.46346 22.9917 9.05816 23.7173 10.8226 24.0572ZM15.1774 24.0572C16.9372 23.7219 18.5307 22.9975 19.958 21.884C21.3853 20.7704 22.4871 19.3539 23.2635 17.6344H17.368C17.1158 18.9381 16.7964 20.1462 16.4101 21.2588C16.0238 22.3714 15.6129 23.3042 15.1774 24.0572ZM2.16899 15.8827H8.46533C8.3979 15.3563 8.35577 14.8433 8.33892 14.3437C8.32204 13.8441 8.31361 13.3718 8.31361 12.927C8.31361 12.4821 8.32204 12.022 8.33892 11.5467C8.35577 11.0714 8.3979 10.595 8.46533 10.1173H2.16899C2.01632 10.6015 1.90861 11.0851 1.84586 11.5682C1.78311 12.0512 1.75173 12.5285 1.75173 13C1.75173 13.4715 1.78311 13.9488 1.84586 14.4318C1.90861 14.9149 2.01632 15.3985 2.16899 15.8827ZM10.2718 15.8827H15.7352C15.8054 15.332 15.8501 14.8257 15.8693 14.3637C15.8885 13.9017 15.8981 13.4472 15.8981 13C15.8981 12.5528 15.8885 12.0922 15.8693 11.618C15.8501 11.1439 15.8054 10.6437 15.7352 10.1173H10.2718C10.1969 10.6437 10.1499 11.1439 10.1307 11.618C10.1115 12.0922 10.1019 12.5528 10.1019 13C10.1019 13.4472 10.1115 13.9078 10.1307 14.382C10.1499 14.8561 10.1969 15.3563 10.2718 15.8827ZM17.5347 15.8827H23.8381C23.986 15.3985 24.0914 14.9149 24.1541 14.4318C24.2169 13.9488 24.2483 13.4715 24.2483 13C24.2483 12.5285 24.2169 12.0451 24.1541 11.5499C24.0914 11.0547 23.986 10.5772 23.8381 10.1173H17.5347C17.6021 10.6437 17.6442 11.1567 17.6611 11.6563C17.678 12.1559 17.6864 12.6282 17.6864 13.0731C17.6864 13.5179 17.678 13.978 17.6611 14.4533C17.6442 14.9286 17.6021 15.405 17.5347 15.8827ZM17.368 8.36558H23.2635C22.4824 6.63204 21.3899 5.21669 19.9861 4.11953C18.5822 3.02237 16.9793 2.2921 15.1774 1.92873C15.6597 2.7379 16.0905 3.69177 16.4698 4.79035C16.8491 5.88892 17.1485 7.08066 17.368 8.36558ZM10.4166 8.36558H15.5905C15.3245 6.86899 14.9534 5.50551 14.4771 4.27516C14.0008 3.04478 13.5084 2.19662 13 1.73066C12.4916 2.19662 11.9992 3.04478 11.5229 4.27516C11.0466 5.50551 10.6778 6.86899 10.4166 8.36558ZM2.74353 8.36558H8.63897C8.85381 7.08066 9.15088 5.88892 9.53018 4.79035C9.90947 3.69177 10.3403 2.7379 10.8226 1.92873C9.01601 2.29678 7.41195 3.02938 6.01042 4.12654C4.60889 5.2237 3.51992 6.63671 2.74353 8.36558Z' fill='white'/%3E%3C/svg%3E%0A");
    }
} /* media */

    

.visual {
    /* background 사이즈조절
    cover는 영역에 이미지가 꽉차게- 이미지 일부가 잘리고 배경은 꽉 참
    contain 영역에 이미지가 꽉차게- 이미지는 안짤리고 배경이 일부가 빈다*/
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #fff;
    /* 내부 콘텐츠가 짤리지 않을 정도의 최소 높이값을 줘야한다
    최소값 계산은 header + h2 텍스트 높이에 여유값을 더해서 줘야함*/
    position: relative;
} 
.visual .inner {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    text-align: left;
    transform: translate(-150%, 60%);
    
}  
/* visual의 높이가 브라우저의 높이에 따라서 바뀜
    그래서 h2태그가 위에서부터의 여백이 달라지면 고정값으로 줄 수가 없음
    ->사이즈가 변경될 때 가운데는 바뀌지 않음
     */
.visual h2 {
    font-size: 65px;
    font-weight: 700;
    line-height: 1.2;
}
.visual p {
    font-size: 20px;
    margin-top: 16px;  
    line-height: 1.3;
}
.visual .swiper { height:100vh } /* 팝업의 높이가 됨 */
.visual .swiper-slide img { display:block; width:100%; height:100%; object-fit:cover; }

@media screen and (max-width:640px){
    .visual h2 {
        font-size: 25px;
        margin-top: 0;
        padding-bottom: 0;
    }
    .visual p {
        display: none;
        font-size: 12px;
        margin-top: 8px; 
    }
    .visual .swiper { height:270px } /* 팝업의 높이가 됨 */
}

.service {
    background: #f4f4f4;
    padding: 70px 0;
}
.service h2 {
    display: none; /* 웹접근,표준 때문에 적었으나 디자인상에는 제목이 없으므로 숨김*/
}
.service ul {
    display: flex;
    justify-content: space-between;
}
.service ul li {
    width: 16.66%; /* li가 6개라서 100/6=16.66 값으로 반올림 하면 안됨 */
}
.service ul li a {
    padding-top: 95px; /* 아이콘이 들어갈 자리 */
    font-size: 16px;
    display: block;
    position: relative;
    text-align: center;
}
.service ul li a::before {
    /* 상단은 before로 하고 옆은 after로 한다? */
    position: absolute; /* a를 기준으로 정렬 */
    left: calc(50% - 39px);
    top: 0;
    content: "";
    width: 76px;
    height: 86px;
}

.service ul li.service1 a::before {
    background: url(../images/service01.svg) no-repeat center center;
}
.service ul li.service2 a::before {
    background: url(../images/service02.svg) no-repeat center center;
} 
.service ul li.service3 a::before {
    background: url(../images/service03.svg) no-repeat center center;
} 
.service ul li.service4 a::before {
    background: url(../images/service04.svg) no-repeat center center;
} 
.service ul li.service5 a::before {
    background: url(../images/service05.svg) no-repeat center center;
} 
.service ul li.service6 a::before {
    background: url(../images/service06.svg) no-repeat center center;
    left: calc(50% - 29px);
} 

@media screen and (max-width:640px) {
    .service {
        padding: 43px 0;
    }
    .service ul {
        flex-wrap: wrap;
    }
    .service ul li {
        width: calc(33.33% - 11px);
        text-align: center;
        padding-bottom: 29px;
    }
    .service ul li a {
        padding-top: 60px; /* 아이콘이 들어갈 자리 */
        font-size: 12px;
        word-break: normal;
    }
    .service ul li a::before {
        left: calc(50% - 39px);
        width: 76px;
        height: 55px;     
    }
    
    .service ul li.service1 a::before {
        background-size: 39px auto;
    }
    .service ul li.service2 a::before {
        background-size: 47px auto;
    } 
    .service ul li.service3 a::before {
        background-size: 49px auto;
    } 
    .service ul li.service4 a::before {
        background-size: 48px auto;
    } 
    .service ul li.service5 a::before {
        background-size: 43px auto;
    } 
    .service ul li.service6 a::before {
        left: calc(50% - 32px);
        background-size: 62px auto; 
    } 
}

.biz {
    margin: 104px;
}
.biz h2 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin-bottom: 20px;
}
.biz ul {
    display: flex;
    justify-content: space-between;
}

/* 지그재그 형식으로 작업했다면 
    .biz ul li:nth-child(1)를 넣고 margin을 주면 된다*/

.biz ul li a {
    width: 408px;
    height: 300px;
    display: block;
    color: #fff;
    border-radius: 10px;
    padding: 45px 50px 0 50px;
    position: relative;
}
.biz ul li.biz01 a{
    background-color: #1043C6;
}
.biz ul li.biz02 a {
    background-color: #FD6C1A;
}
.biz ul li.biz03 a {
    background-color: #5188FF;
}
.biz ul li a::after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% auto; /* 넓이에 높이를 맞추겠다는 의미*/
    opacity: 0.1; /* 배경 투명처리가 없어서 전체 opacity로 처리한다*/

}
.biz ul li.biz01 a::after {
    right: 50px;
    bottom: -30px;
    width: 120px;
    height: 150px;
    background-image: url(../images/biz_icon1.svg);
}
.biz ul li.biz02 a::after {
    right: 50px;
    bottom: -36px;
    width: 120px;
    height: 170px;
    background-image: url(../images/biz_icon2.svg);
}
.biz ul li.biz03 a::after {
    right: 50px;
    bottom: -35px;
    width: 132px;
    height: 150px;
    background-image: url(../images/biz_icon3.svg);
}
.biz ul li a h3 {
    font-size: 25px;
    font-weight: 700;
}
.biz ul li a h3 br {
    display: none;
}
.biz ul li a p {
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
}
.biz ul li a .more {
    position: absolute; /* a 를 기준으로 정렬*/
    left: 50px;
    bottom: 45px;
    color: rgba(255, 255, 255, 0.8);
    padding-right: 27px;
}
.biz ul li a .more::after { /* 대부분 오른쪽에서 시작하면 after를 줌*/
    position: absolute; /* more를 기준으로 정렬(이미 a를 기준으로 정렬이 있기에 안줘도 됨)*/
    right: 0;
    top: 0;
    content: "";
    width: 20px;
    height: 20px;
    background: url(../images/biz_more.svg) no-repeat center center;
}
@media screen and (max-width:640px) {
    .biz {
        margin: 10px 0;
    }
    .biz h2 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .biz ul {
        display: block;
    }
    .biz ul li {
        margin-bottom: 10px;
    }
    .biz ul li a {
        /* a에 display:block이 있기 때문에 넓이,높이 auto를 주면 알아서 줄어든다
        pc, 모바일 모두 내용이 들어가는 디자인*/
        width: auto; 
        height: 130px;
        padding: 29px 40px 29px 40px;
    }
    .biz ul li a::after {
        opacity: 0.3; /* 배경 투명처리가 없어서 전체 opacity로 처리한다*/
    }
    .biz ul li.biz01 a::after {
        right: 40px;  
        bottom: 20px;
        width: 65px;
        height: 80px;
    }
    .biz ul li.biz02 a::after {
        right: 45px;
        bottom: 19px;
        width: 55px;
        height: 88px;
    }
    .biz ul li.biz03 a::after {
        right: 35px;
        bottom: 22px;
        width: 70px;
        height: 70px;
    }
    .biz ul li a h3 {
        font-size: 20px;
        line-height: 1.2;
    }
    .biz ul li a h3 br {
        display: block;
    }
    .biz ul li a p {
        font-size: 0;
    }
    .biz ul li a .more {
        font-size: 12px;
        position: relative;
        left: auto;
        bottom: 10px;
        padding-right: 20px;
    }
    .biz ul li a .more::after { /* 대부분 오른쪽에서 시작하면 after를 줌*/
        top: 0;
        width: 18px;
        height: 18px;
    }
}/* media */

.news {
    margin-top: 135px;
}
.news h2 {
    font-size: 45px;
    font-weight: 700;
    color: #1d1d1d;
    margin-bottom: 20px;
}
.news ul li {
    border: 1px solid #ededed;
    margin-bottom: 5px;
}
.news ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center; /* display: flex;의 특성상 한줄로 가려는 특성이있어서 센터맞추라고 명령 */
    line-height: 55px;
    /* 공지사항에 행간을 높이값으로 주면 높이도 들어가고 글자도 높이에 중간에 배치됨
    이럴때는 행간에 px 로 줘도 괜찮음*/
    padding: 0 55px;
}
.news ul li a em {
    color: #fff;
    font-weight: 700;
    line-height: 26px;
    padding: 0 16px;
    border-radius: 100px;
}
.news ul li.notice01 a em {
    background: #FE7C1C;
}
.news ul li.notice02 a em {
    background: #1043C6;
}
/*복습필요*/
.news ul li a strong {
    width: 830px; /* 공지의 제목의 노출 될 넓이를 지정해주는 것 */
    white-space: nowrap; /* 줄바꿈 금지 */
    overflow: hidden; /* 영역에서 넘치는 글자 숨김*/
    text-overflow: ellipsis; /* 글자 끝에 점세개(...)추가 2개로 변경 안되며 없애는것도 안됨 */
}
.news .inner {
    position: relative; /* more 정렬의 기준 */
}
.news .more {
    position: absolute;
    right: 0 ;
    top: 16px;
}
.news .more a {
    border: 1px solid #F4F4F4;
    border-radius: 100px;
    padding: 8px 30px 8px 15px;
    display: block;
    position: relative;
}
.news .more a::after {
    position: absolute; 
    right: 14px;
    top: 14px;
    content: "";
    width: 10px;
    height: 10px;
    background: url(../images/news_more.svg) no-repeat center center / contain;
    /* pc와 모바일에서 아이콘 사이즈가 변경된다면 bacgroud-size를 미리 지정하는게 좋음 
    contain 이란 영역에 아이콘이 잘리지 않고 꽉 차제 나오는 명령*/
}

@media screen and (max-width:640px) {
    .news {
        margin-top: 78px;
    }
    .news h2 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .news ul li {
        border: 1px solid #ededed;
        margin-bottom: 5px;
    }
    .news ul li a {
        display: flex;
        align-items: center; /* display: flex;의 특성상 한줄로 가려는 특성이있어서 센터맞추라고 명령 */
        line-height: 55px;
        /* 공지사항에 행간을 높이값으로 주면 높이도 들어가고 글자도 높이에 중간에 배치됨
        이럴때는 행간에 px 로 줘도 괜찮음*/
        padding: 0 20px;
    }
    .news ul li a em {
        display: none;
    }
    /*복습필요*/
    .news ul li a strong {
        width: calc(100% - 72px);
        width: 230px; /* 공지의 제목의 노출 될 넓이를 지정해주는 것 */
    }
    .news .more {
        position: relative;
        right: auto;
        top: auto;
        margin-top: 10px;
        text-align: center;
    }
    .news .more a {
        border: 1px solid #ccc;
        border-radius: 100px;
        padding: 5px 30px 5px 15px;
        display: inline-block
    }
    .news .more a::after {
        right: 16px;
        top: 9px;
        width: 10px;
        height: 10px;
    }
} /* media */

.webzine {
    padding: 130px 0 133px 0 ; /* background 때문에 여백을 padding 으로 준다*/
    background: url(../images/webzin_bg.png) no-repeat center top 180px / cover;
}
.webzine .inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.webzine .tit h2 {
    font-size: 45px;
    font-weight: 700;
    color: #1d1d1d;
}
.webzine .tit strong {
    font-size: 15px;
}
.webzine ul {
    display: flex;
    /* 애는 justify-content: space-between;가 들어갈 수 없음
        이유는 ul에는 지금 넓이가 100%가 아니기 때문  */
}
.webzine ul li {
    margin-left: 28px;
    width: 299px;
}
.webzine ul li a {
    background-color: #fff;
    display: block;
    border-radius: 20px;
    overflow: hidden; 
    /* a안에 있는 이미지 boder-radius 역역 밖으로 나옴 
      해결방법1 이미지에 boder-radius를 또 주는 방법
      해결방법2 overflow: hidden;으로 boder-radius 밖으로 나온 이미지 숨기기 */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0);
}
.webzine ul li a strong {
    padding: 22px 29px;
    display: block;
    /* 제목 한줄로 자르기 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.webzine .more {
    position: absolute;
    right: 0;
    top: -50px;
}
.webzine .more a {
    border: 1px solid #ededed;
    border-radius: 100px;
    padding: 8px 30px 8px 15px;
    display: block;
    position: relative; /* after의 정렬기준*/
}
.webzine .more a::after {
    position: absolute; 
    right: 14px;
    top: 14px;
    content: "";
    width: 10px;
    height: 10px;
    background: url(../images/webzin_more.svg) no-repeat center center;
}


@media screen and (max-width:640px) {
    .webzine {
        padding:80px 0 80px 0 ; /* background 때문에 여백을 padding 으로 준다*/
        background-position: center top 140px;
        background-size: cover /* 넓이가 고정이 아니라 반드시 cover*/;
    }
    .webzine .inner {
        display: block;
    }
    .webzine .tit {
        display: flex;
        align-items: flex-end; /* 좌우요소 하단 정렬 */
    }
    .webzine .tit h2 {
        font-size: 25px;
    }
    .webzine .tit strong {
        font-size: 13px;
        margin-left: 10px;
    }
    .webzine ul {
        justify-content: space-between; /* 모바일에서는 넓이가 100이되어서 가능*/
        margin-top: 10px;
    }
    .webzine ul li {
        width: calc(50% - 8px);
        margin-left: 0;
    }
    /*원래 3개의 li가 있는데 마지막 li을 숨기고자 넣는 태그값*/
    .webzine ul li:last-child {
        display: none;
    }
    .webzine ul li a {
        border-radius: 10px;
    }
    .webzine ul li a img {
        width: 100%; /* 감싸는 요소의 넓이에 맞게 사이즈가 조절
        이미지는 넓이만 주면 대부분 높이*/
    }
    .webzine ul li a strong {
        padding: 9px 15px;
    }
    .webzine .more {
        font-size: 12px;
        position: relative;
        right: auto;
        top: auto;
        text-align: center;
        margin-top: 20px;
    }
    .webzine .more a {
        border: 1px solid #ccc;
        padding: 5px 30px 5px 15px;
        display: inline-block;
        color: #fff;
    }
    .webzine .more a::after {
        right: 16px;
        top: 9px;
        width: 10px;
        height: 10px;
        background: url(../images/webzin_more_w.svg) no-repeat center center;
    }
} /*media*/

.footer {
    background-color: #1043C6;
    color: #fff;
    padding-bottom: 133px;
}
.footer .f_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* 하단의 기준으로 위아래 정렬*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 20px;
}
.footer .f_top .f_logo strong {
    display: block;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}
.footer .f_top .f_logo span {
    display: block;
    font-size: 30px;
    line-height: 1.2;
}
.footer .f_top .f_nav ul {
    display: flex;
}
.footer .f_top .f_nav .privacy {
    font-weight: 700;
}
.footer .f_top .f_nav ul li {
    position: relative;
    margin-right: 27px;
}
.footer .f_top .f_nav ul li:last-child {
    margin-right: 0;
}
.footer .f_top .f_nav ul li::after {
    position: absolute;
    right: -18px;
    top: 10px;
    width: 2px;
    height: 2px;
    border-radius: 100%; /* 최대한 둥글게*/
    background-color: rgba(255, 255, 255, 0.8);
    content: "";
}
.footer .f_top .f_nav ul li:last-child::after {
    display: none;
}
.footer .f_btm {
    margin-top: 20px;
}
.footer .f_btm .f_info span {
    margin-right: 25px;
}
.footer .f_btm .f_info strong {
    margin-right: 10px;
    font-weight: 700;
}
.footer .f_btm .copyright {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.8)
}
.footer .wrapper {
    position: relative;
}
.footer .top {
    position: absolute;
    right: 0;
    bottom: 60px;
    width: 43px;
    height: 43px;
    background-color: #1d1d1d;
    color: #fff;
    text-align: center;
    line-height: 43px; /* 높이와 동일한 값 - 위아래 가운데 */
}


@media screen and (max-width:640px) {
    .footer {
        padding-bottom: 70px;
    }
    .footer .f_top {
        display: block;
        padding-bottom: 15px;
    }
    .footer .f_top .f_logo strong {
        font-size: 25px;
    }
    .footer .f_top .f_logo span {
        font-size: 13px;
    }
    .footer .f_top .f_nav {
        margin-top: 20px;
    }
    .footer .f_top .f_nav ul {
        flex-wrap: wrap; /* 줄바꿈 허용 */
    }
    .footer .f_top .f_nav ul li {
        margin-right: 23px;
    }
    .footer .f_top .f_nav ul li::after {
        right: -16px;
        top: 8px;
    }
    .footer .f_btm {
        margin-top: 15px;
    }
    .footer .f_btm .f_info span {
        margin-right: 26px;
    }
    .footer .f_btm .f_info strong {
        margin-right: 5px;
        font-weight: 700;
    }
    .footer .f_btm .copyright {
        margin-top: 5px;
        color: rgba(255, 255, 255, 0.8)
    }
    .footer .top {
        top: 2px;
        width: 35px;
        height: 35px;
        line-height: 35px; /* 높이와 동일한 값 - 위아래 가운데 */
    }
}