/*
    파일명 : contents.css
    작성자 : 박지현
    작성일 : 2024.02.28
    설  성 : 모든 콘텐츠 페이지별 디자인 스타일 저장
*/
@import url(default.css);
@import url(common.css);
@import url(layout.css);

/* ceo 인사말 - 회사소개 아래 */
.cts_greeting {
    margin: 280px 0 318px 0;
    position: relative;
}
.cts_greeting .tit {
    font-size: 35px;
    font-weight: 800;
    color: #010101;
    margin-bottom: 65px;
}
.cts_greeting p {
    margin-right: 600px;
}
.cts_greeting p strong {
    font-weight: 800;
    color: #DB000F;
}
.cts_greeting .ceo {
    position: absolute;
    left: calc(50% + 185px);
    top: 0;
}
.cts_greeting .sign {
    display: flex;
    align-items: center;
    align-items: flex-start;
    margin: 40px 0 0 0;
}
.cts_greeting .sign strong {
    display: block;
    font-size: 30px;
    font-weight: 800;
    margin: 0 20px 0 0 ;
}
@media screen and (max-width:1320px) {
    .cts_greeting .tit br.m_no {
        display: none;
    }
    .cts_greeting p {
        margin-right: 500px;
    }
}
@media screen and (max-width:1024px) {
    .cts_greeting {
        margin: 140px 0 318px 0;
        position: relative;
    }
    .cts_greeting .tit {
        font-size: 28px;
    }
    .cts_greeting .tit br.m_no {
        display: none;
    }
    .cts_greeting p {
        margin-right: 0;
    }
    .cts_greeting .ceo {
        display: none;
    }
    .cts_greeting .ceo {
        position: relative;
        left: auto;
        top: auto;
    }
}
@media screen and (max-width:768px) {
    .cts_greeting {
        margin: 140px 0 110px 0;
    }
    .cts_greeting .tit {
        font-size: 20px;
        margin-bottom: 65px;
    }
    .cts_greeting p {
        margin-right: 0;
    }
    .cts_greeting .ceo {
        display: none;
    }
    .cts_greeting .tit br.m_no {
        display: none;
    }
    .cts_greeting .sign strong {
        font-size: 18px;
        margin: 0 20px 0 0 ;
    }
    .cts_greeting .sign img {
        height: 65px;
        margin: 0 20px 0 0 ;
    }
}

/* 연혁 - 회사소개  */
.cts_history {
    padding: 160px 0 200px 0;
}
.cts_history .year10 {
    margin: 130px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cts_history .year10.right {
    flex-direction: row-reverse; /* 좌우가 반대되는 명령 */
}
.cts_history .year_tit {
    width: 430px;
    position: relative; /* p정렬의 기준 */
}
.cts_history .year_tit h2 {
    color: #010101;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 20px;
}
.cts_history .year_tit .photo img {
    border-radius: 20px;
    width: 100%;
}
.cts_history .year_tit p {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 18px;
    color: #fff;
}
.cts_history .year_cnt {
    width: calc(100% - 571px);
    position: relative; /* before 정렬의 기준 */
}
.cts_history .year_cnt::before {
    position: absolute;
    left: 106px;
    top: 25px;
    width: 1px;
    height: calc(100% - 25px);
    content: "";
    background-color: #DB000F;
}
.cts_history .right .year_cnt::before {
    left: auto;
    right: 98px;
}
/* 긴 중간선의 마지막 꼬리를 흰색으로 덧칠 */
.cts_history .year_cnt .year1_group:last-child dl dd:last-child { /*year1_group 안에 마지막 dd의 마지막*/
    position: relative;
}
.cts_history .year_cnt .year1_group:last-child dl dd:last-child::before{
    position: absolute;
    left: -80px;
    bottom: -30px;
    width: 3px;
    height: calc(100% -  -17px);
    background-color: #fff;
    content: "";
}
.cts_history .right .year_cnt .year1_group:last-child dl dd:last-child::before {
    left: auto;
    right: -88px;
    bottom: -30px;
}
.cts_history .year_cnt .year1_group {
    margin: 0 0 40px 0;
    display: flex;
    justify-content: space-between;
}
.cts_history .year_cnt .year1_group:last-child {
    margin-bottom: 0;
}
.cts_history .right .year_cnt .year1_group {
    flex-direction: row-reverse; /* 좌우 반대가 되는 명령 - 지그재그 콘텐츠에 사용*/
}
.cts_history .year_cnt .year1_group h3 {
    font-size: 30px;
    font-weight: 800;
    color: #DB000F;
    margin: 5px 0 0 0;
}
.cts_history .year_cnt .year1_group dl {
    width: calc(100% - 135px); /* 반응형 생각해서 넓이 줘야함 */
    margin: 15px 0 0 0;
}
.cts_history .year_cnt .year1_group dl dt {
    float: left; /* 존재를 숨기는 것 = 뒤에있는 dd 태그는 dt가 없는것으로 인식 함*/
    font-size: 20px;
    font-weight: 800;
    color: #3d3d3d;
    margin: -4px 0 0 0;
    position: relative;
}
.cts_history .right .year_cnt .year1_group dl dt {
    float: right;
}
.cts_history .year_cnt .year1_group dl dt::before {
    position: absolute;
    left: -32px;
    top: 10px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #DB000F;
    content: "";
}
.cts_history .right .year_cnt .year1_group dl dt::before {
    left: auto;
    right: -40px;
}
.cts_history .right .year_cnt .year1_group dl dd {
    margin: 0 50px 30px 0;
    text-align: right;
}
.cts_history .year_cnt .year1_group dl dd {
    margin: 0 0 30px 50px; /* 왼쪽에 dt가 들어갈 자리를 반드시 margin으로 만들어줘야함*/
    position: relative;
}
.cts_history .year_cnt .year1_group dl dd + dd { /* dt는 두개 이상 x dd만 가능 함 */
    margin-top: -15px;
}
@media screen and (max-width:1320px){
    .cts_history .year_tit h2 {
        font-size: 42px;
    }
    .cts_history .year_cnt .year1_group h3 {
        font-size: 27px;
        margin: 9px 0 0 0;
    }
    .cts_history .year_cnt {
        width: calc(100% - 500px);
    }
    .cts_history .year_tit .photo img {
        border-radius: 20px;
        width: 100%;
    }
}
@media screen and (max-width:1024px){
    .cts_history .year_tit h2 {
        font-size: 37px;
    }
    .cts_history .year_cnt .year1_group h3 {
        font-size: 22px;
        margin: 10px 0 0 0;
    }
    .cts_history .year_cnt {
        width: calc(100% - 480px);
    }
    .cts_history .year_tit .photo img {
        border-radius: 20px;
        width: 100%;
    }
}
 @media screen and (max-width:768px){
    .cts_history {
        padding: 90px 0 100px 0;
    }
    .cts_history .year10 {
        margin: 50px 0 0 0;
        display: block;
    }
    .cts_history .year_tit {
        width: auto;
    }
    .cts_history .year_tit p {
        font-size: 0;
        line-height: 0;
    }
    .cts_history .year_tit .photo img {
        border-radius: 10px;
        width: 100%;
    }
    .cts_history .year_cnt {
        width: auto;
    }
    .cts_history .year_cnt::before {
        display: none;
    }
    .cts_history .right .year_cnt::before {
        display: none;
    }
    .cts_history .year_cnt .year1_group {
        margin: 0 0 10px 0;
        flex-direction: column;
    }
    .cts_history .right .year_cnt .year1_group {
        flex-direction: column;
        margin-bottom: 10px;
    }
    .cts_history .year_cnt .year1_group h3 {
        font-size: 25px;
        margin: 30px 0 0 0;
    }
    .cts_history .year_cnt .year1_group dl {
        width: auto;
        margin: 20px 0 0 0;
        position: relative;
    }
    .cts_history .year_cnt .year1_group dl::before {
        position: absolute;
        height: 1px;
        width: 100%;
        border-color: #f4f4f4;
    }
    .cts_history .year_cnt .year1_group:last-child dl dd:last-child::before {
        display: none;
    }
    .cts_history .right .year_cnt .year1_group:last-child dl dd:last-child::before {
        display: none;
    }
    .cts_history .year_cnt .year1_group dl dt::before {
        display: none;
    }
    .cts_history .right .year_cnt .year1_group dl dt::before {
        display: none;
    }
    .cts_history .right .year_cnt .year1_group dl dt {
        float: left;
    }
    .cts_history .right .year_cnt .year1_group dl dd {
        margin: 0 0 20px 40px;
        text-align: left;
        font-size: 15px;
    }
}
.cts_ir03 {
    margin: 95px 0 150px 0;
}
.cts_ir03 h2 {
    font-size: 45px;
    font-weight: 800;
}
.cts_ir03 p {
    font-size: 25px;
    margin: 10px 0 30px 0;
}
.cts_ir03 .table_wrap table {
    width: 100%;
    border-collapse: collapse; /* 박스 여백 병합? 으로 table에만 적용 */
    /* border-top:  3px solid #DB000F; */
}
.cts_ir03 .table_wrap table caption {
    display: none;
}
.cts_ir03 .table_wrap table th,
.cts_ir03 .table_wrap table td {
    border: 1px solid #dbdbdb;
}
.cts_ir03 .table_wrap table th:first-child,
.cts_ir03 .table_wrap table td:first-child {
    border-left: 0;
}
.cts_ir03 .table_wrap table th:last-child,
.cts_ir03 .table_wrap table td:last-child {
    border-right: 0;
}
.cts_ir03 .table_wrap table tbody th,
.cts_ir03 .table_wrap table tbody td {
    padding: 20px 20px;
}
.cts_ir03 .table_wrap table thead th,
.cts_ir03 .table_wrap table thead td {
    padding: 20px 20px;
    background-color: #666;
    color: #fff;
}
.cts_ir03 .table_wrap table th {
    text-align: right;
    font-size: 22px;
}
.cts_ir03 .table_wrap table td {
    text-align: right;
    font-size: 18px;
}
.cts_ir03 .table_wrap table th:first-child {
    text-align: left;
}

@media screen and (max-width:1320px) {
    .cts_ir03 .table_wrap {
        overflow-y: auto;
    }
}/* media 1320 */ 
@media screen and (max-width:1204px) {
    .cts_ir03 {
        margin: 120px 0 120px 0;
    }
    .cts_ir03 h2 {
        font-size: 38px;
    }
    .cts_ir03 p {
        font-size: 18px;
        margin: 10px 0 30px 0;
    }
    .cts_ir03 .table_wrap table th {
        font-size: 16px;
    }
    .cts_ir03 .table_wrap table td {
        font-size: 14px;
    }
    .cts_ir03 .table_wrap table tbody th,
    .cts_ir03 .table_wrap table tbody td {
        padding: 10px 10px;
    }
}/* media 1024 */
@media screen and (max-width:768px) {
    .cts_ir03 {
        margin: 120px 0 120px 0;
    }
    .cts_ir03 h2 {
        font-size: 30px;
    }
    .cts_ir03 p {
        font-size: 16px;
        margin: 5px 0 20px 0;
    }
}/* media 1024 */

/* 사업실적검색 - 사업분야 */
.cts_biz05 {
    margin: 90px 0;
}
.cts_biz05 .search_group .search {
    max-width: 763px; /* 최대 넓이 */
    width: 100%;
    /* max-width: 763px; 와 width:100% 를 주면
      기본적인 넓이 100%지만 설정하고픈 763px 이상으로 넓어질까봐
       max-width(넓이지정) 을 줘서 그 이상으로 넓어지지 말라고 하는 명령 */
    height: 60px;
    border: 2px solid #DB000F;
    border-radius: 50px;
    margin: 0 auto; /* 넓이가 있는 block요소를 가운데 정렬*/
    position: relative; /* before 정렬 기준*/
    padding: 0 0 0 90px;
    display: flex;
    align-items: center; /* 위 아래 가운데*/
}
.cts_biz05 .search_group .search:hover,
.cts_biz05 .search_group .search:focus {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.cts_biz05 .search_group .search::before {
    position: absolute;
    left: 25px;
    top: 4px;
    font-size: 38px;
    font-weight: 800;
    color: #DB000F;
    content: "K";
}
.cts_biz05 .search_group .search label {
    display: none; 
}
.cts_biz05 .search_group .search input[type="text"] {
    font-size: 25px;
    font-weight: 800;
    color: #010101;
    width: calc(100% - 90px);
    border: 0;
    outline: 0; /* 입력할 때 생기는 테두리 */
}
.cts_biz05 .search_group .search input[type="text"]::placeholder {
    font-size: 22px;
    font-weight: 300;
    color: #999;
}
.cts_biz05 .search_group .search input[type="submit"] {
    border: 0;
    background-color: transparent; /* 배경 색 없애는 명령 */
    font-size: 0;
    line-height: 0;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26'%3E%3Cpath id='search-line' d='M22.518,20.708,28,26.19,26.19,28l-5.482-5.482a11.522,11.522,0,1,1,1.81-1.81Zm-2.568-.95a8.957,8.957,0,1,0-.192.192Z' transform='translate(-2 -2)' fill='%23db000f'/%3E%3C/svg%3E%0A");
    margin: 0 0 0 30px;
    cursor: pointer;
}

@media screen and (max-width:1320px) {
    .cts_biz05 .search_group .search {
        max-width: 650px; /* 최대 넓이 */
        height: 55px;
    }
}
@media screen and (max-width:1024px) {
    .cts_biz05 .search_group .search {
        max-width: 600px; /* 최대 넓이 */
    }
}
@media screen and (max-width:768px) {
    .cts_biz05 .search_group .search {
        max-width: 460px; /* 최대 넓이 */
        padding: 0 0 0 80px;
    }
}
@media screen and (max-width:500px) {
    .cts_biz05 .search_group .search {
        max-width: 360px; /* 최대 넓이 */
        padding: 0 0 0 65px;
        line-height: -1;
    }
    .cts_biz05 .search_group .search::before {
        left: 20px;
        top: 7px;
        font-size: 30px;
    }
    .cts_biz05 .search_group .search input[type="submit"] {
        width: 20px;
        height: 20px;
        margin: 0 0 0 50px;
        background-size: contain;
    }
    .cts_biz05 .search_group .search input[type="text"]::placeholder {
        font-size: 20px;
    }
    .cts_biz05 {
        margin: 90px 0;
    }
}
.cts_biz05 .login_group {
    width: 100%;
    max-width: 450px;
    margin: 50px auto;
}
.cts_biz05 .login_group h2 {
    font-size: 25px;
    font-weight: 800;
    margin: 110px 0 16px 10px;
}
.cts_biz05 .login_group .login_form {
    border: 2px solid #dbdbdb;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.07);
}
.cts_biz05 .login_group .login_form .user_id,
.cts_biz05 .login_group .login_form .user_pw {
    height: 70px;
    display: flex;
    align-items: center;
}
.cts_biz05 .login_group .login_form .user_id {
    border-bottom: 1px solid #dbdbdb;
}
.cts_biz05 .login_group .login_form .user_id label,
.cts_biz05 .login_group .login_form .user_pw label {
    font-size: 0;
    line-height: 0;
    width: 70px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.cts_biz05 .login_group .login_form .user_id label {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='19' viewBox='0 0 15 19'%3E%3Cpath id='user-line' d='M4,20a7.373,7.373,0,0,1,7.5-7.238A7.373,7.373,0,0,1,19,20H17.125A5.529,5.529,0,0,0,11.5,14.571,5.529,5.529,0,0,0,5.875,20Zm7.5-8.143A5.528,5.528,0,0,1,5.875,6.429,5.528,5.528,0,0,1,11.5,1a5.528,5.528,0,0,1,5.625,5.429A5.528,5.528,0,0,1,11.5,11.857Zm0-1.81a3.685,3.685,0,0,0,3.75-3.619A3.685,3.685,0,0,0,11.5,2.81,3.685,3.685,0,0,0,7.75,6.429,3.685,3.685,0,0,0,11.5,10.048Z' transform='translate(-4 -1)' fill='%23999'/%3E%3C/svg%3E%0A");
}
.cts_biz05 .login_group .login_form .user_pw label {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='21' viewBox='0 0 18 21'%3E%3Cpath id='lock-line' d='M19,10.4h1a1.026,1.026,0,0,1,1,1.05v10.5A1.026,1.026,0,0,1,20,23H4a1.026,1.026,0,0,1-1-1.05V11.45A1.026,1.026,0,0,1,4,10.4H5V9.35A7.181,7.181,0,0,1,12,2a7.181,7.181,0,0,1,7,7.35ZM5,12.5v8.4H19V12.5Zm6,2.1h2v4.2H11Zm6-4.2V9.35A5.13,5.13,0,0,0,12,4.1,5.13,5.13,0,0,0,7,9.35V10.4Z' transform='translate(-3 -2)' fill='%23999'/%3E%3C/svg%3E%0A");
}
.cts_biz05 .login_group .login_form input {
    width: calc(100% - 140px);
    font-size: 20px;
    line-height: 1.6;
    font-weight: 500;
    border: 0;
}
.cts_biz05 .login_group .login_form input::placeholder {
    font-size: 20px;
    font-weight: 300;
    color: #999;
}
.cts_biz05 .login_group .login_chk{
    margin: 10px 0 20px 0;   
}
.cts_biz05 .login_group .login_chk input {
    display: none;
}
.cts_biz05 .login_group .login_chk label {
    position: relative;
    font-size: 17px;
    padding-left: 30px;
}
.cts_biz05 .login_group .login_chk label::before {
    position: absolute;
    left: 10px;
    top: 3px;
    width: 16px;
    height: 16px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath id='checkbox-circle-line' d='M9,16a7,7,0,1,1,7-7A7,7,0,0,1,9,16Zm0-1.4A5.6,5.6,0,1,0,3.4,9,5.6,5.6,0,0,0,9,14.6Zm-.7-2.8L5.332,8.83l.99-.99L8.3,9.82l3.96-3.96.99.99Z' transform='translate(-2 -2)' fill='%23999'/%3E%3C/svg%3E%0A");
}
.cts_biz05 .login_group .login_chk input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cg id='그룹_27' data-name='그룹 27' transform='translate(-721 -1617)'%3E%3Ccircle id='타원_52' data-name='타원 52' cx='7' cy='7' r='7' transform='translate(721 1617)' fill='%23db000f'/%3E%3Cpath id='패스_7' data-name='패스 7' d='M13198.348,5304.816l.992-.952,1.964,1.964,3.949-3.95,1.033.973-4.982,4.962Z' transform='translate(-12474.316 -3680.846)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.cts_biz05 .login_group input[type="submit"] {
    width: 100%;
    background-color: #DB000F;
    color: #fff;
    border: 0;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 800;
    line-height: 2.5;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .cts_biz05 .login_group {
        max-width: 380px;
    }
    .cts_biz05 .login_group .login_form .user_id, 
    .cts_biz05 .login_group .login_form .user_pw {
        height: 60px;
    }
}
@media screen and (max-width:500px) {
    .cts_biz05 .login_group {
        max-width: 280px;
    }
    .cts_biz05 .login_group h2 {
        font-size: 22px;
        margin: 80px 0 16px 10px;
    }
    .cts_biz05 .login_group .login_form input::placeholder {
        font-size: 16px;
    }
    .cts_biz05 .login_group input[type="submit"] {
        font-size: 20px;
    }
    .cts_biz05 .login_group .login_form .user_id, 
    .cts_biz05 .login_group .login_form .user_pw {
        height: 50px;
    }
}

.cts_biz05 .join_group {
    max-width: 500px;
    width: 100%;
    margin: 50px auto;
}
.cts_biz05 .join_group h2 {
    font-size: 25px;
    font-weight: 800;
    margin: 50px 0 10px 5px;
}
.cts_biz05 .join_group p {
    margin: 10px 0 30px 5px;
}
.cts_biz05 .join_group .agree_box {
    width: 100%;
    height: 300px;
    border: 1px solid #dbdbdb;
    border-radius: 20px;
    padding: 20px;
}
.cts_biz05 .join_group .agree_box .inner1 {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.cts_biz05 .join_group .agree_box::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: transparent
}
.cts_biz05 .join_group .agree_box::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
}
.cts_biz05 .join_group .agree_box .inner2 {
    white-space: pre-line; /* br을 안써도 html에서 텍스트 enter 준 그대로 들어감 */
}
.cts_biz05 .join_group .agree_box .inner2 strong {
    font-size: 20px;
    font-weight: 800;
}
.cts_biz05 .join_group .agree_btn {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 50px 0;
}
.cts_biz05 .join_group .agree_btn input {
    display: none;
}
.cts_biz05 .join_group .agree_btn label {
    padding: 5px 0 5px 0;
    display: block;
    position: relative;
    cursor: pointer;
}
.cts_biz05 .join_group .agree_btn label::before {
    position: absolute;
    left: -20px;
    top: 6px;
    width: 16px;
    height: 16px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath id='checkbox-circle-line' d='M9,16a7,7,0,1,1,7-7A7,7,0,0,1,9,16Zm0-1.4A5.6,5.6,0,1,0,3.4,9,5.6,5.6,0,0,0,9,14.6Zm-.7-2.8L5.332,8.83l.99-.99L8.3,9.82l3.96-3.96.99.99Z' transform='translate(-2 -2)' fill='%23999'/%3E%3C/svg%3E%0A");
}
.cts_biz05 .join_group .agree_btn input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cg id='그룹_27' data-name='그룹 27' transform='translate(-721 -1617)'%3E%3Ccircle id='타원_52' data-name='타원 52' cx='7' cy='7' r='7' transform='translate(721 1617)' fill='%23db000f'/%3E%3Cpath id='패스_7' data-name='패스 7' d='M13198.348,5304.816l.992-.952,1.964,1.964,3.949-3.95,1.033.973-4.982,4.962Z' transform='translate(-12474.316 -3680.846)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.cts_biz05 .join_group .info .info_box {
    border: 1px solid #ccc;
    border-radius: 10px;
}
.cts_biz05 .join_group .info .info_box > div {
    height: 70px ;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.cts_biz05 .join_group .info .info_box > div:last-child {
    border-bottom: 0;
}
.cts_biz05 .join_group .info .info_box .user_id label,
.cts_biz05 .join_group .info .info_box .user_pw label,
.cts_biz05 .join_group .info .info_box .user_mail label {
    width: 70px;
    height: 100%;
    font-size: 0;
    line-height: 0;
    background-position: center center;
    background-repeat: no-repeat;
}
.cts_biz05 .join_group .info .info_box .user_id label {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='19' viewBox='0 0 15 19'%3E%3Cpath id='user-line' d='M4,20a7.373,7.373,0,0,1,7.5-7.238A7.373,7.373,0,0,1,19,20H17.125A5.529,5.529,0,0,0,11.5,14.571,5.529,5.529,0,0,0,5.875,20Zm7.5-8.143A5.528,5.528,0,0,1,5.875,6.429,5.528,5.528,0,0,1,11.5,1a5.528,5.528,0,0,1,5.625,5.429A5.528,5.528,0,0,1,11.5,11.857Zm0-1.81a3.685,3.685,0,0,0,3.75-3.619A3.685,3.685,0,0,0,11.5,2.81,3.685,3.685,0,0,0,7.75,6.429,3.685,3.685,0,0,0,11.5,10.048Z' transform='translate(-4 -1)' fill='%23999'/%3E%3C/svg%3E%0A");
}
.cts_biz05 .join_group .info .info_box .user_pw label {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='21' viewBox='0 0 18 21'%3E%3Cpath id='lock-line' d='M19,10.4h1a1.026,1.026,0,0,1,1,1.05v10.5A1.026,1.026,0,0,1,20,23H4a1.026,1.026,0,0,1-1-1.05V11.45A1.026,1.026,0,0,1,4,10.4H5V9.35A7.181,7.181,0,0,1,12,2a7.181,7.181,0,0,1,7,7.35ZM5,12.5v8.4H19V12.5Zm6,2.1h2v4.2H11Zm6-4.2V9.35A5.13,5.13,0,0,0,12,4.1,5.13,5.13,0,0,0,7,9.35V10.4Z' transform='translate(-3 -2)' fill='%23999'/%3E%3C/svg%3E%0A");
}
.cts_biz05 .join_group .info .info_box .user_mail label {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='15' viewBox='0 0 20 15'%3E%3Cg id='그룹_30' data-name='그룹 30' transform='translate(-806 -2525)'%3E%3Cg id='사각형_211' data-name='사각형 211' transform='translate(806 2525)' fill='none' stroke='%23999' stroke-width='2'%3E%3Crect width='20' height='15' rx='1' stroke='none'/%3E%3Crect x='1' y='1' width='18' height='13' fill='none'/%3E%3C/g%3E%3Cpath id='패스_8' data-name='패스 8' d='M13178.186,6578.85l8.624,5.986,9.3-5.986' transform='translate(-12371 -4052)' fill='none' stroke='%23999' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.cts_biz05 .join_group .info .info_box .user_id input,
.cts_biz05 .join_group .info .info_box .user_pw input {
    width: calc(100% - 150px);
}
.cts_biz05 .join_group .info .info_box input[type="text"],
.cts_biz05 .join_group .info .info_box input[type="password"] {
    font-size: 20px;
    line-height: 1.6;
    font-weight: 800;
    color: #010101;
    border: 0;
}
.cts_biz05 .join_group .info .info_box input[type="text"]::placeholder,
.cts_biz05 .join_group .info .info_box input[type="password"]::placeholder {
    font-size: 18px;
    font-weight: 300;
    color: #999;
}
.cts_biz05 .join_group .info .info_box .user_mail input {
    width: calc(100% - 205px);
}
.cts_biz05 .join_group .info .info_box .user_mail select {
    font-size: 18px;
    font-weight: 300;
    border: 0;
    outline: 0;
}
.cts_biz05 .join_group .info .info_box .user_gender {
    justify-content: center;
}
.cts_biz05 .join_group .info .info_box .user_gender input {
    display: none;
}
.cts_biz05 .join_group .info .info_box .user_gender label {
    width: calc(50% - 30px);
    margin: 0 5px;
    line-height: 45px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #666;
    text-align: center;
    cursor: pointer;
}
.cts_biz05 .join_group .info .info_box .user_gender input:checked + label {
    border: 2px solid #DB000F;
    color: #DB000F;
}
.cts_biz05 .join_group .info input[type="submit"] {
    width: 100%;
    background-color: #DB000F;
    color: #fff;
    border: 0;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 800;
    line-height: 2.5;
    cursor: pointer;
    margin: 20px 0 0 0;
}
@media screen and (max-width:768px) {
    .cts_biz05 .join_group {
        max-width: 460px;
    }
    .cts_biz05 .join_group .info .info_box input[type="text"]::placeholder,
    .cts_biz05 .join_group .info .info_box input[type="password"]::placeholder {
        font-size: 16px;
}
}
@media screen and (max-width:500px) {
    .cts_biz05 .join_group {
        max-width: 320px;
    }
    .cts_biz05 .join_group h2 {
        font-size: 25px;
        font-weight: 800;
        margin: 30px 0 10px 5px;
    }
    .cts_biz05 .join_group .info .info_box > div {
        height: 60px;
    }
    .cts_biz05 .join_group .info .info_box .user_mail input {
        width: calc(100% - 190px);
    }
    .cts_biz05 .join_group .info .info_box .user_mail select {
        font-size: 16px;
    }
    .cts_biz05 .join_group .info .info_box .user_gender label {
        line-height: 40px;
        font-size: 16px;
    }
    .cts_biz05 .join_group .info input[type="submit"] {
        font-size: 18px;
    }
}

.cts_brochure {
    margin: 90px 0 150px 0;
}
/* .cts_brochure .board_head {
    background-color: #EEEEEE;
    height: 60px;
    display: flex;
    align-items: center;
} */

.cts_brochure .board_head {
    display: block;
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
    border-bottom: 3px solid #DB000F;
    padding: 0 0 15px 0;
}
.cts_brochure .board_head .total_num {
    font-size: 18px;
    font-weight: 800;
}
.cts_brochure .board_head .total_num strong {
    color: #DB000F;
}
.cts_brochure .board_head .search .inner {
    display: flex;
}
.cts_brochure .board_head .search select{
    height: 40px;
    width: 120px;
    padding-left: 10px;
    border: 1px solid #999;
    outline: 0;
    border-radius: 5px;
    font-size: 16px;
    color: #999;
    text-align: center;
}
.cts_brochure .board_head .search label{
    display: none;
}
.cts_brochure .board_head .search input[type="text"] {
    width: 277px;
    height: 40px;
    margin: 0 5px;
    padding: 0 10px;
    border: 1px solid #999;
    border-radius: 5px;
    outline: 0;
    font-size: 16px;
    color: #dbdbdb;
}
.cts_brochure .board_head .search input[type="submit"] {
    width: 76px;
    height: 40px;
    background-color: #010101;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 800;
}
@media screen and (max-width:1024px) {
    .cts_brochure .board_head {
        display: block;
    }
    .cts_brochure .board_head .search select{
        width: 100px;
    }
    .cts_brochure .board_head .search {
        margin: 10px 0 0 0;
    }
    .cts_brochure .board_head .search .inner {
        justify-content: flex-end;
    }
    .cts_brochure .board_head .search .inner2 {
        max-width: 400px;
        width: calc(100% - 170px)
    }
    .cts_brochure .board_head .search input[type="text"] {
        width: calc(100% - 100px);
    }
}
@media screen and (max-width:768px) {
    .cts_brochure .board_head .search select{
        height: 40px;
        width: 100px;
        padding: 0;
        font-size: 14px;
    }
    .cts_brochure .board_head .search .inner {
        justify-content: flex-start;
    }
    .cts_brochure .board_head .search .inner2 {
        max-width: 478px;
        width: calc(100% - 10px)
    }
}

.cts_brochure .board_paging {
    border-top: 1px solid #ccc;
    padding: 27px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cts_brochure .board_paging .btn_prev,
.cts_brochure .board_paging .btn_next {
    width: 26px;
    height: 26px;
    font-size: 0;
    line-height: 0;
    border: 1px solid #666;
    border-radius: 100px;
    background-position: center center;
    background-repeat: no-repeat;
}
.cts_brochure .board_paging .btn_prev {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5.552' height='10.05' viewBox='0 0 5.552 10.05'%3E%3Cpath id='chevron_left_FILL0_wght300_GRAD-25_opsz20' d='M367.186-687.573l4.019,4.019a.57.57,0,0,1,.189.393.574.574,0,0,1-.189.409.585.585,0,0,1-.4.207.571.571,0,0,1-.416-.207l-4.324-4.324a.862.862,0,0,1-.16-.231.63.63,0,0,1-.058-.269.63.63,0,0,1,.058-.269.792.792,0,0,1,.16-.227l4.324-4.324a.58.58,0,0,1,.411-.2.57.57,0,0,1,.405.2.59.59,0,0,1,.194.4.566.566,0,0,1-.194.4Z' transform='translate(-365.847 692.596)'/%3E%3C/svg%3E%0A");
    margin: 0 10px 0 0 ;
}
.cts_brochure .board_paging .btn_next {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5.552' height='10.039' viewBox='0 0 5.552 10.039'%3E%3Cpath id='chevron_right_FILL0_wght300_GRAD-25_opsz20' d='M363.551-687.767l-4.019-4.019a.571.571,0,0,1-.189-.393.574.574,0,0,1,.189-.409.585.585,0,0,1,.4-.207.589.589,0,0,1,.421.2l4.324,4.324a1.061,1.061,0,0,1,.158.236.61.61,0,0,1,.06.269.612.612,0,0,1-.061.27.814.814,0,0,1-.158.223l-4.322,4.322a.534.534,0,0,1-.4.192.613.613,0,0,1-.393-.214.589.589,0,0,1-.194-.4.566.566,0,0,1,.194-.4Z' transform='translate(-359.343 692.795)'/%3E%3C/svg%3E%0A");
    margin: 0 0 0 10px ;
}
.cts_brochure .board_paging .btn_prev:hover,
.cts_brochure .board_paging .btn_next:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.07);
    background-color: #010101;
}
.cts_brochure .board_paging .btn_prev:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5.552' height='10.05' viewBox='0 0 5.552 10.05'%3E%3Cpath id='chevron_left_FILL0_wght300_GRAD-25_opsz20' d='M367.186-687.573l4.019,4.019a.57.57,0,0,1,.189.393.574.574,0,0,1-.189.409.585.585,0,0,1-.4.207.571.571,0,0,1-.416-.207l-4.324-4.324a.862.862,0,0,1-.16-.231.63.63,0,0,1-.058-.269.63.63,0,0,1,.058-.269.792.792,0,0,1,.16-.227l4.324-4.324a.58.58,0,0,1,.411-.2.57.57,0,0,1,.405.2.59.59,0,0,1,.194.4.566.566,0,0,1-.194.4Z' transform='translate(-365.847 692.596)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.cts_brochure .board_paging .btn_next:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5.552' height='10.039' viewBox='0 0 5.552 10.039'%3E%3Cpath id='chevron_right_FILL0_wght300_GRAD-25_opsz20' d='M363.551-687.767l-4.019-4.019a.571.571,0,0,1-.189-.393.574.574,0,0,1,.189-.409.585.585,0,0,1,.4-.207.589.589,0,0,1,.421.2l4.324,4.324a1.061,1.061,0,0,1,.158.236.61.61,0,0,1,.06.269.612.612,0,0,1-.061.27.814.814,0,0,1-.158.223l-4.322,4.322a.534.534,0,0,1-.4.192.613.613,0,0,1-.393-.214.589.589,0,0,1-.194-.4.566.566,0,0,1,.194-.4Z' transform='translate(-359.343 692.795)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.cts_brochure .board_paging .page{
    width: 26px;
    line-height: 26px;
    text-align: center;
    color: #010101;
}
.cts_brochure .board_paging .page.on,
.cts_brochure .board_paging .page:hover {
    border-radius: 100px;
    background-color: #DB000F;
    color: #fff;
    font-weight: 800;
    margin: 0 3px;
}
.cts_brochure .board_paging .page:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.07);
}
.cts_brochure .board_list {
    margin: 45px 0 0 0;
}
.cts_brochure .board_list ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cts_brochure .board_list ul li {
    width: calc(33.33% - 18.66px);
    margin-bottom: 50px;
}
.cts_brochure .board_list ul li a {
    display: block;
}
.cts_brochure .board_list ul li a .photo {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.cts_brochure .board_list ul li a .photo img {
    width: 100%;
    /* 반응형에서 이미지 태그를 사용해서 이미지를 삽입
    반드시 width가 필요
    감싸는 요소의 넓이에 %로 들어감.. */
    transition: 0.3s;
}
.cts_brochure .board_list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2 ,1);
}
.cts_brochure .board_list ul li a strong {
    font-size: 20px;
    font-weight: 800;
    color: #1d1d1d;
    display: block;
    margin: 5px 0;
    /* 한줄제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cts_brochure .board_list ul li a .group {
    display: flex;
}
.cts_brochure .board_list ul li a .group span {
    color: #666;
    padding-left: 20px;
    position: relative;
    margin-right: 8px;
}
.cts_brochure .board_list ul li a .group span::before {
    position: absolute;
    left: 0;
    top: -1px;
    width: 16px;
    height: 100%;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
}
.cts_brochure .board_list ul li a .group span.count::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15.182 9.887'%3E%3Cpath id='visibility_FILL0_wght300_GRAD-25_opsz20_1_' data-name='visibility_FILL0_wght300_GRAD-25_opsz20 (1)' d='M86.017-733.829a2.662,2.662,0,0,0,1.957-.807,2.67,2.67,0,0,0,.805-1.959,2.662,2.662,0,0,0-.807-1.957,2.67,2.67,0,0,0-1.959-.8,2.661,2.661,0,0,0-1.957.807,2.67,2.67,0,0,0-.805,1.959,2.661,2.661,0,0,0,.807,1.957A2.67,2.67,0,0,0,86.017-733.829Zm0-.98a1.725,1.725,0,0,1-1.264-.52,1.716,1.716,0,0,1-.522-1.262,1.725,1.725,0,0,1,.52-1.264,1.716,1.716,0,0,1,1.262-.522,1.725,1.725,0,0,1,1.264.52A1.716,1.716,0,0,1,87.8-736.6a1.725,1.725,0,0,1-.52,1.264A1.716,1.716,0,0,1,86.017-734.809Zm0,3.16A8.012,8.012,0,0,1,81.487-733a8.444,8.444,0,0,1-3.063-3.589,8.446,8.446,0,0,1,3.062-3.589,8.007,8.007,0,0,1,4.528-1.354,8.012,8.012,0,0,1,4.529,1.354,8.443,8.443,0,0,1,3.063,3.589A8.446,8.446,0,0,1,90.543-733,8.007,8.007,0,0,1,86.016-731.65ZM86.015-736.593Zm0,4.037a7.322,7.322,0,0,0,3.867-1.08,7.167,7.167,0,0,0,2.729-2.957,7.168,7.168,0,0,0-2.729-2.957,7.323,7.323,0,0,0-3.867-1.08,7.323,7.323,0,0,0-3.867,1.08,7.168,7.168,0,0,0-2.729,2.957,7.168,7.168,0,0,0,2.729,2.957A7.322,7.322,0,0,0,86.015-732.556Z' transform='translate(-78.424 741.537)'/%3E%3C/svg%3E%0A");
    background-size: 15px auto;
} 
.cts_brochure .board_list ul li a .group span.date::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath id='calendar-2-fill' d='M11,2.2h2.4a.6.6,0,0,1,.6.6v9.6a.6.6,0,0,1-.6.6H2.6a.6.6,0,0,1-.6-.6V2.8a.6.6,0,0,1,.6-.6H5V1H6.2V2.2H9.8V1H11ZM3.2,5.8v6h9.6v-6ZM4.4,7H5.6V8.2H4.4Zm3,0H8.6V8.2H7.4Zm3,0h1.2V8.2H10.4Z' transform='translate(-2 -1)'/%3E%3C/svg%3E%0A");
    background-size: 13px auto;
} 
@media screen and (max-width:768px) {
    .cts_brochure .board_list ul li {
        width: calc(50% - 10px);
    }
}
@media screen and (max-width:500px) {
    .cts_brochure .board_list ul li {
        width: 100%
    }
}
.cts_brochure_view {
    margin: 100px 0;
}
.cts_brochure_view .view .view_head {
    border-top: 4px solid #DB000F;
}
.cts_brochure_view .view .view_head h2 {
    font-size: 40px;
    font-weight: 800;
    color: #010101;
    margin: 18px 0 10px 0;
}
.cts_brochure_view .view .view_head .info {
    background-color: #f4f4f4;
    padding: 15px 30px;
    display: flex;
    justify-content: flex-end;
}
.cts_brochure_view .view .view_head .info span {
    color: #666;
    padding-left: 20px;
    position: relative;
    margin-right: 8px;
}
.cts_brochure_view .view .view_head .info span::before {
    position: absolute;
    left: 0;
    top: -1px;
    width: 16px;
    height: 100%;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
}
.cts_brochure_view .view .view_head .info span.writer::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='19' viewBox='0 0 15 19'%3E%3Cpath id='user-line' d='M4,20a7.373,7.373,0,0,1,7.5-7.238A7.373,7.373,0,0,1,19,20H17.125A5.529,5.529,0,0,0,11.5,14.571,5.529,5.529,0,0,0,5.875,20Zm7.5-8.143A5.528,5.528,0,0,1,5.875,6.429,5.528,5.528,0,0,1,11.5,1a5.528,5.528,0,0,1,5.625,5.429A5.528,5.528,0,0,1,11.5,11.857Zm0-1.81a3.685,3.685,0,0,0,3.75-3.619A3.685,3.685,0,0,0,11.5,2.81,3.685,3.685,0,0,0,7.75,6.429,3.685,3.685,0,0,0,11.5,10.048Z' transform='translate(-4 -1)' fill='%23999'/%3E%3C/svg%3E%0A");
    background-size: 11px auto;
}
.cts_brochure_view .view .view_head .info span.view::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.853' height='14.883' viewBox='0 0 22.853 14.883'%3E%3Cpath id='visibility_FILL0_wght300_GRAD-25_opsz20_1_' data-name='visibility_FILL0_wght300_GRAD-25_opsz20 (1)' d='M89.853-729.935a4.006,4.006,0,0,0,2.946-1.214,4.019,4.019,0,0,0,1.212-2.949,4.007,4.007,0,0,0-1.214-2.946,4.02,4.02,0,0,0-2.949-1.212,4.006,4.006,0,0,0-2.946,1.214,4.019,4.019,0,0,0-1.212,2.949,4.006,4.006,0,0,0,1.214,2.946A4.019,4.019,0,0,0,89.853-729.935Zm0-1.475a2.6,2.6,0,0,1-1.9-.783,2.583,2.583,0,0,1-.785-1.9,2.6,2.6,0,0,1,.783-1.9,2.583,2.583,0,0,1,1.9-.785,2.6,2.6,0,0,1,1.9.783,2.583,2.583,0,0,1,.785,1.9,2.6,2.6,0,0,1-.782,1.9A2.583,2.583,0,0,1,89.853-731.41Zm0,4.756a12.06,12.06,0,0,1-6.817-2.039,12.71,12.71,0,0,1-4.611-5.4,12.713,12.713,0,0,1,4.609-5.4,12.053,12.053,0,0,1,6.815-2.039,12.06,12.06,0,0,1,6.817,2.039,12.71,12.71,0,0,1,4.611,5.4,12.713,12.713,0,0,1-4.609,5.4A12.052,12.052,0,0,1,89.852-726.654ZM89.85-734.1Zm0,6.077a11.022,11.022,0,0,0,5.821-1.626A10.789,10.789,0,0,0,99.78-734.1a10.79,10.79,0,0,0-4.109-4.451,11.023,11.023,0,0,0-5.821-1.626,11.023,11.023,0,0,0-5.821,1.626,10.79,10.79,0,0,0-4.109,4.451,10.789,10.789,0,0,0,4.109,4.451A11.022,11.022,0,0,0,89.85-728.018Z' transform='translate(-78.424 741.537)' fill='%23666'/%3E%3C/svg%3E%0A");
    background-size: 15px auto;
} 
.cts_brochure_view .view .view_head .info span.date::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.063' height='18.064' viewBox='0 0 18.063 18.064'%3E%3Cpath id='calendar-2-fill' d='M15.548,2.806H19.16a.9.9,0,0,1,.9.9V18.16a.9.9,0,0,1-.9.9H2.9a.9.9,0,0,1-.9-.9V3.71a.9.9,0,0,1,.9-.9H6.516V1H8.322V2.806h5.419V1h1.806ZM3.806,8.225v9.032H18.257V8.225Zm1.806,1.806H7.419v1.806H5.613Zm4.516,0h1.806v1.806H10.129Zm4.516,0h1.806v1.806H14.644Z' transform='translate(-2 -1)' fill='%23666'/%3E%3C/svg%3E%0A");
    background-size: 13px auto;
}
.cts_brochure_view .view .view_cnt {
    margin: 50px 0;
}
/* video 사이즈 조절 하는 방법 */
.cts_brochure_view .view .view_cnt .video {
    margin: 0 0 30px 0;
    position: relative; /* iframe 정렬의 기준 */
    overflow: hidden;
    padding: 28% 0; 
}
/* 영상 관련 코드 (object, embed)*/
.cts_brochure_view .view .view_cnt .video iframe,
.cts_brochure_view .view .view_cnt .video object,
.cts_brochure_view .view .view_cnt .video embed {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.cts_brochure_view .view .view_cnt p {
    font-size: 18px;
}
.cts_brochure_view .view .view_foot {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
.cts_brochure_view .view .view_foot .bnt_list{
    width: 88px;
    line-height: 40px;
    background-color: #010101;
    color: #fff;
    border-radius: 5px;
    display: block;
    padding-left: 42px;
    position: relative;
}
.cts_brochure_view .view .view_foot .bnt_list::before {
    position: absolute;
    left: 11px;
    top: 11px;
    width: 20px;
    height: 20px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29.899' height='15.735' viewBox='0 0 29.899 15.735'%3E%3Cpath id='list_FILL0_wght300_GRAD-25_opsz20' d='M179.642-639.866a1.111,1.111,0,0,1-.821-.343,1.116,1.116,0,0,1-.339-.812,1.148,1.148,0,0,1,.339-.822,1.1,1.1,0,0,1,.821-.352h21.175a1.119,1.119,0,0,1,.816.341,1.1,1.1,0,0,1,.344.809,1.142,1.142,0,0,1-.344.828,1.1,1.1,0,0,1-.816.35Zm0,6.584a1.111,1.111,0,0,1-.821-.343,1.116,1.116,0,0,1-.339-.812,1.148,1.148,0,0,1,.339-.822,1.1,1.1,0,0,1,.821-.352h21.175a1.119,1.119,0,0,1,.816.341,1.1,1.1,0,0,1,.344.809,1.142,1.142,0,0,1-.344.828,1.105,1.105,0,0,1-.816.35Zm0,6.584a1.111,1.111,0,0,1-.821-.343,1.116,1.116,0,0,1-.339-.812,1.148,1.148,0,0,1,.339-.822,1.1,1.1,0,0,1,.821-.352h21.175a1.119,1.119,0,0,1,.816.341,1.1,1.1,0,0,1,.344.809,1.142,1.142,0,0,1-.344.828,1.1,1.1,0,0,1-.816.35Zm-6.269-13.056a1.247,1.247,0,0,1-.876-.412,1.251,1.251,0,0,1-.419-.907,1.115,1.115,0,0,1,.42-.868,1.351,1.351,0,0,1,.9-.365,1.259,1.259,0,0,1,.888.359,1.175,1.175,0,0,1,.383.894,1.3,1.3,0,0,1-.376.887A1.2,1.2,0,0,1,173.373-639.754Zm0,6.565a1.244,1.244,0,0,1-.876-.415,1.261,1.261,0,0,1-.419-.911,1.152,1.152,0,0,1,.42-.9,1.341,1.341,0,0,1,.9-.371,1.25,1.25,0,0,1,.888.363,1.228,1.228,0,0,1,.383.932,1.3,1.3,0,0,1-.376.883A1.2,1.2,0,0,1,173.373-633.188Zm0,6.618a1.255,1.255,0,0,1-.876-.408,1.236,1.236,0,0,1-.42-.9,1.175,1.175,0,0,1,.42-.9,1.328,1.328,0,0,1,.9-.377,1.237,1.237,0,0,1,.888.371,1.242,1.242,0,0,1,.383.931,1.28,1.28,0,0,1-.376.883A1.2,1.2,0,0,1,173.374-626.571Z' transform='translate(-172.078 642.306)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:768px) {
    .cts_brochure_view .view .view_head h2 {
        font-size: 30px;
        margin: 18px 0 10px 0;
    }
    .cts_brochure_view .view .view_head .info {
        justify-content: space-around;

    }
    .cts_brochure_view .view .view_head .info span {
        padding: 25px 0 0 0;
    }
    .cts_brochure_view .view .view_head .info span::before {
        left: 0;
        top: 0;
        width: 100%;
        height: 18px;
    }
}
@media screen and (max-width:500px) {
    .cts_brochure .board_list ul li {
        width: 100%
    }
    .cts_brochure_view .view .view_head h2 {
        font-size: 25px;
        margin: 13px 0 10px 0;
    }
    .cts_brochure_view .view .view_head .info {
        padding: 10px 30px;
    }
    .cts_brochure_view .view .view_cnt p {
        font-size: 14px;
    }
}