/*****************************************************************
    파일명 : layout.css
    작성자 : 박지현
    작성일 : 2024.02.28
    설  성 : 모든페이지의 레이아웃 요소(header/footer/서브레이아웃)
             메뉴명, sub_wisual 이미지스타일, 탭메뉴
******************************************************************/

.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* display: flex 때문에 높이가 높지않은것도 높아져서 잡아줘야함*/
    /*align-items: center는 위에서 가운데로 들어가기때문에 위에 붙어있을거면  flex-start 줘야함*/
    font-weight: 800;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header .log{
    margin: 20px 0 0 30px;
}
.header .log a {
    display: block;
    width: 120px;
    height: 40px;
    font-size: 0;
    line-height: 0;
    background: url(../imges/common/log_w.svg) no-repeat center center / contain;
}
.header .gnb .gnb_open,
.header .gnb .gnb_close {
    display: none; /* 모바일에서 보일거임 */
}
.header .gnb ul.depth1 {
    display: flex;
    text-align: center;
}
.header .gnb ul.depth1>li {
    width: 160px;
}
.header .gnb ul.depth1>li>a {
    font-size: 22px;
    font-weight: 800;
    line-height: 100px;
    display: block;
}
.header .gnb ul.depth2 {
    display: none; /* 메뉴 오버했을 때 노출 */
}
.header .gnb ul.depth2>li>a {
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
    display: block;
}
/* .header .gnb ul.depth2>li>a[target="_blank"] {
    font-weight: 800;
} */ 
.header .tnb {
    display: flex;
    align-items: flex-start; /*display: flex; 때문에 위치 맞추기 위해 넣어야함 */
}
.header .tnb .lang {
    padding-left: 22px;
    font-size: 16px;
    position: relative; /* before 정렬의 기준 */
    margin: 40px 14px 0 0;
}
.header .tnb .lang::before {
    position: absolute;
    left: 0;
    top: 3px;
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath id='language_FILL0_wght300_GRAD-25_opsz20' d='M133.072-817.921a8.809,8.809,0,0,1-3.5-.7,9.028,9.028,0,0,1-2.865-1.928,9.04,9.04,0,0,1-1.928-2.865,8.806,8.806,0,0,1-.7-3.5,8.8,8.8,0,0,1,.7-3.512,9.073,9.073,0,0,1,1.928-2.86,9.023,9.023,0,0,1,2.865-1.932,8.792,8.792,0,0,1,3.5-.7,8.791,8.791,0,0,1,3.512.7,9.056,9.056,0,0,1,2.861,1.933,9.073,9.073,0,0,1,1.931,2.86,8.773,8.773,0,0,1,.7,3.5,8.8,8.8,0,0,1-.7,3.506,9.04,9.04,0,0,1-1.931,2.865,9.075,9.075,0,0,1-2.861,1.928A8.807,8.807,0,0,1,133.072-817.921Zm.006-1.2a5.213,5.213,0,0,0,1.047-1.812,14.552,14.552,0,0,0,.747-2.781H131.29a15.048,15.048,0,0,0,.751,2.82A4.816,4.816,0,0,0,133.078-819.119Zm-1.508-.146a9.447,9.447,0,0,1-.9-1.948,14.262,14.262,0,0,1-.61-2.5h-4.081a7.6,7.6,0,0,0,2.281,2.939A7.673,7.673,0,0,0,131.571-819.266Zm3.015,0a7.653,7.653,0,0,0,3.31-1.5,7.663,7.663,0,0,0,2.288-2.942H136.1a18.091,18.091,0,0,1-.663,2.509A11.339,11.339,0,0,1,134.585-819.266Zm-9.006-5.66h4.359c-.047-.363-.076-.719-.088-1.064s-.017-.674-.017-.981.006-.626.017-.956a9.507,9.507,0,0,1,.088-.989H125.58a5.847,5.847,0,0,0-.224,1,7.683,7.683,0,0,0-.065.991,7.683,7.683,0,0,0,.065.991A5.836,5.836,0,0,0,125.58-824.926Zm5.61,0h3.782c.049-.38.08-.731.093-1.052s.02-.634.02-.943-.007-.629-.02-.957-.044-.675-.093-1.039h-3.782a10.367,10.367,0,0,0-.1,1.039q-.02.492-.02.957c0,.31.007.628.02.957A10.323,10.323,0,0,0,131.189-824.926Zm5.028,0h4.364a6.081,6.081,0,0,0,.219-1,7.64,7.64,0,0,0,.065-.991,7.938,7.938,0,0,0-.065-1,5.457,5.457,0,0,0-.219-.992h-4.364q.07.546.088,1.065c.011.346.017.674.017.981s-.006.626-.017.955A9.484,9.484,0,0,1,136.218-824.926Zm-.115-5.2h4.082a7.638,7.638,0,0,0-2.269-2.94,7.835,7.835,0,0,0-3.329-1.517,10.674,10.674,0,0,1,.895,1.981A15.648,15.648,0,0,1,136.1-830.129Zm-4.812,0h3.582a15.2,15.2,0,0,0-.771-2.832,4.79,4.79,0,0,0-1.022-1.763,4.79,4.79,0,0,0-1.022,1.763A14.926,14.926,0,0,0,131.29-830.129Zm-5.312,0h4.081a15.315,15.315,0,0,1,.617-2.476,10.69,10.69,0,0,1,.895-1.981,7.885,7.885,0,0,0-3.331,1.521A7.615,7.615,0,0,0,125.978-830.129Z' transform='translate(-124.078 835.921)' fill='%23fff'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
}
.header .tnb .link {
    border: 1px solid #fff;
    padding: 7px 45px 5px 14px;
    border-radius: 25px;
    font-size: 16px;
    margin: 32px 46px 0 0;
    position: relative; /* after 정렬기준*/
}
.header .tnb .link::after {
    position: absolute;
    right: 15px;
    top: 10px;
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cpath id='open_in_new_FILL0_wght300_GRAD-25_opsz20' d='M172.635-774.729a1.315,1.315,0,0,1-.966-.4,1.316,1.316,0,0,1-.4-.966v-11.271a1.315,1.315,0,0,1,.4-.966,1.316,1.316,0,0,1,.967-.4h4.689a.523.523,0,0,1,.381.159.514.514,0,0,1,.16.378.534.534,0,0,1-.16.387.516.516,0,0,1-.381.164h-4.688a.267.267,0,0,0-.192.087.266.266,0,0,0-.087.192V-776.1a.267.267,0,0,0,.087.192.267.267,0,0,0,.192.087H183.9a.267.267,0,0,0,.192-.087.267.267,0,0,0,.087-.192v-4.688a.524.524,0,0,1,.159-.381.516.516,0,0,1,.38-.16.532.532,0,0,1,.385.16.516.516,0,0,1,.163.381v4.689a1.316,1.316,0,0,1-.4.967,1.315,1.315,0,0,1-.966.4Zm11.548-12.136-7.6,7.605a.506.506,0,0,1-.368.17.578.578,0,0,1-.378-.2.552.552,0,0,1-.2-.388.547.547,0,0,1,.194-.385l7.574-7.574h-2.56a.528.528,0,0,1-.386-.159.516.516,0,0,1-.16-.38.532.532,0,0,1,.16-.385.52.52,0,0,1,.386-.164h4.424v4.424a.528.528,0,0,1-.159.386.514.514,0,0,1-.378.16.535.535,0,0,1-.387-.16.52.52,0,0,1-.164-.386Z' transform='translate(-171.271 788.729)' fill='%23fff'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
}

/******* 메뉴에 over 했을 때 -- start ********/
@media screen and (min-width:1025px) {
    .header.menu_over {
        color: #010101;
    }
    .header.menu_over::before {
        position: absolute; /* header를 기준으로 */
        left: 0;
        top: 0;
        z-index: -1; 
        width: 100%;
        height: 500px;
        background-color: #fff;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); /* 보통 메뉴 over 했을 때 box-shadow 나 border 주는 편*/
        content: "";
    }
    .header.menu_over::after {
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
        height: 1px;
        border: #999;
        content: "";
    }
    .header.menu_over .log a {
        background: url(../imges/common/log_b.svg) no-repeat center center / contain;
    }
    .header.menu_over .gnb ul.depth2 {
        display: block; /* 2차메뉴 노출 */
        height: 400px;
        padding-top: 20px;
    }
    .header .gnb ul.depth1 > li.on > a { 
        border-bottom: 3px solid #DB000F;
        color: #DB000F;
    }
    .header .gnb ul.depth2 > li > a:hover,
    .header .gnb ul.depth2 > li.on > a:hover {
        font-weight: 800;
        color: #DB000F;
    }
    .header.menu_over .tnb .lang::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath id='language_FILL0_wght300_GRAD-25_opsz20' d='M133.072-817.921a8.809,8.809,0,0,1-3.5-.7,9.028,9.028,0,0,1-2.865-1.928,9.04,9.04,0,0,1-1.928-2.865,8.806,8.806,0,0,1-.7-3.5,8.8,8.8,0,0,1,.7-3.512,9.073,9.073,0,0,1,1.928-2.86,9.023,9.023,0,0,1,2.865-1.932,8.792,8.792,0,0,1,3.5-.7,8.791,8.791,0,0,1,3.512.7,9.056,9.056,0,0,1,2.861,1.933,9.073,9.073,0,0,1,1.931,2.86,8.773,8.773,0,0,1,.7,3.5,8.8,8.8,0,0,1-.7,3.506,9.04,9.04,0,0,1-1.931,2.865,9.075,9.075,0,0,1-2.861,1.928A8.807,8.807,0,0,1,133.072-817.921Zm.006-1.2a5.213,5.213,0,0,0,1.047-1.812,14.552,14.552,0,0,0,.747-2.781H131.29a15.048,15.048,0,0,0,.751,2.82A4.816,4.816,0,0,0,133.078-819.119Zm-1.508-.146a9.447,9.447,0,0,1-.9-1.948,14.262,14.262,0,0,1-.61-2.5h-4.081a7.6,7.6,0,0,0,2.281,2.939A7.673,7.673,0,0,0,131.571-819.266Zm3.015,0a7.653,7.653,0,0,0,3.31-1.5,7.663,7.663,0,0,0,2.288-2.942H136.1a18.091,18.091,0,0,1-.663,2.509A11.339,11.339,0,0,1,134.585-819.266Zm-9.006-5.66h4.359c-.047-.363-.076-.719-.088-1.064s-.017-.674-.017-.981.006-.626.017-.956a9.507,9.507,0,0,1,.088-.989H125.58a5.847,5.847,0,0,0-.224,1,7.683,7.683,0,0,0-.065.991,7.683,7.683,0,0,0,.065.991A5.836,5.836,0,0,0,125.58-824.926Zm5.61,0h3.782c.049-.38.08-.731.093-1.052s.02-.634.02-.943-.007-.629-.02-.957-.044-.675-.093-1.039h-3.782a10.367,10.367,0,0,0-.1,1.039q-.02.492-.02.957c0,.31.007.628.02.957A10.323,10.323,0,0,0,131.189-824.926Zm5.028,0h4.364a6.081,6.081,0,0,0,.219-1,7.64,7.64,0,0,0,.065-.991,7.938,7.938,0,0,0-.065-1,5.457,5.457,0,0,0-.219-.992h-4.364q.07.546.088,1.065c.011.346.017.674.017.981s-.006.626-.017.955A9.484,9.484,0,0,1,136.218-824.926Zm-.115-5.2h4.082a7.638,7.638,0,0,0-2.269-2.94,7.835,7.835,0,0,0-3.329-1.517,10.674,10.674,0,0,1,.895,1.981A15.648,15.648,0,0,1,136.1-830.129Zm-4.812,0h3.582a15.2,15.2,0,0,0-.771-2.832,4.79,4.79,0,0,0-1.022-1.763,4.79,4.79,0,0,0-1.022,1.763A14.926,14.926,0,0,0,131.29-830.129Zm-5.312,0h4.081a15.315,15.315,0,0,1,.617-2.476,10.69,10.69,0,0,1,.895-1.981,7.885,7.885,0,0,0-3.331,1.521A7.615,7.615,0,0,0,125.978-830.129Z' transform='translate(-124.078 835.921)'/%3E%3C/svg%3E%0A");
    }
    .header.menu_over .tnb .link::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cpath id='open_in_new_FILL0_wght300_GRAD-25_opsz20' d='M172.635-774.729a1.315,1.315,0,0,1-.966-.4,1.316,1.316,0,0,1-.4-.966v-11.271a1.315,1.315,0,0,1,.4-.966,1.316,1.316,0,0,1,.967-.4h4.689a.523.523,0,0,1,.381.159.514.514,0,0,1,.16.378.534.534,0,0,1-.16.387.516.516,0,0,1-.381.164h-4.688a.267.267,0,0,0-.192.087.266.266,0,0,0-.087.192V-776.1a.267.267,0,0,0,.087.192.267.267,0,0,0,.192.087H183.9a.267.267,0,0,0,.192-.087.267.267,0,0,0,.087-.192v-4.688a.524.524,0,0,1,.159-.381.516.516,0,0,1,.38-.16.532.532,0,0,1,.385.16.516.516,0,0,1,.163.381v4.689a1.316,1.316,0,0,1-.4.967,1.315,1.315,0,0,1-.966.4Zm11.548-12.136-7.6,7.605a.506.506,0,0,1-.368.17.578.578,0,0,1-.378-.2.552.552,0,0,1-.2-.388.547.547,0,0,1,.194-.385l7.574-7.574h-2.56a.528.528,0,0,1-.386-.159.516.516,0,0,1-.16-.38.532.532,0,0,1,.16-.385.52.52,0,0,1,.386-.164h4.424v4.424a.528.528,0,0,1-.159.386.514.514,0,0,1-.378.16.535.535,0,0,1-.387-.16.52.52,0,0,1-.164-.386Z' transform='translate(-171.271 788.729)'/%3E%3C/svg%3E%0A");
    }
    .header.menu_over .tnb .link {
        border-color: #010101;
    }
}/* media min 1025*/
/******* 메뉴에 over 했을 때 -- end ********/
/******* 메뉴가 상단에 고정되었을 때 -- strat ********/
.header.fiexd {
    color: #010101;
    background-color: #fff;
    border-bottom: 1px solid #f4f4f4
}
.header.fiexd .log a {
    background: url(../imges/common/log_b.svg) no-repeat center center / contain;
}
.header.fiexd .tnb .lang::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath id='language_FILL0_wght300_GRAD-25_opsz20' d='M133.072-817.921a8.809,8.809,0,0,1-3.5-.7,9.028,9.028,0,0,1-2.865-1.928,9.04,9.04,0,0,1-1.928-2.865,8.806,8.806,0,0,1-.7-3.5,8.8,8.8,0,0,1,.7-3.512,9.073,9.073,0,0,1,1.928-2.86,9.023,9.023,0,0,1,2.865-1.932,8.792,8.792,0,0,1,3.5-.7,8.791,8.791,0,0,1,3.512.7,9.056,9.056,0,0,1,2.861,1.933,9.073,9.073,0,0,1,1.931,2.86,8.773,8.773,0,0,1,.7,3.5,8.8,8.8,0,0,1-.7,3.506,9.04,9.04,0,0,1-1.931,2.865,9.075,9.075,0,0,1-2.861,1.928A8.807,8.807,0,0,1,133.072-817.921Zm.006-1.2a5.213,5.213,0,0,0,1.047-1.812,14.552,14.552,0,0,0,.747-2.781H131.29a15.048,15.048,0,0,0,.751,2.82A4.816,4.816,0,0,0,133.078-819.119Zm-1.508-.146a9.447,9.447,0,0,1-.9-1.948,14.262,14.262,0,0,1-.61-2.5h-4.081a7.6,7.6,0,0,0,2.281,2.939A7.673,7.673,0,0,0,131.571-819.266Zm3.015,0a7.653,7.653,0,0,0,3.31-1.5,7.663,7.663,0,0,0,2.288-2.942H136.1a18.091,18.091,0,0,1-.663,2.509A11.339,11.339,0,0,1,134.585-819.266Zm-9.006-5.66h4.359c-.047-.363-.076-.719-.088-1.064s-.017-.674-.017-.981.006-.626.017-.956a9.507,9.507,0,0,1,.088-.989H125.58a5.847,5.847,0,0,0-.224,1,7.683,7.683,0,0,0-.065.991,7.683,7.683,0,0,0,.065.991A5.836,5.836,0,0,0,125.58-824.926Zm5.61,0h3.782c.049-.38.08-.731.093-1.052s.02-.634.02-.943-.007-.629-.02-.957-.044-.675-.093-1.039h-3.782a10.367,10.367,0,0,0-.1,1.039q-.02.492-.02.957c0,.31.007.628.02.957A10.323,10.323,0,0,0,131.189-824.926Zm5.028,0h4.364a6.081,6.081,0,0,0,.219-1,7.64,7.64,0,0,0,.065-.991,7.938,7.938,0,0,0-.065-1,5.457,5.457,0,0,0-.219-.992h-4.364q.07.546.088,1.065c.011.346.017.674.017.981s-.006.626-.017.955A9.484,9.484,0,0,1,136.218-824.926Zm-.115-5.2h4.082a7.638,7.638,0,0,0-2.269-2.94,7.835,7.835,0,0,0-3.329-1.517,10.674,10.674,0,0,1,.895,1.981A15.648,15.648,0,0,1,136.1-830.129Zm-4.812,0h3.582a15.2,15.2,0,0,0-.771-2.832,4.79,4.79,0,0,0-1.022-1.763,4.79,4.79,0,0,0-1.022,1.763A14.926,14.926,0,0,0,131.29-830.129Zm-5.312,0h4.081a15.315,15.315,0,0,1,.617-2.476,10.69,10.69,0,0,1,.895-1.981,7.885,7.885,0,0,0-3.331,1.521A7.615,7.615,0,0,0,125.978-830.129Z' transform='translate(-124.078 835.921)'/%3E%3C/svg%3E%0A");
}
.header.fiexd .tnb .link::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cpath id='open_in_new_FILL0_wght300_GRAD-25_opsz20' d='M172.635-774.729a1.315,1.315,0,0,1-.966-.4,1.316,1.316,0,0,1-.4-.966v-11.271a1.315,1.315,0,0,1,.4-.966,1.316,1.316,0,0,1,.967-.4h4.689a.523.523,0,0,1,.381.159.514.514,0,0,1,.16.378.534.534,0,0,1-.16.387.516.516,0,0,1-.381.164h-4.688a.267.267,0,0,0-.192.087.266.266,0,0,0-.087.192V-776.1a.267.267,0,0,0,.087.192.267.267,0,0,0,.192.087H183.9a.267.267,0,0,0,.192-.087.267.267,0,0,0,.087-.192v-4.688a.524.524,0,0,1,.159-.381.516.516,0,0,1,.38-.16.532.532,0,0,1,.385.16.516.516,0,0,1,.163.381v4.689a1.316,1.316,0,0,1-.4.967,1.315,1.315,0,0,1-.966.4Zm11.548-12.136-7.6,7.605a.506.506,0,0,1-.368.17.578.578,0,0,1-.378-.2.552.552,0,0,1-.2-.388.547.547,0,0,1,.194-.385l7.574-7.574h-2.56a.528.528,0,0,1-.386-.159.516.516,0,0,1-.16-.38.532.532,0,0,1,.16-.385.52.52,0,0,1,.386-.164h4.424v4.424a.528.528,0,0,1-.159.386.514.514,0,0,1-.378.16.535.535,0,0,1-.387-.16.52.52,0,0,1-.164-.386Z' transform='translate(-171.271 788.729)'/%3E%3C/svg%3E%0A");
}
.header.fiexd .tnb .link {
    border-color: #010101;
}
/******* 메뉴에 상단에 고정되었을 때 -- end ********/

@media screen and (max-width:1320px) {
    .header .logo {
        margin: 27px 0 0 20px;
    }
    .header .logo a {
        width: 90px;
        height: 32px;
    }
    .header .gnb ul.depth1 > li {
        width: 110px;
    }
    .header .gnb ul.depth1 > li > a {
        font-size: 18px;
    }
    .header .gnb ul.depth2 > li > a {
        font-size: 13px;
    }
    .header .tnb .link {
        margin-right: 20px;
    }
}
@media screen and (max-width:1024px) {
    .header {
        border-bottom: 0;
    }
    .header .log {
        margin: 15px 0 0 20px;
    }
    .header .log a{
        width: 90px;
        height: 30px;
    }
    .header .gnb .gnb_wrap {
        display: none; 
        position: absolute; /* header를 기준으로 */
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        color: #101010;
    }
    .header.menu_open .gnb .gnb_wrap {
        display: block; /* 메뉴 노출 */ 
    }
    .header .gnb .gnb_open {
        display: block;
    }
    .header.fixed .gnb .gnb_open {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.452' height='19.544' viewBox='0 0 23.452 19.544'%3E%3Cpath id='menu_FILL0_wght300_GRAD-25_opsz20' d='M172.995-656.186a.8.8,0,0,1-.648-.351,1.345,1.345,0,0,1-.269-.844,1.372,1.372,0,0,1,.269-.844.791.791,0,0,1,.648-.361h21.626a.791.791,0,0,1,.64.351,1.331,1.331,0,0,1,.269.834,1.387,1.387,0,0,1-.269.853.785.785,0,0,1-.64.361Zm0-8.572a.8.8,0,0,1-.648-.351,1.344,1.344,0,0,1-.269-.844,1.372,1.372,0,0,1,.269-.844.79.79,0,0,1,.648-.361h21.626a.79.79,0,0,1,.64.351,1.33,1.33,0,0,1,.269.834,1.387,1.387,0,0,1-.269.854.785.785,0,0,1-.64.361Zm0-8.572a.8.8,0,0,1-.648-.351,1.345,1.345,0,0,1-.269-.844,1.372,1.372,0,0,1,.269-.844.79.79,0,0,1,.648-.361h21.626a.79.79,0,0,1,.64.351,1.331,1.331,0,0,1,.269.834,1.387,1.387,0,0,1-.269.854.785.785,0,0,1-.64.361Z' transform='translate(-172.078 675.73)' fill='%23fff'/%3E%3C/svg%3E%0A");
    }
    .header .gnb .gnb_open,
    .header .gnb .gnb_close {
        position: absolute; /* header를 기준으로 */
        right: 0;
        top: 0;
        width: 60px;
        height: 50%; /* header 높이만큼 */
        font-size: 0;
        line-height: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.452' height='19.544' viewBox='0 0 23.452 19.544'%3E%3Cpath id='menu_FILL0_wght300_GRAD-25_opsz20' d='M172.995-656.186a.8.8,0,0,1-.648-.351,1.345,1.345,0,0,1-.269-.844,1.372,1.372,0,0,1,.269-.844.791.791,0,0,1,.648-.361h21.626a.791.791,0,0,1,.64.351,1.331,1.331,0,0,1,.269.834,1.387,1.387,0,0,1-.269.853.785.785,0,0,1-.64.361Zm0-8.572a.8.8,0,0,1-.648-.351,1.344,1.344,0,0,1-.269-.844,1.372,1.372,0,0,1,.269-.844.79.79,0,0,1,.648-.361h21.626a.79.79,0,0,1,.64.351,1.33,1.33,0,0,1,.269.834,1.387,1.387,0,0,1-.269.854.785.785,0,0,1-.64.361Zm0-8.572a.8.8,0,0,1-.648-.351,1.345,1.345,0,0,1-.269-.844,1.372,1.372,0,0,1,.269-.844.79.79,0,0,1,.648-.361h21.626a.79.79,0,0,1,.64.351,1.331,1.331,0,0,1,.269.834,1.387,1.387,0,0,1-.269.854.785.785,0,0,1-.64.361Z' transform='translate(-172.078 675.73)' fill='%23101010'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 30px auto;
    }
    .header .gnb .gnb_close {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15.556 15.556'%3E%3Cg id='그룹_23' data-name='그룹 23' transform='translate(-323.222 -17.222)'%3E%3Cg id='그룹_21' data-name='그룹 21' transform='translate(0 8)'%3E%3Crect id='사각형_46' data-name='사각형 46' width='20' height='2' transform='translate(324.636 9.222) rotate(45)' fill='%231d1d1d'/%3E%3C/g%3E%3Cg id='그룹_22' data-name='그룹 22' transform='translate(348 -306) rotate(90)'%3E%3Crect id='사각형_46-2' data-name='사각형 46' width='20' height='2' transform='translate(324.636 9.222) rotate(45)' fill='%231d1d1d'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .header.menu_open .gnb .gnb_open {
        display: none;
    }
    .header.menu_open .gnb .gnb_close {
        display: block;
    }
    .header .gnb ul.depth1 {
        display: block;
        text-align: left;
        margin-top: 100px;
        height: calc(100vh - 100px);
        overflow-y: auto;
    }
    .header .gnb ul.depth1 > li {
        width: auto;
        border-bottom: 1px solid #ededed;
    }
    .header .gnb ul.depth1 > li:first-child {
        border-top: 1px solid #ededed;
    }
    .header .gnb ul.depth1 > li > a {
        font-size: 20px;
        line-height: 50px;
        font-weight: 800;
        padding: 0 20px;
        position: relative; /* after 정렬의 기준 */
    }
    .header .gnb ul.depth1 > li > a::after {
        position: absolute;
        right: 26px;
        top: 20px;
        width: 11px;
        height: 7px;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.997 5.93'%3E%3Cpath id='chevron_left_FILL0_wght300_GRAD0_opsz24' d='M338.846-696.155l-5-5,5-5,.932.932-4.067,4.067,4.067,4.067Z' transform='translate(706.153 339.777) rotate(-90)' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .header .gnb ul.depth1 > li.on > a,
    .header .gnb ul.depth1 > li[data-menu="on"] > a {
        color: #F51919;
        font-weight: 800;
    }
    .header .gnb ul.depth1 > li.on > a::after,
    .header .gnb ul.depth1 > li[data-menu="on"] > a::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.997 5.93'%3E%3Cpath id='chevron_left_FILL0_wght300_GRAD0_opsz24' d='M338.846-696.155l-5-5,5-5,.932.932-4.067,4.067,4.067,4.067Z' transform='translate(-696.155 -333.847) rotate(90)' fill='%23f51919'/%3E%3C/svg%3E%0A");
    }
    .header .gnb ul.depth1 > li.on > a span,
    .header .gnb ul.depth1 > li[data-menu="on"] > a span {
        position: relative;
    }
    .header .gnb ul.depth1 > li.on > a span::after,
    .header .gnb ul.depth1 > li[data-menu="on"] > a span::after {
        position: absolute;
        right: -10px;
        top: 5px;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        content: "";
    }
    .header .gnb ul.depth1 > li.on > ul.depth2,
    .header .gnb ul.depth1 > li[data-menu="on"] > ul.depth2 {
        display: block;
        padding: 20px 0;
    }
    .header .gnb ul.depth2 > li > a {
        line-height: 30px;
        padding: 0 40px;
    }
    .header .gnb ul.depth2 > li > a,
    .header .gnb ul.depth2 > li > a:hover {
        font-weight: 300;
    }
    .header .gnb ul.depth2 > li > a span {
        position: relative;
    }
    .header .gnb ul.depth2 > li.on > a span,
    .header .gnb ul.depth2 > li > a:hover span {
        position: relative;
    }
    .header .tnb {
        display: none; /* 숨김 */
    }
    .header.menu_open .tnb {
        display: block;
        position: absolute; /* header를 기준으로 정렬 */
        left: 20px;
        top: 40px;
        color: #1d1d1d;
    }
    .header.menu_open .tnb .lang::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15.716 15.716'%3E%3Cpath id='language_FILL0_wght400_GRAD0_opsz24' d='M87.858-864.284a7.6,7.6,0,0,1-3.045-.619,7.971,7.971,0,0,1-2.5-1.689,7.97,7.97,0,0,1-1.689-2.5A7.6,7.6,0,0,1,80-872.142a7.582,7.582,0,0,1,.619-3.055,8,8,0,0,1,1.689-2.495,7.971,7.971,0,0,1,2.5-1.689A7.6,7.6,0,0,1,87.858-880a7.582,7.582,0,0,1,3.055.619,8,8,0,0,1,2.495,1.689A8,8,0,0,1,95.1-875.2a7.582,7.582,0,0,1,.619,3.055A7.6,7.6,0,0,1,95.1-869.1a7.97,7.97,0,0,1-1.689,2.5,8,8,0,0,1-2.495,1.689A7.582,7.582,0,0,1,87.858-864.284Zm0-1.611a9.974,9.974,0,0,0,.884-1.473A9.3,9.3,0,0,0,89.351-869H86.365a9.3,9.3,0,0,0,.609,1.631A9.975,9.975,0,0,0,87.858-865.9Zm-2.043-.314a10.887,10.887,0,0,1-.619-1.346A11.538,11.538,0,0,1,84.754-869H82.436a6.52,6.52,0,0,0,1.424,1.709A5.654,5.654,0,0,0,85.815-866.209Zm4.086,0a5.654,5.654,0,0,0,1.955-1.08A6.52,6.52,0,0,0,93.28-869H90.962a11.538,11.538,0,0,1-.442,1.444A10.888,10.888,0,0,1,89.9-866.209Zm-8.133-4.361H84.44q-.059-.393-.088-.776t-.029-.8q0-.413.029-.8t.088-.776H81.768a6.724,6.724,0,0,0-.147.776,6.256,6.256,0,0,0-.049.8,6.255,6.255,0,0,0,.049.8A6.728,6.728,0,0,0,81.768-870.57Zm4.243,0H89.7q.059-.393.088-.776t.029-.8q0-.413-.029-.8t-.088-.776H86.011q-.059.393-.088.776t-.029.8q0,.413.029.8T86.011-870.57Zm5.265,0h2.672a6.728,6.728,0,0,0,.147-.776,6.255,6.255,0,0,0,.049-.8,6.256,6.256,0,0,0-.049-.8,6.724,6.724,0,0,0-.147-.776H91.276q.059.393.088.776t.029.8q0,.413-.029.8T91.276-870.57Zm-.314-4.715H93.28a6.522,6.522,0,0,0-1.424-1.709,5.654,5.654,0,0,0-1.955-1.08,10.893,10.893,0,0,1,.619,1.346A11.541,11.541,0,0,1,90.962-875.285Zm-4.6,0h2.986a9.3,9.3,0,0,0-.609-1.63,9.975,9.975,0,0,0-.884-1.473,9.975,9.975,0,0,0-.884,1.473A9.3,9.3,0,0,0,86.365-875.285Zm-3.929,0h2.318a11.541,11.541,0,0,1,.442-1.444,10.891,10.891,0,0,1,.619-1.346,5.654,5.654,0,0,0-1.955,1.08A6.522,6.522,0,0,0,82.436-875.285Z' transform='translate(-80 880)' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
    }
    .header.menu_open .tnb .link {
        padding: 0 20px 0 0;
        font-weight: 800;
    }
    .header.menu_open .tnb .link::after {
        right: 0;
        top: 5px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12.066 12.066'%3E%3Cpath id='open_in_new_FILL0_wght400_GRAD0_opsz24' d='M121.23-828.934a1.184,1.184,0,0,1-.868-.361,1.184,1.184,0,0,1-.361-.868v-8.607a1.184,1.184,0,0,1,.361-.868,1.184,1.184,0,0,1,.868-.361h4.3v1.229h-4.3v8.607h8.607v-4.3h1.23v4.3a1.184,1.184,0,0,1-.361.868,1.184,1.184,0,0,1-.868.361Zm3.889-4.258-.861-.861,5.717-5.717h-2.213V-841h4.3v4.3h-1.23v-2.213Z' transform='translate(-120 841)' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
    }
}/*1024 @media*/

@media screen and (max-width:768px){
    .header {
        height: 50px;
    }
    .header .logo {
        margin-top: 11px;
    }
    .header .logo a {
        width: 74px;
        height: 26px;
    }
    .header .gnb .gnb_open,
    .header .gnb .gnb_close {
        background-size: 20px auto;
        height: 100%;
    }
    .header .gnb ul.depth1 {
        margin-top: 50px;
        height: calc(100vh - 50px);
    }
    .header.menu_open .tnb {
        top: 20px;
    }
    .header.menu_open .tnb .link::after {
        top: 5px;
    }
}
@media screen and (max-width:500px){

}/*500 @media*/

.footer {
    background-color: #101010;
    color: #fff;
    padding: 100px 0 110px 0;
}
.footer .wrapper { /* wrapper로 정렬기준 잡아도 ㅇ*/
    position: relative;
}
.footer .f_site {
    position: absolute;
    right: 0;
    top: 0;
}
.footer .f_site ul {
    display: none;
    position: absolute;
    left: 0;
    bottom: 32px;
    z-index: 100;
    width: 100%;
    background-color: #666;
    border-radius: 10px;
    padding: 20px;
}
.footer .f_site ul li a {
    display: block;
    line-height: 30px;
}
.footer .f_site ul li a:hover {
    font-weight: 700;
    text-decoration: underline;
}
.footer .f_site .open,
.footer .f_site .close {
    padding: 8px 60px 8px 20px;
    display: block;
    border: 1px solid #fff;
    border-radius: 50px;
    position: relative;
    font-size: 16px;
}
.footer .f_site .close {
    display: none;
}
.footer .f_site .open::after,
.footer .f_site .close::after {
    position: absolute;
    right: 20px;
    top: 13px;
    width: 12px;
    height: 7px;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.footer .f_site .open::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.769' height='6.935' viewBox='0 0 12.769 6.935'%3E%3Cpath id='arrow_drop_up_FILL0_wght300_GRAD-25_opsz20' d='M339.7-543.449a.664.664,0,0,1-.51-.207.7.7,0,0,1-.193-.492q0-.023.235-.482l5.408-5.435a1.1,1.1,0,0,1,.348-.228,1,1,0,0,1,.394-.091,1,1,0,0,1,.394.091,1.1,1.1,0,0,1,.348.228l5.419,5.435a.774.774,0,0,1,.168.243.675.675,0,0,1,.056.266.662.662,0,0,1-.19.471.659.659,0,0,1-.5.2Z' transform='translate(-339.001 550.384)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.footer .f_site .close::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='8.136' viewBox='0 0 15 8.136'%3E%3Cpath id='arrow_drop_down_FILL0_wght300_GRAD-25_opsz20' d='M345.629-555.8l-6.358-6.388a.9.9,0,0,1-.2-.284.764.764,0,0,1-.068-.312.777.777,0,0,1,.223-.553.774.774,0,0,1,.589-.235h13.362a.78.78,0,0,1,.6.243.816.816,0,0,1,.227.575q0,.019-.266.568l-6.363,6.385a1.228,1.228,0,0,1-.408.263,1.224,1.224,0,0,1-.463.1,1.224,1.224,0,0,1-.463-.1A1.228,1.228,0,0,1,345.629-555.8Z' transform='translate(-339.001 563.576)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.footer .f_site.on .open {
    display: none;
}
.footer .f_site.on .close {
    display: block;
}
.footer .f_site.on ul {
    display: block;
}
.footer .f_nav ul {
    display: flex;
    flex-wrap: wrap; /* 줄바꿈 허용 */
}
.footer .f_nav ul li {
    margin-right: 45px;
    position: relative;
}
.footer .f_nav ul li::after {
    position: absolute;
    right: -22px;
    top: 2px;
    width: 1px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    content: "";
}
.footer .f_nav ul li:last-child:after {
    display: none;
}
.footer .f_nav ul li a span {
    font-weight: 800;
}
.footer .copyright {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}

@media screen and (max-width:1024px) {
    .footer {
        padding: 47px 0 50px 0;
    }
    .footer .f_site {
        position: relative;
        right: auto;
        top: auto;
        /* display: flex;
        justify-content: space-between; */
    }
    .footer .f_site .open,
    .footer .f_site .close {
        width: 100%;
        padding: 8px 60px 8px 20px;
        border: 0;
        background-color: #2d2d2d;
        border-radius: 5px;
        text-align: left;
    }
    .footer .f_nav ul {
        margin: 40px 0 25px 0;
    }
    .footer .f_nav ul li {
        margin-top: 10px;
    }
    .footer .f_nav ul a{
        font-size: 16px;
    }
}
@media screen and (max-width:500px) {
    .footer .f_nav ul li:nth-child(3)::after {
        display: none;
    }
}

.sub_visual {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url(../imges/common/sub_visual_bg01.png);
    color: #fff;
}
.sub_visual.sub1 {
    background-image: url(../imges/common/sub_visual_bg01.png);
}
.sub_visual.sub2 {
    background-image: url(../imges/common/sub_visual_bg02.png);
}
.sub_visual.sub3 {
    background-image: url(../imges/common/sub_visual_bg03.png);
}
.sub_visual.sub4 {
    background-image: url(../imges/common/sub_visual_bg04.png);
}
.sub_visual.sub5 {
    background-image: url(../imges/common/sub_visual_bg05.png);
}
.sub_visual .sub_tit {
    padding: 250px 0 0 0;
}
.sub_visual .sub_tit h1 {
    font-size: 56px;
    font-weight: 800;  
}
.sub_visual .sub_tit p {
    font-size: 28px; 
}
/* 메뉴 바 */
.lnb {
    color: #fff;
    height: 66px;
    padding: 12px 0;
    position: absolute; /* body에 정렬*/
    left: 0;
    top: 410px;
    width: 100%;
}
.lnb ul {
    display: flex;
    justify-content: center
}
.lnb ul li a {
    display: block;
    line-height: 40px;   
    padding: 0 24px;
    margin: 0 5px;
}
.lnb ul li.on a,
.lnb ul li a:hover {
    background-color: #fff;
    color: #DB000F;
    font-weight: 800;
    border-radius: 50px;
}
@media screen and (max-width:1024px) {
    .sub_visual {
        height: 420px;
    }
    .sub_visual .sub_tit h1 {
        font-size: 40px;  
    }
    .sub_visual .sub_tit p {
        font-size: 20px; 
    }
    .lnb {
        background-color: #DB000F;
        color: #fff;
        height: 66px;
        padding: 12px 0;
        position: absolute; /* body에 정렬*/
        left: 0;
        top: 400px;
        width: 100%;
    }
    .lnb ul {
        display: flex;
        justify-content: flex-start;
    }
    .lnb ul li a {
        line-height: 40px;   
        padding: 0 20px;
        margin: 0 5px;
    }
}
@media screen and (max-width:768px) {
    .sub_visual .sub_tit {
        padding: 240px 0 0 0;
    }
    .sub_visual {
        height: 400px;
    }
    .lnb {
        overflow-x: scroll;
    }
    .lnb ul li a {
        padding: 0 15px;
    }
}
@media screen and (max-width:500px) {
    .sub_visual .sub_tit h1 {
        font-size: 25px;  
    }
    .sub_visual .sub_tit p {
        font-size: 16px; 
    }
}

.contents {
    min-height: 200px;
}