@import url(default.css);
@import url(common.css);
@import url(layout.css);


/*
    파일명 : main.css
    작성자 : 박지현
    작성일 : 2024.03.13
    설  성 : 메인페이지에만 들어가는 스타일을 저장 (header, footer 빼고 전부 다)
*/
.container {
    margin-top: 150px; /* header의 높이만큼 */
}
.visual .swiper { 
    
}
.visual .swiper-slide img { 
    display:block; 
    width:100%; 
}
.visual .swiper-slide img.popup_m {
    display: none;
}
@media screen and (max-width:1640px) {
    .visual .swiper-slide {
        overflow: hidden;
     }
    .visual .swiper-slide img {
        width: 110%;
        transform: translate(-5%, 0);
    }
}
@media screen and (min-width:769px) and (max-width:1024px) {
    /* 769 ~ 1024까지만 적용*/
    /* .visual .swiper-slide {
        position: relative;
        height: px;
        overflow: hidden;
    }
    .visual .swiper-slide img {
        position: absolute;
        left: 50%;
        top: 0;
        width: auto;
        height: 300px;
        transform: translate(-50%, 0);
    } */
}

@media screen and (max-width:768px){
    .visual .swiper-slide img.popup_pc{
        display: none;
    }
    .visual .swiper-slide img.popup_m{
        display: block;
    }
    .container {
        margin-top: 80px;
    }
}
.product {
    margin: 140px 0 160px 0;
}
.product h2 {
    font-family: 'Noto Serif', serif;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 0 0 20px 0 ;
}
.product h2 strong {
    color: #B7121B;
}
.product .list ul li a {
    display: block;
    position: relative; /* before 정렬의 기준 */
    text-align: center;
    padding: 0 0 55px 0;
}
.product .list ul li a::before {
    position: absolute;
    left: 5px;
    bottom: 7px;
    z-index: -1;
    width: calc(100% - 12px);
    height: 240px;
    background-color: #f1f1f1;
    border-radius: 40px;
    /*box-shadow: 2px 2px 5px rgba(0,0,0,0.05);*/
    content: "";
    transition: 0.5s;
}
.product .list ul li a .photo {
    display: block;
}
.product .list ul li a .photo img {
    width: 50%;
    max-width: 80%;
}
.product .list ul li a .tit {
    display: block;
    font-size: 18px;
    transition: 0.5s;
}
.product .list ul li a .name {
    display: block;
    font-size: 15px;
    color: #B7121B;
    margin: 3px 0 25px 0;
    transition: 0.5s;
}
.product .list ul li a .info {
    display: block;
    font-size: 14px;
}
.product .list ul li a .info span + span {
    /* <span class="info">
            <span></span> ----------- 해당없음
            <span></span> ----------- 적용됨
            <span></span> ----------- 적용됨
        </span> */
    margin: 0 0 0 10px;
    position: relative;
}
@media screen and (max-width:1320px) {
    .product .list ul li.swiper-slide-active a .tit {
        font-size: 20px;
    }
}
@media screen and (min-width:1025px) {
    /* 왼쪽 요소 - active */
    .product .list ul li.swiper-slide-active a {
        color: #fff;
    }
    .product .list ul li.swiper-slide-active a::before {
        height: 270px;
        background: linear-gradient(-7deg, #644635, #B59A8B);
        box-shadow: 2px 3px 5px rgba(0,0,0,0.1);
    }
    .product .list ul li.swiper-slide-active a .tit {
        font-size: 22px;
        font-weight: 800;
    }
    .product .list ul li.swiper-slide-active a .name {
        font-size: 18px;
        font-weight: 800;
        color: #fff;
    }
}

@media screen and (max-width:1024px) {

}

@media screen and (max-width:768px) {
    .product {
        margin: 80px 0 100px 0;
    }
    .product h2 {
        margin: 0 0 10px 0 ;
    }
    .product .list ul li a .photo img {
        width: 50%;
    }
}

.brand {
    position: relative;
    height: 765px;
    background-color: #F0EBE4;
    padding: 120px 0;
}
.brand .photo {
    position: absolute;
    left: calc(50% + 106px);
    top: 92px;
    width: calc(50% - 100px);
    height: 582px;
    overflow: hidden;
    border-radius: 390px 0 0 0;
}
.brand .photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.brand .inner {
    width: calc(50% - -15px);
}
.brand h2 {
    font-size: 40px;
    font-weight: 600;
    font-family: "Noto Serif", serif;
}
.brand h3 {
    font-size: 25px;
    font-weight: 800;
    margin: 35px 0 10px 0;
}
.brand p {
    color: #666;
}
.brand .list ul {
    margin: 80px 127px 0 0;
    display: flex;
    justify-content: space-between;
}
.brand .list ul li {
    text-align: center;
}
.brand .list ul li strong {
    display: block;
    color: #311500;
}

@media screen and (max-width:1640px){
    .brand h2 {
        font-size: 35px;
    }
    .brand .photo {
        left: auto;
        right: 0;
        width: calc(100% - 888px);
        height: 550px;
    }
}

@media screen and (max-width:1024px) {
    .brand p br {
        display: none;
    }
    .brand h2 {
        font-size: 26px;
    }
}
@media screen and (max-width:768px) {
    .brand {
        height: 700px;
    }
    .brand h2 {
        font-size: 35px;
        font-weight: 600;
        font-family: "Noto Serif", serif;
    }
    .brand h3 {
        font-size: 20px;
        font-weight: 800;
        margin: 66px 0 10px 0;
    }
    .brand .inner {
        width: auto;
    }
    .brand .photo {
        display: none;
    }
    .brand .list ul {
        margin: 50px 0px 0 0;
        justify-content: space-around;
    }
    .brand .list ul li {
        background-color: #fff;;
        border-radius: 20px;
        width: calc(25% - 5px);
        padding: 20px 0;
        box-shadow: 1px 2px 5px rgba(0,0,0,0.05);
    }
}
@media screen and (max-width:500px) {
    .brand {
        height: 900px;
    }  
    .brand h2 br {
        display: block;
    }
    .brand h3 {
        font-size: 18px;
        margin: 77px 0 5px 0;
    }
    .brand .list ul {
        flex-wrap: wrap;
    }
    .brand .list ul li {
        width: calc(50% - 20px);
        margin-bottom: 20px;
    }
}