@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url(../fonts/Pretendard-Bold.woff2) format('woff2'), url(../fonts/Pretendard-Bold.woff) format('woff');
}

body {
    /* Pretendard Variable */
    font-family: 'Pretendard', sans-serif; /*서체*/
    font-size: 15px; /*크기*/
    color: #1d1d1d; /* 글자색상 */
    font-weight: 400; /* 글자의 두께 */
    line-height: 1.2; /*auto*/
    word-break: keep-all; /*(중요) 단어를 묶어서 줄바꿈 */
    letter-spacing: -0.05em; /*자간*/
}
.wrapper { /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
    width: 1280px; /* 넓이제한 */   
    margin: 0 auto; /* 가운데설정 */
}
#wrap {/* id=wrap"에 적용되는 스타일 */
    min-width: 1280px;
    /* pc형에서 wrapper사이즈보다브라우저 넓이가 작을 때 가로스크롤바가 생성되는데
    오른쪽 background가 짤리는 현상이 생김 가로스크롤바가 생성되엇을때도 홈페이지를 정상적으로 서비스 하기위해
    최소 넓이를 입력*/
}
/* 태그초기화 - 태그의 기본 스타일 제거하는 목적 */
* { /* *은 와이드 카드*/
    padding: 0; /* 모든 태그의 여백삭제 */
    margin: 0; 
    box-sizing: border-box; 
    /* padding 하고 border는 넓이를 늘리는 요소로, 넓이를 늘리지 않도록 하는 속성*/
}
/* 다중선택자 설정은 ,(쉼표)를 넣으면 된다 - 동일적용 보통 초기화에 많이 넣어서 씀  */
ul, ol, li {
    list-style: none; /* ul li앞에 동그라미 삭제 */
}
/* a태그는 파란색에 undeline이 기본적으로 생성되기에 text-decoration 태그로 없애야함 (none;) */
a {
 text-decoration: none; /* 언더라인 막는태크 */
 color: inherit; /* inherit = 누군가 상속해준 스타일을 적용해 라는 의미 > 기본적으로 body에있는거*/
}

.header {
    height: 100px;
}
header .logo {
    float: left;
    padding: 18px 0 18px 0;
}
header .gnb {
    float: right;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    color: #1d1d1d;
    font-size: 20px;
    padding: 36px 20px 36px 20px;
    display: block; 
    /* a는 inline 태그라서 padding이 적용안되므로 dispaly:block; 넣어줘야한다 */
}

.visual {
    height: 800px;
    background: url(../images/visual_bg.png) center center no-repeat;
    color:#fff;
    text-align: center; 
}
.visual strong {
    font-size: 25px;
    font-weight: 400;
    padding:290px 0 0 0;
    display: block;
}
.visual h2 {
    font-size: 45px;
}

.biz {
    margin: 140px 0 140px 0;
}
.biz .art,
.biz .edu {
    display: flex;
}
.biz .edu {
    justify-content: flex-end;
    margin: 60px 0 0 0;
}
.biz .art .inner {
    margin: 70px 0 0 100px;    
}
.biz .edu .inner {
    margin: 70px 100px 0 0;
    width: 355px;
    text-align: right;
}
.biz .art h2,
.biz .edu h2 {
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 700;
}
.biz .art .sub_tit,
.biz .edu .sub_tit {
    color: #1d1d1d;
    font-size: 20px;
    margin: 10px 0 10px 0;
}

.biz .edu .btn_wrap {
    justify-content: flex-end;
}
.biz .art .btn_wrap a,
.biz .edu .btn_wrap a {
    border: 1px solid #999;
    padding: 9px 22px 9px 22px;
    display: inline-block;
}
.biz .art .btn_wrap a {
    margin: 0 10px 0 0;
}
.biz .edu .btn_wrap a {
    margin: 0 0 0 10px;
}

