@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url(../fonts/Pretendard-Bold.woff2) format('woff2'), url(../fonts/Pretendard-Bold.woff) format('woff');
}

body {
    /* Pretendard Variable */
    font-family: 'Pretendard', sans-serif; /*서체*/
    font-size: 15px; /*크기*/
    color: #1d1d1d; /* 글자색상 */
    font-weight: 400; /* 글자의 두께 */
    line-height: 1.2; /*auto*/
    word-break: keep-all; /*(중요) 단어를 묶어서 줄바꿈 */
    letter-spacing: -0.05em; /*자간*/
}
.wrapper { /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
    width: 1280px; /* 넓이제한 */   
    margin: 0 auto; /* 가운데설정 */
}
#wrap {/* id=wrap"에 적용되는 스타일 */
    min-width: 1280px;
    /* pc형에서 wrapper사이즈보다브라우저 넓이가 작을 때 가로스크롤바가 생성되는데
    오른쪽 background가 짤리는 현상이 생김 가로스크롤바가 생성되엇을때도 홈페이지를 정상적으로 서비스 하기위해
    최소 넓이를 입력*/
}
/* 태그초기화 - 태그의 기본 스타일 제거하는 목적 */
* { /* *은 와이드 카드*/
    padding: 0; /* 모든 태그의 여백삭제 */
    margin: 0; 
    box-sizing: border-box; 
    /* padding 하고 border는 넓이를 늘리는 요소로, 넓이를 늘리지 않도록 하는 속성*/
}
/* 다중선택자 설정은 ,(쉼표)를 넣으면 된다 - 동일적용 보통 초기화에 많이 넣어서 씀  */
ul, ol, li {
    list-style: none; /* ul li앞에 동그라미 삭제 */
}
/* a태그는 파란색에 undeline이 기본적으로 생성되기에 text-decoration 태그로 없애야함 (none;) */
a {
 text-decoration: none; /* 언더라인 막는태크 */
 color: inherit; /* inherit = 누군가 상속해준 스타일을 적용해 라는 의미 > 기본적으로 body에있는거*/
}
address, em {
    font-style: normal;
}

.header {
    height: 100px;
}
header .logo {
    float: left;
    padding: 18px 0 18px 0;
}
header .gnb {
    float: right;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    color: #1d1d1d;
    font-size: 20px;
    padding: 36px 20px 36px 20px;
    display: block; 
    /* a는 inline 태그라서 padding이 적용안되므로 dispaly:block; 넣어줘야한다 */
}

.visual {
    height: 800px;
    background: url(../images/visual_bg.png) center center no-repeat;
    color:#fff;
    text-align: center; 
}
.visual strong {
    font-size: 25px;
    font-weight: 400;
    padding:290px 0 0 0;
    display: block;
}
.visual h2 {
    font-size: 45px;
}

.biz {
    margin: 140px 0 140px 0;
}
.biz .art,
.biz .edu {
    display: flex;
}
.biz .edu {
    justify-content: flex-end;
    margin: 80px 0 0 0;
}
.biz .art .inner {
    margin: 70px 0 0 100px;    
}
.biz .edu .inner {
    margin: 70px 100px 0 0;
    width: 355px;
    text-align: right;
}
.biz .art h2,
.biz .edu h2 {
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 700;
}
.biz .art .sub_tit,
.biz .edu .sub_tit {
    color: #1d1d1d;
    font-size: 20px;
    margin: 10px 0 10px 0;
}

.biz .edu .btn_wrap {
    justify-content: flex-end;
}
.biz .art .btn_wrap a,
.biz .edu .btn_wrap a {
    border: 1px solid #999;
    padding: 9px 22px 9px 22px;
    display: inline-block;
}
.biz .art .btn_wrap a {
    margin: 20px 10px 0 0;
}
.biz .edu .btn_wrap a {
    margin: 20px 0 0 10px;
}

.bbs {
    /* 배경이 콘텐츠보다 짧음 배경 이미지 만큼 높이 못줌 - visul하고 다름 */
    background: url(../images/bbs.png) center center no-repeat;
    color: #fff;
}
.bbs .notice {
    display: flex;
    justify-content: space-between; 
    /* 하위 요소 두개를 좌우로 나란히 배치 flex
    하위 요소를 균등하게 영역에 좌우에 딱 맞게 배치 space-between */
}
.bbs .notice .tit {
    margin: 140px 0 0 0;
}
.bbs .notice .tit h2 {
    font-size: 40px;
    font-weight: 700;
}
.bbs .notice .tit p {
    /*  글자의 색상을 opcity를 조절했다면 rgba로 투명한 색상을 표현한다.
    흰색은 rgb 255
    검은색은 rgb 0
    a는 alpha로 opcity값을 나타냄
    100% -1
    80% -0.8 
    color: rgba(red, green, blue); */
    margin: 16px 0 16px 0;
} 
.bbs .notice .tit a {
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 10px 25px 10px 25px;
    display: inline-block;
}
.bbs .notice ul {
    margin: 140px 0 0 0;
    width: 621px;
    /* ul의 넓이가 디자인보다 작아서 넓이를 줌. */
}
.bbs .notice ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.bbs .notice ul li:last-child {
    border-bottom: 0;
}
.bbs .notice ul li a {
    display: flex;
    justify-content: space-between;
    line-height: 60px;
    /* 공지사항 리스트 디자인을 할 때 정확하게 줄 간격을 주려고
    행간으로 떨어뜨려 디자인
    코딩도 정확하게 줄간격을 주기 위해서 line-hgiht을 고정값으로 줌 */
    font-size: 20px;
}
.bbs .notice ul li a strong {
    font-weight: inherit;
    /* strong 태그에 브라우저가 주는 스타일 말고 내가 strong태그를 감싸는 요소에 준 스타일을 상속
    브라우저가 주는 스타일 무시해! */
}
.bbs .notice .ul li a span {
    color: rgba(255, 255, 255, 0.8);
}
.bbs .video {
    margin: 100px 0 0 0;
}
.bbs .video h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 17px 0;
}
.bbs .video ul {
    display: flex;
    justify-content: space-between;
}
.bbs .video ul li {
    width: 408px;
}
.bbs .video ul li a strong {
    color: #1d1d1d;
    font-weight: inherit;
    font-size: 15px;
    margin: 15px 0 0 0;
    display: block;
    text-align: center;
}
.bbs .video ul li a img {
    border: 5px solid #10263A;
    /* 이미지 테두리 주면 무조건 밖으로 테두리가 생김 */
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.);
}

.footer {
    background: #1d1d1d;
    color: rgba(255, 255, 255, 0.8);
    margin: 116px 0 0 0 ;
    padding: 95px 0 116px 0;
}

.footer .f_nav {
    display: flex;
}
.footer .f_nav li {
    padding: 0 30px 0 0;
    /* border-right: 1px solid rgba(255, 255, 255, 0.4);
    메뉴 사이의 선은 border로 처리가 안됨
    높이 조절이 불가 위아래 위치 조정이 안됨. */
    position: relative;
    /* 정렬의 기준 - li::after의 정렬 기준 */
}
.footer .f_nav li::after {
    position: absolute;
    right: 14px;
    top: 2px;
    width: 1px;
    height: 13px;
    background-color: rgba(255, 255, 255, 0.5);
    content: ""; /* after가 보이게 하는 값 */
}
.footer .f_nav li:last-child::after  {
    display: none;
}
.footer .f_nav li.privacy {
    font-weight: 900;
}
.footer .f_info {
    display: flex;
    margin: 25px 0 18px 0;
}
.footer .f_info span,
.footer .f_info address {
    margin: 0 20px 0 0;
}
.footer .copyright {
    color: rgba(255, 255, 255, 0.6);
}