@charset "utf-8";
/* 한글웹폰트 */
@font-face {
    font-family: 'Pretendard'; font-weight: 400; font-display: swap;
    src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Pretendard'; font-weight: 700; font-display: swap;
    src: local('Pretendard Bold'), url(../fonts/Pretendard-Bold.woff2) format('woff2'), url(../fonts/Pretendard-Bold.woff) format('woff');
}
@font-face {
    font-family: 'KorailRoundGothicBold'; font-weight: normal; font-style: normal;
    src: local('KorailRoundGothicBold'), url('../fonts/KorailRoundGothicBold.woff2') format('woff2');
}
*::selection {
    background-color: #010101;
    color: #fff;
}
*::-moz-selection { /* 호환성을 위한 코드 */
    background-color: #101010;
    color: #fff;
}
html, body {
    font-family: 'Pretendard', 'Malgun Gothic', '맑은 고딕', 'Dotum', '돋움', 'Apple SD Gothic Neo', '애플 SD 산돌고딕 Neo', sans-serif; /* 서체 serif 명조 sans-serif 고딕 */
    font-size: 18px; /* 크기 */
    color: #101010; /* 글자색상 */
    font-weight: 300; /* 글자의 두께 */
    line-height: 1.2; /* auto */
    letter-spacing : -0.01em; /* 글자자간*/
    word-break: keep-all; /* 단어를 묶어서 줄바꿈 */
    word-wrap: break-word; /* 단어가 너무 길면 분리해서 줄바꿈 */
}
.wrapper { /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
    width: 1280px; /* 홈페이지 넓이 */
    margin: 0 auto;  /* 가운데 정렬 */
}
#wrap { /* id="wrap"에 적용되는 스타일 */
    width: 100%;
    overflow: hidden;
}

/* wrapper의 사이즈 1280 + 40px (좌우여백) = 1320 */
@media screen and (max-width:1320px) {
    .wrapper { 
        width: auto; 
        margin: 0 40px;
    }
    html, body {
        width: auto; 
        font-size: 18px;
    }
}
@media screen and (max-width:1024px){
    .wrapper { 
        width: auto; 
        margin: 0 20px;
    }
    html, body {
        font-size: 16px;
    }
}
@media screen and (max-width:500px){
    html, body {
        font-size: 14px;
    }
}
.skipnav {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 1000000000000;
    width: 100%;
}
.skipnav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background-color: #FF1414;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
}
.skipnav a[href="#gnb"] {
    background-color: #010101;
}
.skipnav a:focus {
    top: 100px;
}
