/* 모든페이지의 레이아웃 요소(header/footer/서브레이아웃)
메뉴명, sub_wisual 이미지스타일, 탭메뉴 */

header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
}
header .header_right {
    float: right;
    display: flex;
    justify-content: space-between;
}
header .logo {
    float: left;
    margin: 30px 0 0 0 ;
}
header .logo a {
    display: block;
    width: 236px;
    height: 31px;
    font-size: 0;
    line-height: 0;
    background: url(../imges/main/logo_c.svg) no-repeat center center / contain;
}
header .header_right .gnb .gnb_open,
header .header_right .gnb .gnb_close {
    display: none; /* 모바일 */
}
header .header_right .gnb ul,
header .header_right .tnb {
    display: flex;
    justify-content: space-between;
    margin: 37px 0 0 0;
}
header .header_right .gnb ul {
    margin-right: 30px;
}
header .header_right .gnb ul li {
    margin: 0 40px 0 0;
}header .header_right .gnb ul li a:hover {
    font-weight: 700;
}
header .header_right .tnb {
    font-size: 0;
    line-height: 0;
}
header .header_right .tnb .lang {
    width: 20px;
    height: 20px;
    background: url(../imges/main/lang_b.svg) no-repeat center center / contain;
    margin-right: 20px;
}
header .header_right .tnb .menu {
    width: 20px;
    height: 20px;
    background: url(../imges/main/menu_b.svg) no-repeat center center / contain;
}
@media screen and (max-width:1024px) {
    header .header_right .gnb,
    header.fixed .header_right .gnb {
        display: none;
    }
}
@media screen and (max-width:500px) {
    header {
        height: 50px;
    }
}
/* fixed */
header.fixed {
    position: fixed;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
}
header.fixed .logo a {
   background: url(../imges/common/logo_w01.svg) no-repeat center center / contain;
}
header.fixed .header_right .gnb ul {
    color: #fff;
}
header.fixed .header_right .tnb .lang {
    background: url(../imges/common/lang_w.svg) no-repeat center center / contain;
}
header.fixed .header_right .tnb .menu {
    background: url(../imges/common/menu_w.svg) no-repeat center center / contain;;
}
@media screen and (max-width:1024px)  {
    header.fixed {
        background-color: rgba(255,255,255,0.1);
    }
}



footer {
    background-color: #101010;
    padding: 70px 0;
    color: #fff;
}
footer .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .f_logo img {
    width: 130px;
}
footer .f_site  {
    position: relative;
}
footer .f_site ul {
    display: none;
    position: absolute;
    left: 0;
    bottom: 32px;
    z-index: 100;
    width: 100%;
    background-color: #fff;
    color: #101010;
    border-radius: 10px;
    padding: 20px;
    margin: 0 0 10px 0;
}
footer .f_site ul li a {
    display: block;
    line-height: 30px;
    font-size: 16px;
}
footer .f_site ul li a:hover {
    font-weight: 700;
}
footer .f_site .open,
footer .f_site .close {
    padding: 8px 50px 8px 30px;
    display: block;
    border: 1px solid #fff;
    border-radius: 10px;
    position: relative;
    margin: 93px 0 0 0;
}
footer .f_site .close {
    display: none;
}
footer .f_site .open::after,
footer .f_site .close::after {
    position: absolute;
    right: 25px;
    top: 14px;
    width: 12px;
    height: 7px;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
footer .f_site .open::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.769' height='6.935' viewBox='0 0 12.769 6.935'%3E%3Cpath id='arrow_drop_up_FILL0_wght300_GRAD-25_opsz20' d='M339.7-543.449a.664.664,0,0,1-.51-.207.7.7,0,0,1-.193-.492q0-.023.235-.482l5.408-5.435a1.1,1.1,0,0,1,.348-.228,1,1,0,0,1,.394-.091,1,1,0,0,1,.394.091,1.1,1.1,0,0,1,.348.228l5.419,5.435a.774.774,0,0,1,.168.243.675.675,0,0,1,.056.266.662.662,0,0,1-.19.471.659.659,0,0,1-.5.2Z' transform='translate(-339.001 550.384)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
footer .f_site .close::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='8.136' viewBox='0 0 15 8.136'%3E%3Cpath id='arrow_drop_down_FILL0_wght300_GRAD-25_opsz20' d='M345.629-555.8l-6.358-6.388a.9.9,0,0,1-.2-.284.764.764,0,0,1-.068-.312.777.777,0,0,1,.223-.553.774.774,0,0,1,.589-.235h13.362a.78.78,0,0,1,.6.243.816.816,0,0,1,.227.575q0,.019-.266.568l-6.363,6.385a1.228,1.228,0,0,1-.408.263,1.224,1.224,0,0,1-.463.1,1.224,1.224,0,0,1-.463-.1A1.228,1.228,0,0,1,345.629-555.8Z' transform='translate(-339.001 563.576)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
footer .f_site.on .open {
    display: none;
}
footer .f_site.on .close {
    display: block;
}
footer .f_site.on ul {
    display: block;
}
footer .f_nav {
    width: 700px;
    padding: 0 150px 0 30px;
}
footer .f_nav ul li a span {
    color: #fff;
    font-weight: 700;
}
footer .f_nav ul li,
footer .copyright {
    margin-bottom: 10px;
    font-size: 16px;
    color: rgba(255,255,255,0.5);
}
@media screen and (max-width:1024px) {
    footer .inner {
        display: block;
        text-align: center;
    }
    footer .f_nav {
        width: auto;
        padding: 50px 0 0 0;
    }
    footer .f_site .open,
    footer .f_site .close {
    width: 100%;
    text-align: left;
    margin: 50px 0 0 0;
}

}
@media screen and (max-width:768px) {
    footer .f_logo img {
        width: 110px;
    }
}